[2021-05-20 14:12] strichmo opened #613 "RVFI UVM step and compare with CSRs"
### Task Outcome
The RVFI/RVVI testbench can check CSRs to the equivalent functionality provided in the current module-based Step and Compare.

### Completion Criteria
- The RVFI implementation in E40X should be updated to support CSRs.
- The checker scoreboard should be extended in E40X to check CSRs at retirement
- Methodology must be developed and implemented to control CSR checking for CSRs th

[2021-05-20 14:13] MikeOpenHWGroup commented on #612
Another one to follow @JeanRochCoulon

[2021-05-20 14:14] MikeOpenHWGroup commented on #613
@JeanRochCoulon

[2021-05-20 14:15] strichmo opened #614 "Document RVFI/RVVI implementation in verification strategy"
### Task Outcome
The OpenHW Verification Strategy Document  should be updated to document RVFI, RVVI and general scoreboard implementation for CORE-V cores.

### Location Information
The source for the ReadTheDocs (restructed text) live here:
https://github.com/strichmo/core-v-docs/tree/master/verif/Common/CORE-V_Verification_Strategy

But this may be moved at a future date.  This issue will be up

[2021-05-20 14:19] strichmo opened #615 "integrate new ISACOV and deprecate old functional coverage"
### Task Outcome
The new ISACOV model is integrated and any pre-existing capabilities are integrated into the
### Background information
If necessary point to a specification in an outside document.

### Location Information
Specify the path, relative to the root of this GutHub project, of the code that
will be created and/or modified.

### Completion Criteria
- The old coverage model and its samp

[2021-05-20 14:37] MikeOpenHWGroup commented on #614
Last one @JeanRochCoulon, I promise.  :wink:

[2021-05-21 08:28] silabs-robin commented on #596
This was fixed as part of https://github.com/openhwgroup/core-v-verif/commit/621b642d6cf6a1edf4fe072efac38978efc3c712 .
So the issue can be closed.
I don't see a close button so it seems I don't have permissions to do it.

[2021-05-21 13:52] strichmo opened #619 "DSIM incorrectly failing mip interrupt assertion"
### Type
* Tool error

This appears to be a tool issue with the latest DSIM version against both the cv32e40p and cv32e40x.
This assertion will fire:
UVM_ERROR @ 1615.800 ns : uvmt_cv32e40x_interrupt_assert.sv(301) reporter [CV32E40X_IRQ_ASSERT] MIP of 0x00000000 does not follow flopped irq_i input: 0x00200500

It appears to be related to clock gating during WFI as the assertion should not be eval

[2021-05-21 14:16] MikeOpenHWGroup commented on #596
Thanks @silabs-robin.

[2021-05-21 14:16] #596 closed

[2021-05-21 15:18] Silabs-ArjanB commented on #619
If there is an issue in the 40P as well then you can ignore above remark.

[2021-05-24 18:47] strichmo commented on #619
@Silabs-ArjanB Yes the issue manifests in both core (e40x,e40p) so it appears systemic with DSIM as opposed to anything core-specific.

[2021-05-24 19:00] datum-dpoulin commented on #572
First cut of the new virtual sequences implementing dp_ram.sv and mm_ram.sv for cv32e40p has been issued a pull request: https://github.com/MikeOpenHWGroup/core-v-verif/pull/3

[2021-05-25 15:45] strichmo opened #632 "vplan review for PMA"
### Task Outcome
The verification plan for PMA functionality is reviewed for CV32E40X.  This plan will be adapted to the CV32E40S later, but that plan will be refined and reviewed at a later time.

### Background information
The current PMA vplan is found here: https://github.com/openhwgroup/core-v-verif/blob/cv32e40x/dev/cv32e40x/docs/VerifPlans/Simulation/privileged_spec/CV32E40X_PMA_VerifPlan.x

[2021-05-25 15:48] strichmo opened #633 "vplan review for Bus Errors"
### Task Outcome
The verification plan for OBI bus error functionality is reviewed for CV32E40X. This plan will be adapted to the CV32E40S later, but that plan will be refined and reviewed at a later time.

### Background information

The current PMA vplan is found here: https://github.com/openhwgroup/core-v-verif/blob/cv32e40x/dev/cv32e40x/docs/VerifPlans/Simulation/privileged_spec/CV32E40X_PMA_V

[2021-05-26 06:56] Silabs-ArjanB commented on #632
Please find my feedback attached:
[CV32E40X_PMA_VerifPlan.xlsx](https://github.com/openhwgroup/core-v-verif/files/6544431/CV32E40X_PMA_VerifPlan.xlsx)

[2021-05-26 07:30] Silabs-ArjanB commented on #632
Having also read the bus error vplan I see that a different (more encompassing) strategy is followed there.

Please add the following to the PMA vplan as well:

- Interaction with Debug mode and single stepping
- Interaction with Zce table jumps
- Suppression of *_req_o in case of faulting memory access attempts

[2021-05-26 07:39] Silabs-ArjanB commented on #633
Here is my feedback on the vplan:
[CV32E40X_VerifPlan_Bus_Error.xlsx](https://github.com/openhwgroup/core-v-verif/files/6544695/CV32E40X_VerifPlan_Bus_Error.xlsx)

[2021-05-26 07:53] Silabs-ArjanB commented on #632
Hi @silabs-hfegran The write buffer is not 100% sure yet. Anyway, I will add documentation issues for both topics for the 40x.

[2021-05-27 13:29] strichmo commented on #632
@silabs-hfegran Since the PMA is parameterized, this is problematic to achieve coverage given available randomization techniques.   Any known techniques to "randomize" parameters involve a lot of infrastructure and generally are not worth the complexity they introduce.

Therefore I would like to introduce a few fixed configurations to verify the PMA configurations.  Obviously these would need to b

[2021-05-27 14:21] strichmo commented on #632
Would like to see some functional coverage (might work with cover props as well) for:
- Instruction group type from ISACOV with PMA instruction fetch violation
- PMA region index matched (or default I/O unmapped region) crossed with:
  - Instruction fetch (passing)
  - Load (passing)
  - Store (passing)
  - Atomic (passing)
  - Load alignment error
  - Store alignment error
  - Atomic load-reserve

[2021-05-27 14:38] MikeOpenHWGroup commented on #632
Hi @silabs-hfegran, good job on the PMA DV plan.  My specific comments are in the attached spreadsheet.
[CV32E40X_PMA_VerifPlan(mt-review).xlsx](https://github.com/openhwgroup/core-v-verif/files/6554783/CV32E40X_PMA_VerifPlan.mt-review.xlsx)

I also have some comments that are not specific to this DV plan and I will post them on the [TWG: Verification](https://mattermost.openhwgroup.org/all-users/

[2021-05-27 17:58] MikeOpenHWGroup commented on #633
My comments:
[CV32E40X_VerifPlan_Bus_Error(mt-review).xlsx](https://github.com/openhwgroup/core-v-verif/files/6555888/CV32E40X_VerifPlan_Bus_Error.mt-review.xlsx)

[2021-05-28 02:37] strichmo commented on #633
My feedback:
- Interrupt priority is not required to be covered here.  The interrupt vplan does have (and will continue to have) priority checking of the arbitration as assertions.
- There are some other comments on the latency between NMI assertion and load/store bus errors.  I would like to see a max latency on this.
- Functional coverage on instruction group vs. bus error (on instruction fetch)

[2021-05-28 07:23] silabs-hfegran commented on #632
Thank you all for your comments and feedback!
I'll digest these comments and modify the plan to reflect these proposed changes.

@strichmo :
I guess I either didn't use the spreadsheet correctly or didn't express myself clearly enough - for the configurations, my intention was that all the other tests in the spreadsheet should be executed with a minimum set of configurations. My intentions were as

[2021-05-28 15:33] MikeOpenHWGroup opened #635 "Pass/Fail Criteria in DV plan template"
In [Verification Planning 101](https://github.com/openhwgroup/core-v-verif/blob/master/docs/VerifPlans/VerificationPlanning101.md#passfail-criteria), the Pass/Fail Criteria allows for selection between `Self Checking`, `Signature Check`, `Check against RM`, `Assertion Check`, `Any/All`, `Other` or `N/A`.  It has been suggested that the selection be expanded to include `Scoreboarding`, etc.

The pu

[2021-05-28 16:24] MikeOpenHWGroup commented on #635
I'm not sure it makes sense to add additional P/F Criteria and the following attempts to explain my reasoning.  Below is a schematic view of the E40* environment showing the step-and-compare method of checking the PC/CSRs/GPRs of the core against the predictions of the ISS:
![image](https://user-images.githubusercontent.com/55248931/120013623-f6288f00-bfae-11eb-9a3a-35be6ca23185.png)

Below is a s

[2021-05-31 09:05] silabs-hfegran commented on #635
I guess this is to some extent a matter of interpretation and to a certain degree organization; to me your reasoning appears sound, @MikeOpenHWGroup.

Furthermore I don't think that there should be anything providing "reference data" (in lieu of a better word) to the scoreboard other than the reference model. Thus, anything the scoreboard checks the RTL against should be based on output from the r

[2021-05-31 14:11] MikeOpenHWGroup commented on #635
Agreed.  I am not suggesting this for all the same reasons that you mention.

[2021-06-01 16:13] terracode01 opened #638 "wrong number of arguments specified for 'interrupt' attribute -- Getting this error while running interrupt test."
../../tests/programs/custom/interrupt_test/interrupt_test.h:69:1: error: wrong number of arguments specified for 'interrupt' attribute
 __attribute__((interrupt ("machine"))) void m_software_irq_handler(void);
 ^~~~~~~~~~~~~
../../tests/programs/custom/interrupt_test/interrupt_test.h:70:1: error: wrong number of arguments specified for 'interrupt' attribute
 __attribute__((interrupt ("machine")))

[2021-06-01 16:39] MikeOpenHWGroup commented on #638
Hi @terracode01, thanks for taking the time to create this issue.   Its difficult to fully diagnose your issue without additional details but it looks to me like a toolchain issue.  Information on the recommended toolchain can be found [here](https://github.com/openhwgroup/core-v-verif/blob/master/cv32e40p/sim/TOOLCHAIN.md).

I also notice that you are using the `make custom` target.  This target

[2021-06-01 18:34] MikeOpenHWGroup opened #639 "Diff'ing isacov and tracer logs"
This issue is motivated by pull request #636.

That PR brought in updates to the ISA coverage model and the ability to dump-and-diff tracer vs coverage logs.  The coverage model updates are necessary and resolve some minor issues affecting properly sampling of decoded instructions.  However, the dump-and-diff adds additional complexity to the environment, both in the form of dump utilities in the

[2021-06-01 21:29] strichmo commented on #639
Thanks for the issue @MikeOpenHWGroup.  This is something we need to resolve.

My assumption is that the design folks are going to maintain exactly as you describe: some type of tracing tools that provides a table of instructions executed, including an assembly listing.  This would not just be a reiteration of the RVFI fields (although some fields would make sense).  I would think anyone integrati

[2021-06-02 03:52] terracode01 commented on #638
Hi Mike,

What I understood was there are two tool chains COREV and PULP. Earlier I was using PULP tool chain. After updating my path to CORE V its running.

I am using the following steps to run

work_pulp/core-v-verif/cv32e40p/sim/core --> Running test in this DIR

Command used to run

[2021-06-02 03:52] #638 closed

[2021-06-02 07:27] silabs-halfdan commented on #639
I agree timestamp and disassembly would be a useful feature. I'll make a ticket for myself to add this in the RVFI tracer.
A standardized tracer log format sounds like a good idea to reduce future maintenance.

[2021-06-02 13:32] MikeOpenHWGroup commented on #638
Hi Rahul.   You are running the `core` testbench which does not support interrupt testing.   The `core` testbench exists as a demonstration vehicle only - if you want to fully verify the CV32E40P (or any other CORE-V cores) using core-v-verif you will need to use the UVM environment.  Note that this requires a commerical SystemVerilog simulator and in the case of CV32E40P and CV32E40X, an Imperas

[2021-06-03 09:27] silabs-robin commented on #639
I am trying to understand the scope of what makes this problematic.
"additional complexity to the environment" should indeed be for essential complexity and not accidental complexity.
The coverage agents logging should probably be there anyway, as all of our agents have infrastructure in place for logging capabilities (though I don't know how detailed isacov's logs must be).
Adding targets to make

[2021-06-03 13:23] MikeOpenHWGroup commented on #639
Good points and questions @silabs-robin.  Complexity creeps in step-by-step and eventually becomes problematic.  Adding little-used features to the environment will over time lead to "bloat-ware" and few will remember what `awk -F'\t' '{print $$4}'` is for.

I also prefer waiting for the updated RVFI based tracer as RVFI will be a main-line feature of our cores and the verification environments  a

[2021-06-03 20:43] strichmo commented on #524
Unassigning myself and assigning to @MikeOpenHWGroup for further assignement.  I am using the E40X for RVFI integration and do not have the time to invest in the E40P.

[2021-06-03 20:55] strichmo opened #649 "rehost verification strategy document from core-v-docs to core-v-verif"
### Task Outcome
The source and scripting to support the current Verification Strategy Document is submitted to the core-v-verif repository and removed from the master branch of the

### Background information
The current rendering of the Core-V Verification Strategy document is here:
https://core-v-docs-verif-strat.readthedocs.io/en/latest/

### Location Information
The current source is here:
ht

[2021-06-03 21:04] strichmo opened #650 "integrate the ISACOV functional coverage model to the CV32E40P"
### Task Outcome
Integrate the ISACOV coverage to the CV32E40P and measure functional coverage

### Background information
The ISACOV model is the next-generation functional ISA coverage model for the CV32E40X.  It is being developed on the E40X but should be applicable to any CORE-V core.
Once released to the cv32e40x/dev branch as the default coverage model for the E40X, the assignee of this tas

[2021-06-03 23:14] MikeOpenHWGroup commented on #524
Thanks @strichmo.

Hi @davideschiavone, can you provide an update on your efforts to integrated RVFI into CV32E40P?

---mike

[2021-06-04 01:45] MikeOpenHWGroup opened #651 "First event expression in uvma_debug_drvc::drv_req() consumes zero simulation time under DSIM."
This issue exists to continue the discussion started with PR #643.

The `debug_test_boot_set` test-program has simulator-dependent cycle-timing behaviour.  The code in question is in `uvma_debug_drvc::drv_req()`, starting at line [116](https://github.com/openhwgroup/core-v-verif/blob/master/lib/uvm_agents/uvma_debug/uvma_debug_drv.sv#L116).  Note that this is a library component, so it will affect

[2021-06-07 08:09] dawidzim opened #660 "Assign to member of enum in cv32e40p mm_ram.sv"
### Bug name
Assign to member of enum in `https://github.com/openhwgroup/core-v-verif/blob/master/cv32e40p/tb/core/mm_ram.sv`

### Type
* Compile error (hopefully nobody has committed anything that doesn't compile!)

Hey!
In `mm_ram.sv` we have this fragment of code:
[code]
TICKS is member of enum so should be treated like a constant.
LRM 1800-2017 Chapter 6.19:
[code]

[2021-06-07 08:51] silabs-robin commented on #635
Hi. A related thing about the template (thought not directly about this issue) that I want to mention.
We have test types "Directed Self-Checking" and "Directed Non-Self-Checking".
But wouldn't it be cleaner to just have "Directed"?
Since we already have the pass/fail criteria called "Self Checking", and for non-self-checking there are also pass/fail criteria that would be specified.

[2021-06-08 15:00] eroom1966 opened #662 "Coverage of test cv32e40p_csr_access_test, for exception behavior"
Can I ask, for the test above cv32e40p_csr_access_test - does this test also ensure that CSR Registers which should NOT exist, raise an appropriate illegal instruction exception ?

so as a simple example, a Read from uip/csr[0x044] is expected to cause an illegal instruction exception

thx
Lee

[2021-06-08 18:56] MikeOpenHWGroup commented on #662
Hi @eroom1966.  The `cv32e40p_csr_access_test` makes no attempt to access non-existant CSRs.  This is a generated test based on the description at `core-v-verif/lib/corev-dv/cv32e40p_csr_template.yaml`.

The test-program that does access non-existant CSRs is `cv32e40p_readonly_csr_access_test.S`.  Rather than attempt to access every non-existant CSR address, this program attempts to access PULP CS

[2021-06-08 19:30] eroom1966 commented on #662
Hi mike
i tried to run both of these in USE_ISS mode, but was unsuccessful.
How do I make it run ?
Thx
Lee

Sent from my iPhone

[2021-06-09 07:41] silabs-robin commented on #635
Another idea. Sorry, not about "pass/fail criteria" but this thread is already on the topic of vPlan methodology.
Filenames could (_if it is not burdensome_) have a [semantic versioning](https://semver.org/) suffix, like `myvplan-1.0.2.xlsx`.
It just came to mind because I wrote a sentence referring to part of the pma vplan but I couldn't see how I could make the reference more exact.

[2021-06-09 14:50] MikeOpenHWGroup commented on #635
@silabs-robin said:

A topic worthy of discussion.  Since that is a separate topic, please create a new issue for it.  Multiple topics per issue can make it difficult to find specific discussion threads after the fact, and adding/changing topics in the middle of an issue will make it _impossible_ to find.

[2021-06-10 15:09] silabs-robin opened #664 "isacov: The uimm field of the CSR immediate coverpoint is sampled incorrectly"
More details here https://github.com/openhwgroup/core-v-verif/pull/659

[2021-06-14 22:51] strichmo opened #668 "OVPSIM handling of trap instructions versus interrupt instructions"
### Type
This is a run-time failure in the RVFI/RVVI scoreboard.

### Steps to Reproduce
Use this branch:
https://github.com/openhwgroup/core-v-verif/tree/rvfi_rvvi_initial_e40x
Commit:
7e3fb1c4299a18c813a2227ade1d95ee31144d2d

On the E40X run this test:
[code]

The test should fail as such:
[code]

The issue is that the RVVI is incrementing *order* for the *trap* instructions.  For this instructi

[2021-06-15 11:04] eroom1966 commented on #668
@strichmo
Hi Steve, I tried this on my local branch I have been working on - I get a different failure

UVM_ERROR @ 74946.300 ns : uvme_cv32e40x_core_sb.sv(369) uvm_test_top.env.core_sb [CORESB] CSR Mismatch, order: 5293, csr: mstatus, rvfi = 0x00001800, rvvi = 0x00001880

this seems much later, so I am presuming I am not seeing the earlier failure, I will investigate why I get this fail
Thx
Lee

[2021-06-15 13:55] eroom1966 commented on #668
FYI @MikeOpenHWGroup @strichmo @GTumbush

I am widening this out a little bit for comments from Mike and Greg.
The question here I think is what is the field rvfi_order incremented by ?

Now the RVFI document says this is:-

If indices **cannot be used twice**, then by definition this number **must** be incremented on an instruction which takes any of the following paths

- retires (rvfi_valid)
-

[2021-06-15 14:13] MikeOpenHWGroup commented on #668
Agreed.

That is my read of it.

[2021-06-16 17:33] strichmo opened #675 "dsim randomization failure at cv32e40x base test"
### Type
The DSIM simulator fails to randomize the uvmt_cv32e40x_base test (for any testcase) on the rvfi_rvvi branch (see below)

The failure is:
=W:[RndFail] /mux-flow/build/repo/cv32e40x/tests/uvmt/base-tests/uvmt_cv32e40x_base_test.sv:385: Randomization failed
    included from /mux-flow/build/repo/cv32e40x/tb/uvmt/uvmt_cv32e40x_pkg.sv:54
UVM_FATAL @ 0.000 ns : uvmt_cv32e40x_base_test.sv(386)

[2021-06-17 12:26] strichmo opened #678 "refresh interrupt vplan for cv32e40x"
### Task Outcome
The interrupt vplan is updated, reviewed and checked in for the E40X.

### Location Information
The vplan should be checked into the core-v-verif repository under the cv32e40x.  The updated vplan should replace the e40p vplan.

### Completion Criteria
The testplan is updated and a satisfactory review meeting is held.

[2021-06-17 12:27] strichmo opened #679 "refresh debug vplan to 1.0.0 specification for cv32e40x"
### Task Outcome
The debug vplan is updated, reviewed and checked in for the E40X.

### Location Information
The vplan should be checked into the core-v-verif repository under the cv32e40x.  The updated vplan should replace the e40p vplan.

The cv32e40x will now support the debug 1.0.0 specification.  The vplan should be refreshed to ensure compliance to debug 1.0.0 features that will be implement

[2021-06-17 12:40] strichmo opened #680 "OVPSim does not expose all CSRs via RVVI state interface for full state check"
CSR state for step and compare is exposed to the UVM scoreboard via an associative array (indexed by string name of csr) in the state interface.  The mechanism works fine, however the associative array itself only becomes "populated" when a CSR changes.  Therefore a CSR that is not updated via test mechanisms does not "exist" in the array and therefore the CSR state check is incomplete.

All confi

[2021-06-17 12:56] strichmo opened #681 "use OBI memory agent in the CV32E40X testbench"
### Task Outcome
Merge the UVM OBI active memory agent into CV32E40X testbench.

### Background information
The mm_ram and all of its functionality should be replaced:
- Virtual peripherals
- Memory storage for I and D OBI busses

### Completion Criteria
The mm_ram is deprecated and all passing testing continue to pass.

[2021-06-17 15:13] MikeOpenHWGroup commented on #681
Update.  @datum-dpoulin and I are actively working on the OBI memory agent. Currently the work is on the E40P, but this can be ported to E40X.

[2021-06-18 15:20] MikeOpenHWGroup opened #687 "DPI Export fails using DSIM"
The latest commit to the cv32e40x/dev branch of core-v-verif [c0920f91](https://github.com/openhwgroup/core-v-verif/commit/c0920f91673a2ec6f69f469c4f0d37831b4cdeaa) compiles and runs as expected using Cadence Xcelium (xrun), but fails at run-time under Metrics DSIM.  The runtime error is:
[code]

### Steps to Reproduce
$ git clone -b cv32e40x/dev/ https://github.com/openhwgroup/core-v-verif.git
$

[2021-06-18 15:59] MikeOpenHWGroup commented on #660
Hi @dawidzim, thanks for the issue and apologies for not responding soon (this one fell through the cracks).

I agree with your interpretation of the LRM, but apparently the other simulators are more forgiving.  :-(   Presumably you are using Aldec Riviera-PRO.

Hi @silabs-mateilga, please have a look at this.  We need TICKS to be a variable, not a constant.

[2021-06-21 08:54] silabs-mateilga commented on #660
@MikeOpenHWGroup I think there might be some simulator issue here, as it seems to be confusing the mm_ram internal enum TICKS with the register TICKS in the imperas ram module.

https://github.com/openhwgroup/core-v-verif/blob/master/cv32e40p/vendor_lib/imperas/design/ram.sv#L39

This is what is being assigned, but somehow the simulator used by @dawidzim seems to be mixing these up. For more detai

[2021-06-21 09:10] dawidzim commented on #660
Hey @silabs-mateilga
thanks for pointing this, so seems like this is my mistake, so we can close this issue.
I will try to find some work around for this problem and open pull request

[2021-06-21 16:11] eroom1966 commented on #668
@strichmo
Steve I am trying to enable tracing for this test, I usually modify
cv32e40x/tests/cfg/default.yaml

but this seems to be having no effect, does this flow use a different method to get the options used ?

[2021-06-21 16:27] eroom1966 commented on #668
I think I can see the issue here - I am not passing the CSR's across on an exception

[2021-06-21 19:56] strichmo commented on #668
@eroom1966 I would recommend doing one of the following:

1. Unset CV_CORE from your environment, and cd to either cv32e40x/sim/uvmt or cv32e40p/sim/uvmt for whichever core you want to simulate and use __make__
or
2. Use makeuvmt and set CV_CORE either in the environment or on the make command line

If you want to be absolutely sure you are simulating the right core, use #1 above.  It may help to

[2021-06-21 22:06] MikeOpenHWGroup commented on #660
Thanks @silabs-mateilga.  Closing the issue.

[2021-06-22 07:05] silabs-hfegran commented on #681
@MikeOpenHWGroup Do you have a rough estimate on when the work for e40p will be ready?

[2021-06-22 11:20] MikeOpenHWGroup commented on #681
Targeting end of this week.   The first release will not support PMA.

[2021-06-22 11:47] eroom1966 commented on #668
urghh, stupid mistake, I had another earlier core-v-verif/bin in my searchpath
OK, Steve I think this is fixed here
https://github.com/eroom1966/core-v-verif/tree/rvfi_rvvi_initial_e40x_shared

if I run
makeuvmt test TEST=illegal CV_CORE=cv32e40x USE_RVVI=1

it passes

[2021-06-23 10:25] dawidzim commented on #660
Hey!
Problem is in Makefile, we should add files from `/cv32e40p/tb/uvmt` to compilation. Compilation command for VCS after `make sanity`, for Riviera we have the same files:
[code]
I think all simulators should report error (except Verilator because `ifndef Verilator)
@MikeOpenHWGroup @silabs-mateilga Should I open another issue for this?

[2021-06-23 10:50] MikeOpenHWGroup commented on #660
Nice catch.  I'll reopen this issue and investigate off-line.

[2021-06-23 14:38] strichmo commented on #687
@strichmo and @aimeepsutton had a debug session on 6/22.  From enabling more debug on the ISS, we were able to see that certain signals (deferint, haltreq, etc.) were being set to {64{1'b1}} (i.e. -1 for 64-bits).  This suggests that perhaps the struct communication from SystemVerilog->DPI->ISS is somehow not correct.

@aimeepsutton will ping Imperas to see if they can give any clues or disclose s

[2021-06-23 19:58] strichmo commented on #675
The core issue is a race condition before assigning the signal to the core_cntrl_vif.nmi_addr at time 0 with the randomization also occurring at time 0.  Will reconsider this as part of a larger reorganization of how we configure our cores in the testbench module and the UVM testbench.

[2021-06-24 20:15] MikeOpenHWGroup commented on #660
OK, I _finally_ understand.   The problem @dawidzim is seeing is with the `core` testbench, not the `uvm` testbench.  This issue has crept in because we have not been regressing the core testbench with simulators other than Verilator.

@dawidzim can you confirm that the above is correct?  Specifically:
1. Can you run Verilator on the core testbench?
[code]
2. Does the UVM environment work for you:

[2021-06-25 09:45] dawidzim commented on #660
Sorry, I should tell about `core` testbench on the start.

@1 I have problem with compile new version of Verilator... building process takes all RAM, I will leave it overnight, and report results on monday
@2 Yes, Riviera works with UVM, also ci_check reports about PASS

btw. @MikeOpenHWGroup I send you e-mail few days ago. Can you check this? Thank you in advance!

[2021-07-01 07:57] Silabs-ArjanB opened #702 "CV32E40X: rvfi_intr = 1 assumed for debug entry"
I am not 100% sure, but I think that lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_mon.sv assumes that intr is signaled when dbg is signaled (due to the nested if). Today that assumption actually holds, but the RVFI module should be fixed to make rvfi_intr and rvfi_dbg exclusive (see https://github.com/openhwgroup/cv32e40x/issues/119). The RTL fix will break the following code:

[code]

[2021-07-01 21:59] strichmo commented on #687
This is now fixed in the latest DSIM that has been propagated to cv32e40x/dev branch and in the wb_controller_e40x branches.  This will be propagated to master when next merge cycle completes.

[2021-07-01 21:59] #687 closed

[2021-07-01 22:00] strichmo commented on #680
Fixed in the latest model release (the unified model release) in the wb_controller_e40x branch.  This also works with the E40P and will be propagated to all branches during the next merge cycle.

[2021-07-01 22:00] #680 closed

[2021-07-01 22:02] strichmo commented on #675
The common core configuration agent introduced in this PR https://github.com/openhwgroup/core-v-verif/pull/697

The core-specific virtual interface signals will now all be sampled as part this methodology into class variables before randomization.  This should completely avoid the race condition during test config randomization.

[2021-07-01 22:02] #675 closed

[2021-07-01 22:03] strichmo commented on #668
Fixed in wb_controller_e40x branch in the new unified Imperas OVPSim model integration.  This will be propagated to all cores once the next merge cycle occurs.

[2021-07-01 22:03] #668 closed

[2021-07-01 22:03] strichmo commented on #619
Fixed in an earlier DSIM release.  The release has been propagated to all cores.

[2021-07-01 22:03] #619 closed

[2021-07-01 22:07] strichmo commented on #575
This concept is now integrated into the ISACOV coverage model, which is the default for the E40X core and will be propagated to all new cores.

[2021-07-01 22:07] #575 closed

[2021-07-01 22:09] strichmo commented on #603
This was related to a tool bug.  The issue has been fixed in a subsequent DSIM release.

[2021-07-01 22:09] #603 closed

[2021-07-01 22:13] strichmo commented on #633
Released to cv32e40x.

[2021-07-01 22:13] #633 closed

[2021-07-01 22:20] strichmo commented on #614
Initial documentation is here:
https://core-v-docs-verif-strat.readthedocs.io/en/latest/

[2021-07-01 22:20] #614 closed

[2021-07-01 22:20] strichmo commented on #611
Scoreboard is running in wb_controller_e40x branch.
Old step and compare is removed and deprecated.
Temporary USE_RVVI flag is also deprecated as this mode of checking is now default.

[2021-07-01 22:20] #611 closed

[2021-07-01 22:20] strichmo commented on #612
Scoreboard is running in wb_controller_e40x branch.
Old step and compare is removed and deprecated.
Temporary USE_RVVI flag is also deprecated as this mode of checking is now default.

[2021-07-01 22:20] #612 closed

[2021-07-01 22:21] strichmo commented on #613
Scoreboard is running in wb_controller_e40x branch.
Old step and compare is removed and deprecated.
Temporary USE_RVVI flag is also deprecated as this mode of checking is now default.

[2021-07-01 22:21] #613 closed

[2021-07-01 22:23] strichmo commented on #489
The RVFI now drives the ISACOV model within the wb_controller_e40x branch.  This change will be merged to all other branches in the next merge cycle.

[2021-07-01 22:23] #489 closed

[2021-07-01 22:24] strichmo commented on #496
Addressed quite a while ago.

[2021-07-01 22:24] #496 closed

[2021-07-02 02:02] strichmo opened #705 "remove irq_ack_o from all interrupt testbench infrastructure"
### Task Outcome
Testbench interrupt agent functionality is maintained but any dependence on the hardware ack mechanism (irq_id_o and irq_ack_o) is removed.  The design team is planning to remove these pins.

### Completion Criteria
Virtual sequence, monitor and properties work without irq_ack_o and irq_id_o.

[2021-07-02 09:27] Silabs-ArjanB commented on #702
Changed our spec to actually be according to above implementation (the RVFI spec is not clear about this and various CPUs might implement this in non-constistent manners; e.g. Ibex differs from the above).

[2021-07-02 09:27] #702 closed

[2021-07-02 12:35] MikeOpenHWGroup commented on #705
Are we removing this from _all_ interrupt testbench infrastructure?   I would expect the E40P cores to continue to use `irq_id_o` and `irq_ack_o`.  Can we control use of this ack mechanism with a cfg member?

[2021-07-02 13:53] MikeOpenHWGroup opened #707 "Resurecting the XPULP tests"
All XPULP test-programs for the CV32E40P are currently failing, see attached email.
[OpenHWGroupEmail-Resurecting_the_XPULP_tests.pdf](https://github.com/openhwgroup/core-v-verif/files/6755005/OpenHWGroupEmail-Resurecting_the_XPULP_tests.pdf)

The root cause is now known and the fix is easy - this issue exists to make sure it doesn't get forgotten.

Note that this issue affect the CV32E40P only.

[2021-07-03 13:00] strichmo opened #712 "DSIM fails with heap messages with wb_controller_e40x branch"
### Type
DSIM run-time failure with interrupt_test and debug_test.  The test emits some heap memory message, then eventually core dumps.

### Steps to Reproduce
Run cv32e40x_ci_check_dev on the latest core-v-verif wb_controller_e40x branch.
A run of this is already on-line on the Metrics database here:
https://openhwgroup.metrics.ca/main-core-v-verif-openhwgroup/results/testRuns/29c1ae98-c729-4526

[2021-07-09 12:54] silabs-oivind opened #714 "CV32E40X, update MARCHID"
https://github.com/openhwgroup/cv32e40x/pull/134 updates the CV32E40X MARCHID to 20. Update core-v-verif accordingly when PR is merged.

[2021-07-12 20:48] strichmo commented on #714
PR issued to fix

[2021-07-12 20:52] strichmo commented on #705
Yes, this needs to be configurable.  I will need to consider a more reasonable alternative between with and without as one could easily imagine a scenario where it would be difficult to make forward progress with a random test if an interrupt line is held asserted and the interrupts is constantly being retaken.

I believe the agent will need some semblance of an "ack" based on the core micro-archi

[2021-07-13 00:16] MikeOpenHWGroup commented on #712
Just so everyone is aware: the recent merge of the `wb_controller_e40x` branch to `cv32e40x/dev` (#711) means that MetricsCI will fail.  This was a deliberate move to ensure the  `cv32e40x/dev` branch can continue to make progress.

[2021-07-13 07:28] silabs-hfegran commented on #714
I added another PR that fixes some outstanding ones

[2021-07-13 16:39] MikeOpenHWGroup opened #722 "Replace `VERILATOR` macro with `__UVMT_CV32E40P_SV_TB__` in cv32e40p core testbench"
This task is related to issue #721.

The core testbench is peppered  `ifdef VERILATOR` (or `ifndef VERILATOR`) macro checks to exclude compilation of UVM, assertions, etc.  @pascalgouedo came up with the clever idea to use the compile-guard for the UVM testbench, `__UVMT_CV32E40P_SV_TB__`.  The purpose of this issue is to determine whether or not all the core testbench core can be written such tha

[2021-07-13 17:21] strichmo commented on #714
All PRs should be merged and RTL pointer advanced.

[2021-07-13 17:21] #714 closed

[2021-07-14 21:01] strichmo opened #727 "Heartbeat monitor creates long queue of objects"
### Type
* Memory leak - does not cause functional failure, but unnecessarily bloats memory usage in core-v-verif simulations

### Steps to Reproduce
Run any core-v-verif cv32e40x testcase:
% makeuvmt test TEST=hello-world

You will need a profiler to directly see the queue (or use a debugger).  For example this is the size of the heartbeat monitor's queue with the _interrupt_test_ in Xcelium:

[2021-07-15 13:07] strichmo commented on #561
Closing issue.

[2021-07-15 13:07] #561 closed

[2021-07-15 13:07] strichmo commented on #587
Closed as this is fixed.

[2021-07-15 13:07] #587 closed

[2021-07-15 13:08] strichmo commented on #560
Closing issue.

[2021-07-15 13:08] #560 closed

[2021-07-19 06:33] #664 closed

[2021-07-20 07:15] dawidzim commented on #660
After #721 tests from core pass

[2021-07-20 07:15] #660 closed

[2021-07-22 12:37] strichmo opened #748 "define methodology for initializing memory in TB and RM outside of defined program"
### Type
* Methodology

The issue is that currently the testbench will initialize memory in the testbench RTL (i.e. the mm_ram) and the reference model in the ISS infrastructure to the the same values.  There are some issues with this:

* It can be considered bad test design to read values that are not explicitly initialized nor implicitly initialized via the elf (i.e. the test program).
* Out-of-

[2021-07-23 12:47] MikeOpenHWGroup commented on #748
This is not directly related, but the init code needs to be aware of the [remapping](https://github.com/openhwgroup/core-v-verif/blob/master/cv32e40p/tb/core/mm_ram.sv#L300) done in the mm_ram.

[2021-07-26 13:11] strichmo commented on #712
The issue was an assertion that was creating lots of threads in the antecedent of a concurrent property.  The property used a goto operator as it's very first clause.  This forces the simulator to spawn a thread at each clock edge, which can severely degrade resources on long simulations.

Fixed here by using repetition operators instead to force vacuous pass when condition not present.
https://gi

[2021-07-26 13:11] #712 closed

[2021-07-27 03:05] strichmo opened #753 "vplan review for RV32M extension"
### Task Outcome
Updated vplan coverage plan definition for the RV32 M extension.  This vplan should be applicable to all CORE-V processors implementing the M extension.

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from this branch:
https://gi

[2021-07-27 03:06] strichmo opened #754 "vplan review for RV32I extension"
### Task Outcome
Updated vplan coverage plan definition for the RV32 M extension.  This vplan should be applicable to all CORE-V processors implementing the I extension (i.e. all cores)

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from this br

[2021-07-29 11:49] silabs-hfegran commented on #754
Looks good Steve, I have a couple of small  comments

- I find the "instr_i_<instr_name>" syntax somewhat ambiguous outside of context, this could also indicate an I-type instruction.
My suggestion would be to do something akin to rv32i_<instr_name>. While I understand why the instr_ part is included I do find it somewhat superfluous.

- \*\_hazard coverpoints lacks cp_ prefix

- fence/ebreak cp's

[2021-07-29 19:11] strichmo commented on #753
Vplan meeting held and action items were updated to the above fork and will be PRed.
This issue will be closed but any further feedback is welcomed.  Simply contact @strichmo or open another issue against core-v-verif.

[2021-07-29 19:11] #753 closed

[2021-07-29 19:12] strichmo commented on #754
Vplan meeting held and action items were updated to the above fork and will be PRed.
This issue will be closed but any further feedback is welcomed.  Simply contact @strichmo or open another issue against core-v-verif.

[2021-07-29 19:12] #754 closed

[2021-07-30 14:27] strichmo opened #759 "add random gnt assertion to the OBI memory model"
### Task Outcome
The OBI memory model (i.e. the new UVM agent) should be able to randomly assert gnt to exercise OBI protocol in that gnt can be randomly asserted at any time regardless of req state.  This functionality however should not violate the slv_gnt latency knobs present in the configuration of the OBI agent.

### Location Information
Will be inserted on master as a hot fix in the lib/uvm

[2021-08-01 19:19] MikeOpenHWGroup opened #762 "Investigate build_phase implementation of `uvma_core_cntrl_agent_c`"
The [uvma_core_cntrl_agent_c](https://github.com/openhwgroup/core-v-verif/blob/master/lib/uvm_agents/uvma_core_cntrl/uvma_core_cntrl_agent.sv) agent is a component of the [core-v-verif library](https://github.com/openhwgroup/core-v-verif/blob/master/lib) of reusable UVM Agents.  The cv32e40x extends this agent to create [uvma_cv32e40x_core_cntrl_agent_c](https://github.com/openhwgroup/core-v-verif

[2021-08-02 13:05] strichmo commented on #762
Could I get a branch and testcase where this occurs?  I could try to explore this using other simulators.

[2021-08-02 13:32] MikeOpenHWGroup commented on #762
(embarrassed cough)

Yes, "Steps to Reproduce" _is_ a key part of the issue template that _I_ created, isn't it?  Appreciate you keeping me honest.

This can be reproduce on the master branch of [core-v-verif](https://github.com/openhwgroup/core-v-verif/) when running any testcase:
[code]
Key points:
1. This behavior manifests itself with the CV32E40**X**, but not the CV32E40**P**.
2. I only see t

[2021-08-03 19:47] strichmo opened #766 "implement 1p2 signals in OBI UVM agent"
### Task Outcome
This PR: https://github.com/openhwgroup/core-v-verif/pull/765
adds in 1p2 signaling to the slave driver in the UVM agent.  This should include all signaling in the objects and assertions in the agent.  However the master driver part of the agent is not yet implemented.  Note that for most core-verification this is not needed, however for completeness and applicability to other kin

[2021-08-04 13:41] MikeOpenHWGroup opened #768 "Update the CV32E40P environment to use the new OBI memory Agent"
### Task Outcome
As of #763 a new UVM agent, [obi_memory_agent](https://github.com/openhwgroup/core-v-verif/tree/master/lib/uvm_agents/uvma_obi_memory), intended to replace the module-based [mm_ram](https://github.com/openhwgroup/core-v-verif/blob/master/cv32e40p/tb/core/mm_ram.sv) model, has been integrated into the CV32E40X environment.

The purpose of this issue is to determine whether this obi

[2021-08-06 02:37] strichmo commented on #768
I have created a PR that use the new UVM OBI agent: https://github.com/openhwgroup/core-v-verif/pull/773

Currently it is still undergoing full regression, but it does pass an Xcelium run of release check.

If further regressions pass I will enable merging of the PR, to be merged upon successful review.

[2021-08-06 15:39] strichmo commented on #768
The PR #773 is now merged.  The old UVM OBI agent is deprecated.  I am closing this issue.

[2021-08-06 15:39] #768 closed

[2021-08-06 15:49] strichmo commented on #766
The above PR implemented all intended 1p2 signal driving.

Another issue will be filed to ensure we eventually add equivalent signal driving support on the master side.

[2021-08-06 15:49] #766 closed

[2021-08-06 15:51] strichmo opened #775 "add UVM OBI agent master signaling to the driver"
### Task Outcome
The master implementation of the driver and sequence items in the uvma_obi_memory agent need to be implemented to fully satisfy 1p2 standards.

### Background information
The current use model for E* core testbenches requires slave-side driving support for 1p2.  This was added to the uvma_obi_memory agent.  It is possible other contexts for open CORE-V IPs may eventually need full

[2021-08-06 15:53] strichmo commented on #681
The UVM OBI agent is now implemented and supported with this PR.  https://github.com/openhwgroup/core-v-verif/pull/774
The old OBI agent is now deprecated and removed from the cv32e40x testbench.

This will be merged to cv32e40x/dev shortly.

[2021-08-06 15:53] #681 closed

[2021-08-06 15:57] strichmo opened #776 "OVPSIM decrements minstret on debug trigger address match"
### Type
* Functionally incorrect behavior suspected in the OVPSIM with the cv32e40p

### Steps to Reproduce
Please provide:
1. master branch of core-v-verif
2. This hash: 9d1130bae8cc2254f079e1d291a331dc914bb7f3
3. Use this command:
[code]
The test should repeat with other simulators.  It was observed in both Xcelium and DSIM.

The test failure:
[code]

The miscompare is a _minstret_ CSR read tha

[2021-08-07 00:13] MikeOpenHWGroup opened #783 "Remove magic number in uvme_cv32e40p_tdefs.sv"
In [cv32e40p/env/uvme/uvme_cv32e40p_tdefs.sv ](https://github.com/openhwgroup/core-v-verif/blob/master/cv32e40p/env/uvme/uvme_cv32e40p_tdefs.sv#L118) the size of an array is based on a hard-coded "magic number".  This should be based on a parameter or macro.  I recommend using [this](https://github.com/openhwgroup/core-v-verif/blob/master/cv32e40p/env/uvme/uvme_cv32e40p_macros.sv#L23) one.

### Ty

[2021-08-09 15:10] MikeOpenHWGroup opened #787 "CV32E41P "hello-world" program checks for E40P value of marchid"
This is a bug in both the RTL and TB.

The current value of the CV32E41P `marchid` CSR is 0x4.  This is inherited from the CV32E40P and must be changed to whatever marchid is assigned to this new core.

Currently the hello-world test-program checks for marchid == 0x4.  The test-program should be updated to the assigned marchid for this core.

[2021-08-09 16:43] PilotAware commented on #776
Steve, did you say this passes on cv32e40x ?
I tried
makeuvmt test TEST=debug_test_trigger CV_CORE=cv32e40x SEED=1

and I got a different failure

[2021-08-09 17:25] eroom1966 commented on #776
Steve, did you say this passes on cv32e40x ?
I tried
makeuvmt test TEST=debug_test_trigger CV_CORE=cv32e40x SEED=1

and I got a different failure

[2021-08-10 01:22] strichmo opened #788 "vplan review for RV32C extension"
### Task Outcome
Updated vplan coverage plan definition for the RV32 C extension.  This vplan should be applicable to all CORE-V processors implementing the C extension (i.e. all cores)

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from this br

[2021-08-10 01:23] strichmo opened #789 "vplan review for RV32A extension"
### Task Outcome
Updated vplan coverage plan definition for the RV32 A extension.  This vplan should be applicable to all CORE-V processors implementing the A extension.

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from this branch:
https://gi

[2021-08-10 01:25] strichmo opened #790 "vplan review for RV32B extension"
### Task Outcome
Updated vplan coverage plan definition for the RV32 B extension.  This vplan should be applicable to all CORE-V processors implementing the B extensions (Zba, Zbb, Zbc, Zbs)

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from th

[2021-08-10 01:26] strichmo opened #791 "vplan review for RV32Zicsr extension"
### Task Outcome
Updated vplan coverage plan definition for the RV32 M extension.  This vplan should be applicable to all CORE-V processors implementing the Zicsr extension (i.e. all cores)

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from thi

[2021-08-10 01:27] strichmo opened #792 "vplan review for RV32Zifencei extension"
### Task Outcome
Updated vplan coverage plan definition for the RV32 M extension.  This vplan should be applicable to all CORE-V processors implementing the I extension (i.e. all cores)

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from this br

[2021-08-10 01:28] strichmo opened #793 "vplan review for RV32 sequential execution of instructions"
### Task Outcome
Updated vplan coverage plan definition ISA RV32 instruction sequences.

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from this branch:
https://github.com/strichmo/core-v-verif/blob/strichmo/pr/vplan_isacov_abz_etc/docs/VerifPla

[2021-08-10 01:30] strichmo opened #794 "vplan review for RV32 counters for cv32e40x"
### Task Outcome
Updated vplan coverage plan definition for privileged mode hardware counter for the CV32E40X.

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from this branch:
https://github.com/strichmo/core-v-verif/blob/strichmo/pr/vplan_isaco

[2021-08-10 01:31] strichmo opened #795 "vplan review for cv32e40x exceptions"
### Task Outcome
Updated vplan coverage plan definition for all exceptions in the privileged spec for the CV32E40X.

### Background information
This review will update the coverage definition using the new ISACOV UVM coverage agent in all CORE-V testbenches.

### Location Information
The updated excel can be fetched from this branch:
https://github.com/strichmo/core-v-verif/blob/strichmo/pr/vplan_

[2021-08-10 02:44] strichmo commented on #776
@eroom1966 The test does not fully pass on the current cv32e40x, but it should proceed far enough to see an debug trigger match which enters debug mode.  This debug mode entry does not increment minstret RVVI CSR as in the cv32e40p.

[2021-08-10 08:45] eroom1966 commented on #776
@strichmo
I still have the issue we discussed previously regarding the ram location, so this is not possible to debug with the latest code.

-This contains the memory here

interface RVVI_memory;
    reg [31:0] mem [bit[29:0]];
endinterface

I am not sure why the update/merge has not worked correctly, I will try to revert some changes and highlight the issue, but we need to fix this issue where we

[2021-08-10 13:03] MikeOpenHWGroup commented on #793
Hi @strichmo, I took the liberty of stripping the templated title block from this issue.

[2021-08-10 18:23] strichmo opened #799 "OBI UVM Agent may need to support atomic transactions"
### Task Outcome
The OBI UVM agent properly supports atomic transactions

### Background information
In the current active slave implementation of the OBI UVM Agent,

### Location Information
lib/uvma_agents/uvm_obi_memory

### Completion Criteria
- The implementation of atomics with respect to CORE-V cores and OBI are settled with respect to whether an atomic needs to support simultaneous reads a

[2021-08-10 18:36] MikeOpenHWGroup commented on #799
How can a core claim support for RV32A if it needs an external widjit to implement the "A"?

[2021-08-12 09:07] tariqkurd-repo commented on #787
@davideschiavone what should marchid be set to for CV32E41P?

[2021-08-12 09:26] silabs-robin commented on #795
Hi. I have some feedback/thoughts/questions.

About coverage:
The items are mostly marked as "Functional Coverage", and I think that is fine.
Apart from _"Exception Priority"_ which is "Test Coverage". Does this mean we will not have e.g. a covergroup for this?

In general:
Should there be an item for branch taken/nontaken? (Because nontaken bad addr doesn't except.)
I really like assertions so I

[2021-08-12 11:12] silabs-robin commented on #794
I don't have any feedback per se, but I have some questions.

Should countinhibit (and maybe others too) have some assertions?
Why is minstret link to coverage waived?
How are we sure that the items with coverage method "testcase" should not have "functional coverage"?
Are all "link to coverage" cells intended to be filled out as implementation progresses?

[2021-08-12 12:19] silabs-robin commented on #792
Hehe that was a short vplan.

I have one question.
Shouldn't the vplan desire more than merely executing fencei?
It seems the 40x implements fencei by a jump. So I get that the pipeline will be flushed, but will necessarily the prefetcher (and everything related) also get flushed?
I don't fully understand all of this, but maybe there should be a directed test a la: planning to do an ADDI, but firs

[2021-08-12 12:57] Silabs-ArjanB commented on #792
We should specifically verify the following:

- Ability to block fence(i) completion by holding off fence handshake
- Tolerance against random fence ack signal when no fence(i) instruction is being executed (easy to check with Formal)
- Full flush (including suppression of data_req_o) of all pipeline stages and prefetcher on fence(i) (which is more than required by RISC-V)
- Interaction of fence h

[2021-08-12 13:20] silabs-robin commented on #791
Should we let the Zicsr vplan include something about instret and other counters? There is one paragraph in the Zicsr spec that discusses this.

[2021-08-12 14:27] eroom1966 opened #805 "ci_check for cv32e40p/x is broken"
@strichmo @MikeOpenHWGroup
I have checked out a copy of the Master branch 814d170 and as far as I can se the ci_check for cv32e40p and cv32e40x no longer passes, it appears the debug_test is now failing reporting an illegal instruction

If I run debug_test standalone I get stuck with the following
makeuvmt test CV_CORE=cv32e40x TEST=debug_test

542610.000 ns: Illegal instruction (core 0) at PC 0x1

[2021-08-12 15:31] silabs-robin commented on #791
For reference, this is the part I was thinking about (picture below).
It might conceivably have an impact on i.a. any of the performance counters.
I don't mean to prescribe any recommended course of action, but I want to check if we are safe from any impact relating to this.

![image](https://user-images.githubusercontent.com/75431602/129224308-c06fbc36-3d45-4d81-af75-ccc997cfec57.png)

[2021-08-12 16:38] Silabs-ArjanB commented on #791
I don't think I fully understand your question, but the above should be verified as well for minstret (whether it is part of Zicsr or not I will leave to Steve). We do have a directed performance counter test that does already check this I believe though.

[2021-08-12 17:39] strichmo commented on #805
Resolved the issue.  The ELF file for the debug_test needed to be rebuilt from clean.  The current dependencies for a firmware build do not handle flag changes in the Makefile.

[2021-08-12 17:39] #805 closed

[2021-08-12 18:06] strichmo commented on #776
This is now fixed on the master branch and will shortly be propagated to cv32e40p/dev and release branches.

[2021-08-12 18:06] #776 closed

[2021-08-12 18:12] strichmo opened #807 "on RVFI and RVVI a triggered instruction should not be considered valid"
### Type
* Functionally incorrect behavior

The RVVI and RVFI are both considering a "triggered" transaction to be a valid transaction.  However the E40X (and E40S and E40P) all fix the "timing" setting to 0, which indicates that the instruction is not to be executed before entering debug mode.  Thus the instruction should not be "valid" and should not increment order on either interface.

### Ste

[2021-08-13 11:21] eroom1966 commented on #807
@strichmo
this should be fixed in this PR https://github.com/openhwgroup/core-v-verif/pull/809
bear in mind the test above will fail until the RVFI is corrected in the same manner

[2021-08-14 00:49] MikeOpenHWGroup opened #810 "Intermittent failure of debug_test on CV32E40X"
I have observed that the `debug_test` fails intermittently.  I suspect it is an environment, not RTL, issue.

### Type
Functionally incorrect behaviour

### Steps to Reproduce
1. checkout core-v-verif branch `cv32e40x/dev`, hash: `6fe8e00d`
2. cd core-v-verif/cv32e40x/sim/uvmt
3. make test TEST=debug_test SIMULATOR=dsim DSIM_SEED=333967796

### Additional context
If you are not using DSIM version

[2021-08-14 15:58] strichmo opened #811 "define better handling of unknown exceptions"
### Type
Indicate whether the type of problem you found:
* Functionally incorrect behavior

When turning on instruction bus tests, the mcause was incorrect.  Of course, this should be flagged in the ISS however the BSP will simply return back to offending instruction.  Quite often (depending on the nature of the exception).

I would consider this an "assertion" in the core-v-verif BSP.  If we are

[2021-08-17 16:01] strichmo commented on #810
These failures have been triaged to an RVFI implementation issue: https://github.com/openhwgroup/cv32e40x/issues/187

[2021-08-19 06:46] Silabs-ArjanB opened #818 "Migrate to v2.x of the RISC-V Architectural Tests"
core-v-verif is using quite outdated RISC-V compliance tests.

By now (i.e. end of last year) ‘framework 2’ has been introduced and ‘framework 3’ is being worked on, see https://groups.google.com/a/groups.riscv.org/g/isa-dev/c/Luf6uWuAAlU.

This task is to move to version 2.4.5 or later.

According to https://groups.google.com/a/groups.riscv.org/g/isa-dev/c/Luf6uWuAAlU the benefits of the updated

[2021-08-19 06:48] Silabs-ArjanB opened #819 "Migrate to v3.x of the RISC-V Architectural Tests"
core-v-verif is using quite outdated RISC-V compliance tests.

By now (i.e. end of last year) ‘framework 2’ has been introduced and ‘framework 3’ is being worked on, see https://groups.google.com/a/groups.riscv.org/g/isa-dev/c/Luf6uWuAAlU.

Issue https://github.com/openhwgroup/core-v-verif/issues/818 has been added to move to 'framework 2'. Once 'framework 3' is available (which is not today) we s

[2021-08-19 13:04] jeremybennett opened #820 "Accessing FP CSRs crashes the debug unit"
# Template for CORE-V-Verif Issues

At the request of @MikeOpenHWGroup this is a duplicate of `core-v-mcu` issue [#159](https://github.com/openhwgroup/core-v-mcu/issues/159)

## Accessing FP CSRs crashes the debug unit

### Type
Indicate whether the type of problem you found:
* Other: Although possibly technically valid behavior, locking up the Debug Unit is not a helpful outcome.

### Steps to Re

[2021-08-25 03:43] strichmo commented on #810
Based on recent RTL and testbench work, the debug_test now appears to be very stable, even with random stalls added.  Therefore the intent of this issue was resolved.

This bug was resolved in relation to this issue:
https://github.com/openhwgroup/cv32e40x/issues/187

[2021-08-25 03:43] #810 closed

[2021-08-25 12:52] MikeOpenHWGroup commented on #649
Completed as of #670.  This task issue can be closed.

[2021-08-25 12:54] #649 closed

[2021-08-25 13:21] MikeOpenHWGroup commented on #810
Fix confirmed.

[2021-08-28 01:15] strichmo commented on #807
Closing this issue and opening another one to track that we have master broken for the cv32e40x and that we need a reversion on master.

[2021-08-28 01:15] #807 closed

[2021-08-28 01:20] strichmo opened #832 "OVPSIM update needed to increment order for all synchronous traps"
A previous issue requested that instructions which match the debug trigger should not increment order on RVVI.

https://github.com/openhwgroup/core-v-verif/issues/807

However after review it was determined that this created a difference between this scenario and all other "synchronous traps" to either the exception handler or the debug handler.  Therefore to keep the RVFI and RVVI implementations

[2021-08-28 01:26] strichmo commented on #793
Reviewed and updated in this PR: https://github.com/openhwgroup/core-v-verif/pull/830

[2021-08-28 01:26] #793 closed

[2021-08-28 01:26] strichmo commented on #792
Comments above will be rolled into a fence.i micro-architectural vplan.

This issue will be closed with the ISA vplan: https://github.com/openhwgroup/core-v-verif/pull/830

[2021-08-28 01:26] #792 closed

[2021-08-28 01:27] strichmo commented on #791
Zicsr updated with: https://github.com/openhwgroup/core-v-verif/pull/830

[2021-08-28 01:27] #791 closed

[2021-08-28 01:27] strichmo commented on #790
Vplan updated: https://github.com/openhwgroup/core-v-verif/pull/830

[2021-08-28 01:27] #790 closed

[2021-08-28 01:27] strichmo commented on #789
Vplan is updated: https://github.com/openhwgroup/core-v-verif/pull/830

[2021-08-28 01:27] #789 closed

[2021-08-28 01:28] strichmo commented on #788
Vplan is updated: https://github.com/openhwgroup/core-v-verif/pull/830

[2021-08-28 01:28] #788 closed

[2021-08-31 18:17] strichmo opened #836 "OVPSIM does not recognized InstructionBusFault on RVVI Bus interface"
### Type
* Functionally incorrect behavior

A bus error on the instruction bus is not being recognized by OVPSIM.

### Steps to Reproduce
Please provide:
1. Use this fork: https://github.com/strichmo/core-v-verif.git
2. Use this branch:  strichmo/temp/instr_bus_error
3. makeuvmt test TEST=instr_bus_error CV_CORE=cv32e40x USER_RUN_FLAGS=+UVM_MAX_QUIT_COUNT=50,NO

The first errors in the log should

[2021-09-01 18:05] strichmo opened #841 "OVPSIM to does not recognize write to mcause[7:5]"
### Type
* Functionally incorrect behavior

**Note this was updated on 9/10/21 to include an 8-bit mcause as will be in the CV32E40X and CV32E40S**

In the CV32E40X, the mcause exception field was extended to 8 bits to support the following new exception codes:
- instruction bus fault (48)
- load bus fault (128)
- store bus fault (129)

In this test mcause is being written with 0xa5a5a5a5.  In the

[2021-09-02 13:53] strichmo opened #844 "add LLVM support to the tests in the UVMT testbench"
### Task Outcome
The Common firmware makefile can be selected to build tests based on a gcc toolchain or an LLVM toolchain.

### Background information
The current Common makefile that builds assembly and/or C test firmware uses a gcc-based toolchain.  This has worked well so far, however as more recent RISC-V extensions are brought in, it is becoming apparent that gcc will lag in its extension su

[2021-09-10 09:18] silabs-hfegran commented on #841
This field will be expanded to 8 bits for 40x

[2021-09-10 09:48] Silabs-ArjanB commented on #841
Same for 40S

[2021-09-10 18:49] strichmo commented on #832
This is fixed on the cv32e40x/dev branch.  It needs to be merged to the master branch.

[2021-09-10 18:50] strichmo commented on #836
This should be fixed on the cv32e40x/dev branch.

The decision was made to leave this signal as a combinatorial decode of IAddr and Ird instead of being read at the second cycle.  This works better with how the OVPSim SystemVerilog model RAM's current implementation.

[2021-09-10 18:50] #836 closed

[2021-09-10 19:09] strichmo commented on #727
With this PR this issue should be fixed:
https://github.com/openhwgroup/core-v-verif/pull/833

[2021-09-10 19:09] #727 closed

[2021-09-10 19:11] strichmo commented on #841
Thanks for comments @Silabs-ArjanB @silabs-hfegran .

I am updating the hash and testcase for this to include mcause [7:5] as missing in the OVPSim model.

[2021-09-13 13:00] eroom1966 commented on #841
@strichmo
Hmm this is an interesting one
in the specification is says that bits mcause[7:0] are RW, this was an oversight in the model which you quite rightly point out was still the defalt 5 bits.
I changed the ecode mask by adding
--override root/cpu/ecode_mask=0xff

but the compare still fails - this time the RTL does not allow the writing of mcause[7]

Info 4: 'root/cpu', 0x000000000000008a(_s

[2021-09-13 13:08] silabs-hfegran commented on #841
@eroom1966 The RTL update to address this was merged in https://github.com/openhwgroup/cv32e40x/pull/221 last friday - are you on the latest dev?

[2021-09-13 13:36] eroom1966 commented on #841
@strichmo All my tests have passed, I do see we are now getting a WARNING of the form

UVM_WARNING @ 0.000 ns : uvm_traversal.svh(267) reporter [UVM/COMP/NAME] the name "monitor`" of the component "uvm_test_top.env.fencei_agent.monitor`" violates the uvm component name constraints

should I issue a PR ?

[2021-09-13 13:38] strichmo commented on #841
@eroom1966 I'm not sure exactly what it is complaining about but I just wrote the UVM agent so I will take that one on.  Please go ahead and file PR if it passes.

[2021-09-13 15:11] eroom1966 commented on #841
I think I may have been missing some updates, I performed another pull/merge and this message has disappeared
All tests on E40X pass

[2021-09-13 15:15] strichmo commented on #841
Sounds good...I'm not seeing the warning as well.  I did fix an issue similar to this about a week ago.

[2021-09-13 16:07] eroom1966 commented on #841
I think redoing the merge also resolved the RTL issue of mcause[7] not writable

[2021-09-13 19:21] strichmo commented on #841
Fix is merged with this PR: https://github.com/openhwgroup/core-v-verif/pull/857

This PR fully fixes the expected CSR values in the generated CSR access test: https://github.com/openhwgroup/core-v-verif/pull/859

[2021-09-13 19:21] #841 closed

[2021-09-13 19:29] strichmo opened #860 "OVPSIM repeats error when exception vector has bus fault"
### Type
* Functionally incorrect behavior

### Steps to Reproduce
Please provide:
1. Use cv32e40x/dev branch of core-v-verif: https://github.com/openhwgroup/core-v-verif.git
2. Use this commit: 8b4b03039a622b06189dbdc3fd92602fcc0a3818
3. makeuvmt test TEST=corev_rand_instr_obi_err WAVES=1 ADV_DEBUG=1 CV_CORE=cv32e40x SEED=550659836  USER_RUN_FLAGS=+UVM_MAX_QUIT_COUNT=50,NO

Note that this testcas

[2021-09-15 02:49] strichmo commented on #832
This should be merged to the master branch.   Closing the issue now...

[2021-09-15 02:49] #832 closed

[2021-09-16 12:10] strichmo commented on #615
This has been completed, including any cleanup (removal) of the older functional coverage model.

[2021-09-16 12:10] #615 closed

[2021-09-16 12:40] strichmo opened #870 "create vplan for Zce"
### Task Outcome
A reviewed ISA vplan for the Zce  is created.  The Vplan should cover the Zcea, Zceb, and Zcee sub-extensions of Zce.

### Background information
The vplan should use the same ISA templates for all other ISA

### Location Information
The vplan should be checked into the common VerifPlan directory for ISA 32-bit RV vplans.

https://github.com/openhwgroup/core-v-verif/tree/master/do

[2021-09-16 12:45] eroom1966 commented on #860
@strichmo
Sorry for the delay in looking at this.
I am unable to reproduce
I run the following

$ makeuvmt CV_CORE=cv32e40x clean_all
$ makeuvmt test TEST=corev_rand_instr_obi_err WAVES=1 ADV_DEBUG=1 CV_CORE=cv32e40x SEED=550659836 USER_RUN_FLAGS=+UVM_MAX_QUIT_COUNT=50,NO

I am getting this error message
...
/home/moore/riscv/corev-openhw-gcc-ubuntu1804-20200913/bin/riscv32-corev-elf-gcc  \
	-Os -

[2021-09-16 12:46] strichmo opened #871 "create fence.i vplan for cv32e40x"
### Task Outcome
A verification plan is created to verify the fence.i functionality in the CV32E40X.  Note that this vplan should address the actual implementation of the fence.i instruction in the processor (i.e. the relevant functional microarchitectural details).  This include the external fence.i interface and the UVM agent implementation to exercise this interface.

### Background information

[2021-09-16 12:47] eroom1966 commented on #860
I recall this is similar to a previous Issue, I see no test files in the directory
cv32e40x/tests/programs/corev-dv/corev_rand_instr_obi_err

[2021-09-16 12:55] strichmo opened #872 "implement random instruction bus error tests"
### Task Outcome
Random tests can inject instruction bus errors with proper functional checking of the response to the bus errors.

### Background information
The OBI I bus on the CV32E40X can have bus errors, which generate an exception.  There are complications with respect to timing of instruction errors and "recoverability" of the error.  For instance an OBI I instruction error received in an

[2021-09-16 12:57] #632 closed

[2021-09-16 13:02] strichmo commented on #860
My apologies.  I forgot the targets for corev-dv in the above command.

[code]

[2021-09-16 13:03] strichmo commented on #860
Please let me know which Xcelium version you are using if this does not repeat.  I should be able to dig up the version here and generate another seed if necessary.

[2021-09-16 13:03] MikeOpenHWGroup commented on #860
Test in `$(CV_CORE_LC)/tests/programs/corev-dv` are generated by corev-dv, our extension of the Google riscv-dv random instruction stream generator.  So unless you run the generator there will not be a test-program at that location.

See [corev-dv generated tests](https://github.com/openhwgroup/core-v-verif/tree/master/mk/uvmt#corev-dv-generated-tests) in the common Makefiles director for details

[2021-09-16 13:08] eroom1966 commented on #860
I am running CDNS-UVM-1.2-ML (20.03-s009)

I think I am reproducing the issue, and I do have a clue what it could be

[2021-09-16 13:11] strichmo opened #873 "implement random addressing in random tests for PMA verification"
### Task Outcome
A methodology and associated tooling to enable multiple PMA configurations to be tested with various

### Background information
The memory "map" for all COREV tests (including random corev-dv) is defined by a linker script in the BSP.  However to effectively test the PMA (and other memory mapping functionality in the future such as PMP) it is necessary to move around memory for i

[2021-09-16 13:15] eroom1966 commented on #860
Because the model fetches occur in 2-byte accesses (in order to support Compressed instructions), but the bus Instruction width is 4-bytes, I put a cache match into the bus wrapper, so it did not have to fetch the upper half word again, after requesting the lower half word.

when the busfault was added in, I should have changed this, to invalidate the fetched (cached) value, if a fault occurs
very

[2021-09-16 13:25] strichmo opened #874 "create an initial cv32e40s development branch with passing ci_check"
### Task Outcome
Populate a cv32e40x/dev branch and get ci_check passing.

### Background information
The CV32E40S testbench has been populated and running on the master branch for some time.  However the ci_check always has failed because some basic user-mode functionality needed to be completed to run ci_check properly.  These RTL updates should be completed (or close to completion) and it makes

[2021-09-16 13:39] eroom1966 commented on #860
Please refer to
https://github.com/openhwgroup/core-v-verif/pull/875

[2021-09-16 13:47] strichmo commented on #544
This is fixed.

[2021-09-16 13:47] #544 closed

[2021-09-21 12:56] strichmo opened #884 "vplan review for RV32 interrupts for cv32e40x"
### Task Outcome
Updated vplan coverage plan definition for interrupts for the CV32E40X.

### Background information
This review will update the coverage definition for the CV32E40X interrupt implementation.

A description of the known changes can be found in this draft PR:
https://github.com/openhwgroup/core-v-verif/pull/880

### Location Information
The updated vplan Excel spreadsheet can be fet

[2021-09-22 12:37] silabs-robin opened #889 "vplan review for fence.i for cv32e40x"
### Task Outcome
The verification plan for `fence.i` functionality is reviewed for CV32E40X.

### Background information
.

### Location Information
The new spreadsheet can be fetched from this branch:
https://github.com/silabs-robin/core-v-verif/blob/fencei_vplan/cv32e40x/docs/VerifPlans/Simulation/micro_architecture/CV32E40X_fencei.xlsx

### Completion Criteria
The accepted review criteria are c

[2021-09-22 15:23] Silabs-ArjanB commented on #889
Hi @silabs-robin ,

Here is my feedback on the (great) vplan:

- The X interface currently can only signal that there is an offloaded load/store. It just signals 'load _or_ store', so the implementation of a CPU will also have to make sure that offloaded loads complete before a fence.i (which is not a specification requirement). If you think this is an issue, please let me know and then we add sep

[2021-09-23 10:02] silabs-robin commented on #884
If it is not illegal then I think it should be tested.
Should it be illegal? Why? What could happen upon violation?

It was like that from before, when the vplan was copied from 40P.
The important point seems to be that both taken/nontaken is tested.
I would prefer to change it, make it more terse, if there is no good reason to keep it.

I think there are more problems with these wordings...
Anywa

[2021-09-23 10:55] Silabs-ArjanB commented on #884
The other bits are simply ignored.

There is no reason to change it, but it seems rather arbitrary. Agreed that the taken - non-taken is important though.

I have no idea what 'counter instructions' is supposed to mean or why they were considered special. The 'counters' chapter from the unpriv spec is an extension indeed (that does not have a proper name, but we sometimes call it Zicount). That is

[2021-09-23 11:52] silabs-robin commented on #889
@Silabs-ArjanB

Understood. I can't really foresee enough of the consequences of either way.
So I think it is fine to leave it as is and see how it goes.

True. Changing it.

I'll add it.

I can specify [when it is 2 or 3 cycles](https://cv32e40x-user-manual.readthedocs.io/en/latest/pipeline.html).

Is it not possible that one store is ongoing and there is still one in the write buffer that must b

[2021-09-23 12:02] Silabs-ArjanB commented on #889
You are right.

[2021-09-23 13:07] silabs-robin commented on #884
For the interrupt vplan, do you mean that _interrupts_ kill the instruction (instead of _branching_ killing the instruction) and then no side-effects were visible?
I am not sure what specifically can be done about this. There are already these "all X instructions get interrupted" which intends to check this. And there are the assertions (in the vplan) for each feature, like how the fence.i asserti

[2021-09-23 13:38] Silabs-ArjanB commented on #884
In all cases (interrupts, exceptions, branches, etc.) the _controller_ kills the instructions.

Somewhere we need to check that killed instructions do not have side effects. Maybe the interrupt vplan is not the right place to do this, I agree with that. My point is that it is easy to check that for example a load causes a data_req_o = 1; the things that should also be checked is that data_req_o =

[2021-09-23 18:38] strichmo commented on #889
Thanks @silabs-robin , great detail here.

- Regarding "ack withold", yes there should be assertion.  However it would be good to determine and document functional coverage for the maximum latency we will use in simulation.  There should be a coverpoint for [0:max] cycles.
- I would like to have some check from the OBI monitors to ensure that OBIs are idle before fencei_flush_req_o is asserted.  (

[2021-09-23 19:35] strichmo commented on #884
Thanks again @silabs-robin

- For NMIs, mepc, mcause and mstatus (mpie and mie) should all be checked in the ISS
- Let's drop the "counter" instructions line.  That's a leftover that was effectively folded into Zicsr instructions in the E40P
-- Should we think about adding another instruction coverage specific to CSR writes crossed with valid CSRs.  In other words, ensure that the instruction both

[2021-09-23 19:40] strichmo commented on #884
Regarding @Silabs-ArjanB comment above on killed instructions:
This is the appropriate vplan for this kind of coverage.

We should absolutely include the "interrupt latency due to instruction" check Arjan mentions in his initial comment.

[2021-09-24 13:57] silabs-robin commented on #889
@strichmo

I added a sentence asking for coverage to check at least {[0:5]}. (Confered with Arjan)

Would this be an assertion or something else? And are we talking about uvma_obi_memory_mon? If it is an assertion then the agent's vif must have some output signals that are driven early enough that it can compare against the flush interface?

Should this be in addition to a dv stream that checks it

[2021-09-24 15:23] silabs-robin commented on #884
@strichmo

Fixed.

Fixed.

Could be a good idea. How great is the value of doing this? How easy/costly would it be to do?

Old comment. I cleaned it up now.

Fixed.

This is difficult.
One could say "Interrupted instructions get killed and have no side-effects (e.g. data_req_o == 0)", but that is too general and not very actionable. When one checks not only correctness of "somesignal == 1" but "so

[2021-09-26 10:17] drac98 opened #896 "CV32E40P Test Program is not Compiling"
I'm new to RISC-V and I have been trying to run a simulation of CV32E40P with Verilator.

## CV32E40P Test Programs Compiling Error

I followed the instructions given [here](https://github.com/openhwgroup/core-v-verif/tree/2f8d8d3a4413b87e95fc4f399ff711475473e41d/cv32e40p/sim/core).
- Point your environment variable RISCV to your RISC-V toolchain. Call make to run the default test (hello_world).

[2021-09-27 01:31] MikeOpenHWGroup commented on #896
Hi @drac98, thanks for bringing this issue to our attention.  I have been able to reproduce the issue and am working on a fix.

[2021-09-28 00:26] MikeOpenHWGroup commented on #896
Hi @drac98, with #899 merged in I believe things should be working for you now.  Please check and let me know.   FYI, this fix is on the master branch and will be propagated to the `cv32e40p/dev` and `cv32e40p/release` branches at the end of this week.

[2021-09-28 14:10] drac98 commented on #896
Hello @MikeOpenHWGroup , the fix works. Thank you.

[2021-09-28 14:10] #896 closed

[2021-09-28 15:32] strichmo commented on #860
Issue is resolved.

[2021-09-28 15:32] #860 closed

[2021-09-28 15:33] strichmo commented on #871
The review issue for fence.i will be used to track the fence.i vplan development.

[2021-09-28 15:44] strichmo opened #904 "OVPSIM violates debug 1.0.0 spec when interrupt occurs during step"
### Type
* Functionally incorrect behavior

### Steps to Reproduce
1. https://github.com/strichmo/core-v-verif/tree/strichmo/temp/ovpsim_debug_step_intr
2. c969738d21f832a9cb061b24968e7ef2f599c264
(Note that this hash points to a branch in @silabs-oysteink 's fork.
3. makeuvmt test TEST=debug_test

The failure occurs when interrupts occur during debug mode single-stepping:

[code]
The OVPSIM is be

[2021-09-29 02:35] strichmo commented on #794
Resolving this particular review.  There will be another to update for E40X-specific counter events.

[2021-09-29 02:35] #794 closed

[2021-09-29 13:12] silabs-robin opened #906 "vplan review for RV32 counters for cv32e40x"
### Task Outcome
Updated vplan coverage plan definition for **Counters** for the CV32E40X.

### Background information
Vplan was updated, review is to check that the changes are good.

Changelog: https://github.com/openhwgroup/core-v-verif/pull/905

### Location Information
The updated vplan spreadsheet:
https://github.com/silabs-robin/core-v-verif/blob/counters_vplan/cv32e40x/docs/VerifPlans/Simu

[2021-09-30 14:56] silabs-robin commented on #906
Review done, plan merged

[2021-09-30 14:56] #906 closed

[2021-09-30 14:56] silabs-robin commented on #889
Review done, plan merged

[2021-09-30 14:58] silabs-robin commented on #678
Review done, plan merged

[2021-09-30 14:58] silabs-robin commented on #884
Review done, plan merged

[2021-10-04 12:05] MikeOpenHWGroup opened #911 "OBI_MEMORY_AGENT: conditional Driver and Sequencer instantiation"
## Type
Linter issues: the Driver and Sequencer are unconditionally created in [uvma_obi_memory_agent_c::create_components()](https://github.com/openhwgroup/core-v-verif/blob/1f430b7d805e2459f01c46e6ba58ef1dcbe59419/lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_agent.sv#L195)

### Steps to Reproduce
Below are a set of links to the specific linter issues:
- ['sequencer' of type 'uvma_obi

[2021-10-05 18:55] datum-dpoulin commented on #911
I disagree with the lint rule. While it may make sense to only create the components needed by the agent cfg, it ends up being a nightmare from a TLM connection standpoint. It forces users of the agent to check its own cfg before attempting to make any TLM connections:

[code]

As a user, I don't want to have to care about the agent's internals. I want to configure it, create it and connect it. I

[2021-10-05 19:20] MikeOpenHWGroup commented on #911
I'm not sure I follow @datum-dpoulin.  If the environment is using an agent as a monitor only, the environment "knows" that and configures the agent accordingly (by setting `cfg.is_active` to `UVM_PASSIVE`).  So there is no reason for the environment to connect to the agent's sequencer port and no reason for the monitor agent to create a sequencer or a driver.

[2021-10-05 19:27] strichmo commented on #911
I agree with the lint rule.  It is standard practice to only generate UVM hierarchy at run-time based on the dynamic configurations.  This does have a downstream effect on connectivity and TLM but in general those issues should pop up as run-time null handle failures that are relatively easy to diagnose and fix.

[2021-10-06 19:19] MikeOpenHWGroup commented on #911
Thanks @datum-dpoulin.

Yes please.  It will eventually propogated to the master and other core's branches.

[2021-10-07 13:43] strichmo opened #923 "add bitmanip extension to riscv-dv"
### Task Outcome
The Google riscv-dv project takes in one or multiple PRs to enable full coverage testing of the bitmanip extensions supported in CORE-V cores.

### Background information
Currently the Google riscv-dv project does support bitmanip instructions but only up to draft version 0p92.  For the CV32E40X and planned cores, this support needs to be extended to support the 1.0.0 frozen speci

[2021-10-08 10:11] eroom1966 commented on #904
@silabs-oysteink @strichmo

I do not see the exact same error reported here.
To be precise these are the exact commands I have executed

git clone https://github.com/strichmo/core-v-verif -b strichmo/temp/ovpsim_debug_step_intr
makeuvmt CV_CORE=cv32e40x clean_all
makeuvmt test CV_CORE=cv32e40x TEST=debug_test

The failure I see is as follows

please advise if I am missing a step, it looks like the

[2021-10-08 10:16] silabs-oysteink commented on #904
It looks to me like you are reproducing the same issue, although with slightly different timing. The case is when an interrupt is taken during single step, which results in no retired instructions before re-entering debug mode. RVFI PC points at the first instruction of debug (0x1a110800), while RVVI points at the first instruction of the interrupt handler (0x78). My understanding of debug spec V1

[2021-10-08 11:44] eroom1966 commented on #904
reproduced issue and are investigating WRT 1.0.0 specification

[2021-10-08 14:44] eroom1966 commented on #904
I have a fix for this, my intent was to commit this back to the cv32e40x/dev branch - is that OK ?

[2021-10-08 16:07] MikeOpenHWGroup opened #926 "Use of $urandom()"
In core-v-verif there are 8 files that use some variation of `$urandom()`.  You are in the "assignees" list of this issue because git believes you authored one or more of these.

The Verissimo linter flags these as violation [SVTB.29.1.3.1](https://dvteclipse.com/core5verif-verissimo/1/reports/run/1f430b7d805e2459f01c46e6ba58ef1dcbe59419/index.html?N4IgzgrgtlCGBOBPEAuAZrANmApgGhAGMALHQgazABV4ccBlH

[2021-10-08 16:26] MikeOpenHWGroup opened #927 "Do-nothing class method overrides"
In core-v-verif there are 3 files that override a method of a parent class, but only call super.method() with the same arguments. You are in the "assignees" list of this issue because git believes you authored one or more of these.

The Verissimo linter flags these as violation [SVTB.7.26](https://dvteclipse.com/core5verif-verissimo/1/reports/run/1f430b7d805e2459f01c46e6ba58ef1dcbe59419/index.html

[2021-10-08 17:42] eroom1966 commented on #904
Hi Steve
I am holding off this commit, it breaks the existing debug_test on this branch for 0.13.2 / 0.14
is that expected ?

[2021-10-08 19:02] MikeOpenHWGroup opened #928 "Logical negation of class handles"
In core-v-verif there are 51 violations of the linter's "Logical Violation" rule.  You are in the "assignees" list of this issue because git believes you authored one or more of these.

The Verissimo linter flags these as a [NON_STANDARD](https://dvteclipse.com/core5verif-verissimo/1/reports/run/1f430b7d805e2459f01c46e6ba58ef1dcbe59419/index.html?N4IgzgrgtlCGBOBPEAuAZrANmApgGhAGMALHQgazABV4ccBlHTM

[2021-10-11 10:36] silabs-oysteink commented on #904
@eroom1966  Could you elaborate on what is failing for 0.13.2/0.14, and how? Is the RTL failing on 'stock' ISS 0.13.2, or after the fix for step+interrupt is done for 1.0?

[2021-10-11 10:50] eroom1966 commented on #904
still investigating, but this behavior differs on the RTL used in the CV32E40X/dev
We think the behavior of 1.0.0 is correct, and 0.13.2/0.14 was incorrect

We changed something in the reference based upon an interpretation in the spec to match your RTL, and now we are reverting it to the original behavior

I need to trace back through our email exchanges to determine why we were asked to change t

[2021-10-11 13:43] eroom1966 commented on #904
@silabs-oysteink
you will notice that the debug test passes for e40x but fails for e40p, I think the e40p still has the RTL code bug

[2021-10-12 18:25] strichmo opened #932 "add instance macros for DSIM for all functional coverage groups"
### Type
Indicate whether the type of problem you found:
* Functionally incorrect behavior

### Steps to Reproduce
The DSIM simulator should not use options.per_instance = 1 for all functional coverage covergroups.  However the other simulators should be using this option to delineate instance-based coverage for all covergroups.

The standard is to use this macro in all covergroups (in agents, env

[2021-10-13 20:09] #884 closed, assigned to silabs-robin

[2021-10-14 03:32] datum-dpoulin commented on #926
This is the exception to the rule. We have a cfg parameter that is random constrained: `cfg.drv_idle_mode`. One of the options is to drive random data on idle.

I think it's a waive

[2021-10-14 03:43] datum-dpoulin commented on #928
@MikeCovrado not sure what I need to do. Didn't Steve already make the changes?

[2021-10-14 17:48] datum-dpoulin commented on #926
cfg.drv_idle_mode is being constrained to create this random behavior. That's why I'd say that this is the exception to the linter rule.

Why would $urandom() be different than other randomization functions?

FYI the new OBI agent architecture doesn't have problems like this because the driver gets a new sequence item from the sequencer on every clock. Just puts the contents onto the wires.

[2021-10-14 20:24] datum-dpoulin commented on #927
Fix in PR #943

[2021-10-14 20:24] datum-dpoulin commented on #928
Fix in PR #943

[2021-10-15 01:46] MikeOpenHWGroup commented on #926
OK, I'll roll over on this one.  Please add an inline waiver as shown above.

So, that covers the example in the original issue report.  There are still 7 other files with [SVTB.29.1.3.1](https://dvteclipse.com/core5verif-verissimo/1/reports/run/1f430b7d805e2459f01c46e6ba58ef1dcbe59419/index.html?N4IgzgrgtlCGBOBPEAuAZrANmApgGhAGMALHQgazABV4ccBlHTMgFwEsB7AO1QFoBGAiTKUadRs0LtuVRAAccqAEwFibFtVgAjZhNa

[2021-10-19 01:25] strichmo commented on #904
The issue is fixed in the cv32e40x and the ISS model.  The above issue (669) will clarify behavior in the CV32E40P.  Therefore this issue will be resolved.

[2021-10-19 01:26] strichmo commented on #844
Please note that this is being worked in the environment now.  Support will be added to the CV32E40X and CV32E40S.

[2021-10-20 21:15] datum-dpoulin commented on #928
Sorry about the delay, on it.

[2021-10-21 12:48] strichmo commented on #844
The support is now enabled in this PR: https://github.com/openhwgroup/core-v-verif/pull/959

Documentation will be added via a subsequent Issue and PR.

[2021-10-21 12:48] #844 closed

[2021-10-21 12:54] strichmo opened #963 "Implement fence.i assertions"
The fence.i vplan should be implemented in the cv32e40x as directed tests and assertion checks.

[2021-10-21 12:55] strichmo opened #964 "implement fence.i directed tests"
Create a directed test to close any coverage defined as directed in the vplan.
Enable turnon and validation of assertions for fence.i.

[2021-10-21 12:58] strichmo opened #965 "Update counter test for cv32e40x"
The counter tests are currently failing in cv32e40x.  Debug and update tests as required to ensure they pass robustly.
Add tests to count interrupt events as added in cv32e40x.
Ensure all events are covered by at least a directed test.

[2021-10-21 13:06] strichmo opened #966 "add random data bus error tests to corev-dv"
Ensure NMIs work properly in corev-dv.
Connect ISS interrupt signaling to RVFI NMI monitor.
Add scoreboard to ensure OBI data bus errors propagate to bus faults eventually.

[2021-10-21 13:14] strichmo commented on #874
Updates to cv32e40s from cv32e40x are now in PR to master: https://github.com/openhwgroup/core-v-verif/pull/956

[2021-10-21 19:48] MikeOpenHWGroup opened #969 "Runaway debug_test_reset on CV32E40X"
The `debug_test_reset` test-program is an old test that is currently passing on E40P.  When running on the E40X, the test-program gets itself into an endless loop:
[code]

### Steps to Reproduce
This behaviour manifests itself on hash `f70d878` of core-v-verif:
[code]

### Additional context
This behavior was first noted on a [MetricsCI regression](https://openhwgroup.metrics.ca/main-core-v-verif-

[2021-10-31 19:18] MikeOpenHWGroup opened #997 "Wrong number of arguments specified for 'interrupt' attribute"
### Type
* Compile error

### Steps to Reproduce
1. Check out hash `7f9ff9881fd399af9f786a0aa5bf1ee0b5ab54a4` of core-v-verif (current head of `cv32e40x/dev`).
2. $ cd core-v-verif/cv32e40x/sim/uvmt
3. $ make test TEST=interrupt_test

### Error message from [Metrics log](https://openhwgroup.metrics.ca/logs?externalIds[]=2519536f-f7a9-4295-853e-ff5d721c0f4d):
[code]

[2021-11-01 13:25] strichmo commented on #997
@MikeOpenHWGroup I seem to remember this being an issue with using an older toolchain.  Could you show me which version of gcc you are using?

[2021-11-01 13:33] MikeOpenHWGroup commented on #997
gcc 9.3.0 on my Ubuntu20.04 desktop and 4.8.5 on CMC's CentOS7 machines.

[2021-11-01 13:48] strichmo commented on #997
Do you see the error with 9.3.0?  I do not see it with 9.3.0 on my systems.

[2021-11-01 14:02] MikeOpenHWGroup commented on #997
Ah, shoot!  9.3.0 is my desktop's gcc.  My toolchain's gcc (i.e. `/opt/riscv/bin/riscv32-unknown-elf-gcc`) is 7.1.1.  Guess I'll need to rebuild my toolchain.

[2021-11-01 14:17] strichmo commented on #969
Should be resolved...reassigning to @MikeOpenHWGroup for closure.

[2021-11-01 14:32] MikeOpenHWGroup commented on #969
All good:
[code]

[2021-11-01 14:32] #969 closed

[2021-11-02 19:25] strichmo commented on #997
@MikeOpenHWGroup I'm going to set Resolved and assign to you to close.  Please re-assign and let me know if any more action is required.

[2021-11-04 12:59] MikeOpenHWGroup commented on #997
Agreed, this can be closed.  I updated my riscv toolchain to the top-of-tree on the [Embecosm toolchain downloads website](https://www.embecosm.com/resources/tool-chain-downloads/) (great resource, that) and the test compiles and runs as expected.  For the record the riscv toolchain I am now using is `riscv32-embecosm-gcc-ubuntu2004-20211027` which is based on `gcc version 12.0.0 20211027`.

Note

[2021-11-04 12:59] #997 closed

[2021-11-04 19:14] jeremybennett commented on #820
I have looked further, and the issue is that accessing the FPU CSRs never completes. When you look at the `cmderr` field of `abstractcs`, it reports 1 (busy), indicating the attempt to read the CSR is still in progress. It never leaves this state.

[2021-11-04 19:31] MikeOpenHWGroup commented on #820
Can you boil that down into a single asm instruction?  Perhaps:
[code]

[2021-11-09 16:43] MikeOpenHWGroup opened #1011 "VCS Compile error of ISACOV and suggested work-around"
### Issue Type
Compile error under Synopsys VCS (Cadence Xcelium and Metrics Dsim do not have this issue).  The offending code in the [ISA coverage model](https://github.com/openhwgroup/core-v-verif/blob/master/lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv#L56) is:
[code]
The VCS compile-time error message is:
[code]

### Steps to Reproduce
Any compile of a core-v-verif UVM environment w

[2021-11-09 19:24] MikeOpenHWGroup commented on #1011
Hi @ASintzoff, I forgot to ask, which version of VCS are you using?

[2021-11-09 19:36] strichmo commented on #1011
@ASintzoff @MikeOpenHWGroup I do not have access to VCS to try this, but this recoding appears to still work in Xcelium:

   cross_rd_rs1_rs2: cross cp_rd, cp_rs1, cp_rs2 {
-    ignore_bins IGN_OFF = cross_rd_rs1_rs2 with (!reg_crosses_enabled);
+    ignore_bins IGN_OFF = binsof(cp_rd) intersect {[0:$]} with (!reg_crosses_enabled);
   }

Please try this and let me know if it both:
- Suppresses all

[2021-11-10 08:07] ASintzoff commented on #1011
Q-2020.03-SP2-1

[2021-11-10 08:08] ASintzoff commented on #1011
Unfortunately, the idiom you are suggesting is not working with VCS.

[2021-11-10 08:10] ASintzoff commented on #1011
This suggested workaround is working with VCS. A pull request will follow.

[2021-11-10 10:48] ASintzoff commented on #1011
Before creating a pull request, I would like to be complete. Other constructions using `with` not working with VCS exist in the file.

To summarize all of them, are such workarounds suitable?
[code]

[2021-11-10 16:21] strichmo commented on #1011
@ASintzoff your above change:

[code]

Doesn't compile unless I change to:
[code]

However even with this change, I do not get the intended effect.  When reg_crosses_enabled is 0, I still get all of the cross bins defined via auto bin generation in Xcelium.

The intention is for these cross to be unpopulated by default (as this cross generates > 30000 bins!)

To make progress, and since VCS appear

[2021-11-10 16:53] jeremybennett commented on #820
I've tried to reset the debug unit when this occurs.

The recommended approach to "unsticking" the debug unit is to first reset the hart using `ndmreset` or `hartreset`, then resetting the debug unit using `dmactive`.  Using `hartreset` is not an option, since it is not implemented for the PULP debug unit.

Using `ndmreset` (toggle high, then low) followed by `dmactive` (toggle low then high) has

[2021-11-10 18:11] MikeOpenHWGroup commented on #1011
Agree with @strichmo that `ifdefs` should be a last resort, but it seems we cannot make progress without them.   So I propose that we use them on the [cva6/dev branch of core-v-verif](https://github.com/openhwgroup/core-v-verif/tree/cva6/dev) for now.  This will enable the CVA6 team to make progress integrating ISACOV into the CVA6 environment.  I am very motivated to see how much effort it will b

[2021-11-10 18:59] MikeOpenHWGroup commented on #820
This may or may not be related, but as I understand it, you are attempting to access a non-existant CSR while the core is in debug mode.  Assuming that this qualified as a debug exception, the core will jump to address `dm_exception_addr_i[31:0]`, which is a primary input to the core, which is currently hardwired to 0x0 in the MCU ([link](https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/c

[2021-11-11 08:37] Silabs-ArjanB commented on #820
That is not correct; it should point to the appropriate address in the Debug Module.

[2021-11-15 09:52] ASintzoff commented on #1011
OK. So, once the CVA6 team will re-use ISACOV, a VCS workaround will be only available on [cva6/dev branch of core-v-verif](https://github.com/openhwgroup/core-v-verif/tree/cva6/dev).

Contact done and issue opened.

[2021-11-18 14:02] #795 closed

[2021-11-18 14:18] strichmo opened #1027 "implement privileged spec v1.12 features"
### Task Outcome
The core-v-verif testbench infrastructure is updated to verify the CV32E40X core against the planned RISCV Privileged v0.12 Specification implementation.

### Background information
The CV32E40X will now support the CSRs within the RISCV v1.12 Privileged Specification.  Note that the User Manual for the cv32e40x will give more detailed descriptions of the extent of support for opt

[2021-11-20 22:28] MikeOpenHWGroup opened #1030 "Should we suppress ReadingOutputModport dsim warning?"
[CV32E40X issue #259](https://github.com/openhwgroup/cv32e40x/issues/259) describes a ReadingOutputModport compile-time warning emitted by Metrics dsim.   This warning is not seen with Cadence Xcelium and in a discussion with Metrics it was agreed that reading from an output modport does not violate the LRM.

I would like to propose that we suppress this dsim warning, but will only do so if @stric

[2021-11-21 19:13] strichmo commented on #1030
Given that Xcelium does not issue a warning, I am OK with suppressing this warning.

I will reassign back to @MikeOpenHWGroup to make the change.

[2021-11-22 15:46] MikeOpenHWGroup opened #1031 "debug_test hangs under dsim"
Running the `debug_test` on the `cv32e40x/dev` branch hangs when simulating with Metrics `DSIM`.  As far as I am aware, this behaviour does not occur on any other branch of any other core and does not occur with Cadence Xcelium.

At this time, I do not suspect an RTL issue.

### Steps to Reproduce
[code]

[2021-11-23 08:18] silabs-robin opened #1033 "Update "Type Suffixes" coding guidelines"
### Task Outcome
Should update the "Type Suffixes" table in the [coding style guidelines](https://github.com/openhwgroup/core-v-verif/blob/master/docs/CodingStyleGuidelines.md).

### Background information
The table prescribes suffixes to use, but we already have somewhat of a standard for some of these types.
Hence, we should update the table to use our existing conventions where applicable.

###

[2021-11-23 12:50] MikeOpenHWGroup commented on #1033
Thanks for bringing this up @silabs-robin.  Perhaps it would be useful to use this issue document the "somewhat standard types" we currently have in use before updating the coding style guidelines themselves.

[2021-11-23 15:16] MikeOpenHWGroup commented on #1031
Note that I have merged in a hot patch to cv32e40x/dev (`c09848f`) to temporarily removed the debug_test from the Metric CI regression as the hanging test causes a false negative result and excessively long CI regressions.   The debug_test will be restored once this issue is resolved.

[2021-11-23 18:26] MikeOpenHWGroup commented on #1030
This issue can be closed when pull-request #1034 is merged in.

[2021-11-24 20:47] #1030 closed

[2021-12-01 20:36] MikeOpenHWGroup commented on #928
Resolved as of #1042

[2021-12-01 20:36] #928 closed

[2021-12-03 16:37] strichmo opened #1045 "install latest GCC compiler on OpenHW Metrics cloud"
### Task Outcome
The Metrics cloud is updated with an installation of a top-of-tree gcc that provides full basic support for the 1.0.0 Zba, Zbb, Zbc, and Zbs extensions.  The minimal level of support required is that the assembler and the binutils support all opcode pnemonics for the above extensions supported by the cv32e40x and cv32e40s.

When the tool is installed, the cv_regress defaults for t

[2021-12-03 18:45] MikeOpenHWGroup commented on #1045
Hi @strichmo and @aimeepsutton, I have opened service ticket #1155 with Metrics for this task.

[2021-12-06 09:48] silabs-robin opened #1046 "Potential bug in uvma_rvfi_instr_mon (nmi/interrupt)"
`uvma_rvfi_instr_mon` has [logic for detecting nmi and interrupts](https://github.com/openhwgroup/core-v-verif/pull/1044/files#diff-dc01f2b99b7d05d5d5f7840681f3c6e07704b2ce74c15f5eda2796551e155f6cL192), and am not sure it is right.

This concerns setting `mon_trn.insn_nmi = 1` and `mon_trn.insn_interrupt    = 1`.
Nmi is detected based on PC. but it should be more reliable to use rvfi and mcause? S

[2021-12-06 14:33] strichmo commented on #1046
Yes, @silabs-robin this is planned to be updated based on the new multi-bit IRQ trap.  I will assign to myself and address today.

[2021-12-07 03:35] strichmo commented on #1046
The issue should be cleaned up and addressed in this PR: https://github.com/openhwgroup/core-v-verif/pull/1051

[2021-12-07 13:41] silabs-robin opened #1052 "Need a simple hello world guide"
There is a problem that setting up the environment is complicated and we don't have a minimal example.

Currently the main README's "Getting Started" has a link to what OpenHW is and to the verif strategy document which is too technical for someone looking for a simple hello world.
I see some /dev branches have added 40P and A6 links, and that might be sufficient (if 40x/s is similarly updated). B

[2021-12-07 17:32] MikeOpenHWGroup commented on #1052
Ha!   This is a case of either "great minds think alike" or "fools seldom differ".  The state of core-v-verif has been bothering me for a while and so I have been working on an update of the Verification Strategy and included a new [Quick Start](https://github.com/MikeOpenHWGroup/core-v-verif/blob/doc/docs/VerifStrat/source/quick_start.rst) chapter.   The idea is this would be pointed to directly

[2021-12-08 08:48] silabs-robin opened #1055 "Fencei random tests loads/stores to "volatile" part of memory"
The test doesn't sufficiently constrain the addresses being accessed, so it intrudes into the area where virtual peripherals reside.

### Type
* Functionally incorrect behavior

### Steps to Reproduce

Any specific hash is not important. The `corev_rand_fencei` test is simply not constrained in this regard.
There was a bug before that can be used to see a case where the lack of address constraint

[2021-12-09 01:54] strichmo commented on #1046
Closing this issue as the PR was merged.

[2021-12-09 01:54] #1046 closed

[2021-12-09 14:49] MikeOpenHWGroup opened #1060 "Question about PMA region configs"
When looking at pull request #1059 I realized that my understanding of the definition of PMA configurations for the E40X/S cores supported by core-v-verif was incomplete.  The purpose of this issue is determine if I understand things correctly.  There is a question at the end, but it requires some preamble...

In [uvmt_cv32e40x_constansts.sv](https://github.com/openhwgroup/core-v-verif/blob/master

[2021-12-09 15:22] silabs-hfegran commented on #1060
Hi @MikeOpenHWGroup

Yes, this is the intention of writing the byte-address + shift rather than the word address itself.

Yes, that will be the correct assumption - the upper two bits are zero-extended when we do not support virtual memory.
For reference, a similar question, with somewhat different verbiage, was also raised here: https://github.com/riscv/riscv-isa-manual/issues/131

[2021-12-09 17:03] MikeOpenHWGroup commented on #1060
Thanks for the quick answer and the pointer to the ISA Manual issue @silabs-hfegran.  Much appreciated.

[2021-12-09 23:28] strichmo commented on #874
Closing issue that has been properly resolved.

[2021-12-09 23:28] #874 closed

[2021-12-09 23:29] strichmo commented on #748
Reassigning this to @MikeOpenHWGroup as I have not made progress on the issue.

[2021-12-09 23:30] strichmo commented on #872
This should be resolved.

[2021-12-09 23:30] #872 closed

[2021-12-09 23:34] strichmo commented on #926
I did not address this before my departure but here's my 2 cents:
1. As long as $urandom or $urandom_range is used we should be staying with the SystemVerilog LRM seeding and should maintain random stability.
2. At least with Xcelium, the new constraint solver has a higher "fixed cost" for doing quick randomizations.  For example on some internal UVCs we were initially using objects to fully rando

[2021-12-12 00:03] MikeOpenHWGroup commented on #926
OK, it appears that a consensus is developing that in these instances it is safe to waive SVTB.29.1.3.1, and in some cases desirable from a performance standpoint.  I would like to add guidance on this in our newly minted [coding style guidelines](https://github.com/openhwgroup/core-v-verif/blob/master/docs/CodingStyleGuidelines.md).   The Verissimo rule is:
[code]

How about we add this to our co

[2021-12-12 15:04] MikeOpenHWGroup opened #1068 "Create documentation for CV32E40P corev-dv extensions"
At the time of this writting, all cores supported by core-v-verif use the Google `riscv-dv` instruction stream generator and the E40 cores extend riscv-dv to implement `corev-dv`, a core-specific ISG.   The extensions are maintained in `core-v-verif/<core>/env/corev-dv`.  When we first started using riscv-dv the number of corev-dv extensions was small and the relative complexity of each extension

[2021-12-15 10:13] silabs-hfegran opened #1073 "Remove corev-dv setup_mmode_reg override"
### Task Outcome
Remove \<core\>_privileged_common_seq and its references if it serves no other purpose than to override setup_mmode_reg due to the inifinite loop bug mentioned below.

### Background information
setup_mmode_reg was overriden to prevent the issue where we would reenable interrupts before calling mret within an interrupt handler. Another interrupt between mie and mret would cause th

[2021-12-15 14:19] silabs-hfegran opened #1075 "Clean up code duplication for riscv-dv extensions"
### Task Outcome
Clean up corev-dv extensions to prevent duplicate instances of identical code.

### Background information
Riscv-dv extensions are implemented both in top level core-v-verif, and in the core-specific env-folders. In some cases, code is copy-pasted between these, where the core-specific variant neither has a unique name nor any changes from code in top level. This leads to confusio

[2021-12-15 14:55] silabs-robin commented on #488
AFAICT, everything here has been addressed.
@MikeOpenHWGroup and/or @silabs-hfegran , even if this issue was assigned to me I can't see that I have sufficient github-permissions to close it.

[2021-12-15 15:59] MikeOpenHWGroup commented on #488
Agreed, this issue can be closed.

@silabs-robin, as a Contributor you _should_ be able to close issues.  I will look into this.

[2021-12-15 15:59] #488 closed

[2021-12-15 16:05] silabs-robin opened #1076 "Improve isacov"
### Task Outcome
A target for isacov features and cleanness is set, and a target for test stimuli comprehensiveness is set (a proposed list is given below).
Isacov and testing is improved to match that target.
It is also ok to split this out into new (sub)tasks.

### Background information
As part of investigating coverage reports, I found several issues with isacov sampling/decoding and with test

[2021-12-15 16:09] silabs-robin commented on #488
@MikeOpenHWGroup it is me again, Robin. Henrik is the one with the contributor rights :)

[2021-12-15 17:31] MikeOpenHWGroup commented on #488
@silabs-robin, you are partially right: @silabs-hfegran is a newly minted _Committer_, and you are a _Contributor_.  As a Contributor, you have the ability to issue pull-requests plus open and close issues.   In actual fact, _anyone_ can issue a pull-request, but OpenHW can only accept pull-requests from someone who is a Contributor (that is, covered by a Contributor Agreement).

Committers such a

[2021-12-17 08:47] silabs-robin commented on #1033
This is what I could find:
[code]

[2021-12-17 10:39] silabs-robin commented on #1052
I have read through you "Quick Start" guide. It looks good.
The following are my thoughts about certain parts of the guide, but I have just dumped my thoughts straight out so I hope that they are still ok to read.

What is _"Lots of python3 plug-ins"_? This should either be described, reference some doc, or have an explanatory note by it?

This _"The above will clone a version of the CV32E40P"_ is

[2021-12-17 13:59] MikeOpenHWGroup commented on #1033
Thanks for investigating this @silabs-robin.  The delta between what we have and Brian Hunter's guidelines is not that large.  Also, in most of the cases where there is a difference, we have little (or no) code that uses Hunter's suffixes.   so it should not be too painful to close this.  So how about the following?

| Suffix                 | Type                                        | Comment

[2021-12-17 18:44] mohamedElbouazzati opened #1078 "Compilation of test program for cv32e40p and verilator"
## Bug : compiling the test program
I'm trying to reproduce tests for cv32e40p using verilator simulator and i found this error( can't find -lcv-verif) during compiling helloworld test program, i tried different toolchains from eembecosm but still no results

![image](https://user-images.githubusercontent.com/62422381/146591615-740c3634-0a4a-4bbe-bd31-80839d53ab4d.png)

### Type

`/opt/riscv/bin/.

[2021-12-17 19:59] MikeOpenHWGroup commented on #1052
Thanks for the feedback @silabs-robin, it is much appreciated.   I've pushed in some updates that should address your comments.

[2021-12-17 20:32] MikeOpenHWGroup commented on #1078
Thanks for the detailed issue report @mohamedElbouazzati, it really helps.

It appears you toolchain is missing the `cv-verif` library.  Can you confirm which version of the toolchain you are using?  Quite honestly, I am not a toolchain guy, so I have no idea what that library is about.  @jeremybennett, can you shed any light on this?

Try this:
[code]
You should get something very much like this:

[2021-12-17 21:27] mohamedElbouazzati commented on #1078
Thanks for your answer.
Here is the version of the TC:

` /opt/riscv/bin/riscv32-unknown-elf-gcc -v
`
[code]

[2021-12-19 20:24] MikeOpenHWGroup commented on #1078
I see that you are using a more up-to-date version of the toolchain (20211212) than I had (20211027), so I thought perhaps that could be the issue.  However updating my toolchain to 20211212 does not change anything for me.   (This is actually _good_ news because it means the toolchain is not the problem.)

At this point I am all out of ideas, so I will consult with some colleagues on Monday.

[2021-12-19 20:56] mohamedElbouazzati commented on #1078
OK, thanks, I'll check on my side to see if I missed something.

[2021-12-20 10:07] mohamedElbouazzati commented on #1078
Hello, I found that the BSP directory for cv32e40p has already been compiled by me, and I did a first cleanup and went to the /sim/core directory so the helloworld test works fine for me, it was a mistake on my part I compiled the BSP before... just to try my toolchain...

So sorry and thanks.

![image](https://user-images.githubusercontent.com/62422381/146749200-f3962442-5991-49f9-afa9-aa00639b77

[2021-12-20 10:07] #1078 closed

[2021-12-20 13:33] MikeOpenHWGroup commented on #1078
Thanks @mohamedElbouazzati.  I should have thought to ask about this.

For future reference, there is a make target `clean_all` which will remove _all_ generated files plus the cloned RTL.   It can be very helpful.

[2021-12-21 12:42] silabs-robin commented on #1052
@MikeOpenHWGroup the getting started doc looks mostly good to me now.
I can't see that required environment variables are mentioned(?), but there is a link to it under the "Supported Simulators" section.
Other than that I think it is good.

[2021-12-21 13:08] silabs-robin opened #1082 "Default CV_SW_MARCH not supporting 40x rand tests"
### Type
* Compile error

### Steps to Reproduce
1. On latest `cv32e40x/dev` branch (399c44 as of now).
2. Set environment variables `CV_SIMULATOR`, `CV_SW_TOOLCHAIN`, `CV_CORE` etc (but not CV_SW_MARCH).
3. Run `./bin/makeuvmt comp_corev-dv gen_corev-dv test TEST=corev_rand_fencei CV_CORE=cv32e40x`.
4. Problem, `Error: unrecognized opcode` is occuring for several B-ext instructions.

### Addition

[2021-12-21 14:20] MikeOpenHWGroup commented on #1052
Good observation.  If the reader follows all the links to all the READMEs in the order they are provided in the Quick Start chapter, they will see the proper instructions for setting up the ENV vars.  I'll add a few words to encourage the reader to look at those READMEs (without violating the "DRY" principle of documentation: "don't repeat yourself").

[2021-12-21 14:52] MikeOpenHWGroup commented on #1052
Good observation.  If the reader follows all the links to all the READMEs in the order they are provided in the Quick Start chapter, they will see the proper instructions for setting up the ENV vars.  I've added a few words to encourage the reader to look at those READMEs (without violating the "DRY" principle of documentation: "don't repeat yourself").

[2021-12-21 14:53] MikeOpenHWGroup commented on #1082
Thanks for bringing this up up @silabs-robin.

Agreed.  It should be an option we provide (just in case someone wants to hang themselves), but it should not be required.

I believe this is the crux of the problem.  I should have some time to look at this today.

Welcome to my nightmare.  In general, I am a fan of Makefiles, but we are pushing them to an illogical extreme.  Some well placed "helper

[2021-12-21 16:37] silabs-robin opened #1083 "Consider generalizing ISACOV w/ LUTs and flags"
### Task Outcome

Either 1) upgrade isacov covergroups to be more generalized and simplified, or 2) create a plan for how it can be done and spawn a new issue for the actual completion of said plan, or 3) provide evidence indicating that such an endeavor is not worthwile.

### Background information

With the isacov maintenance that was done in PR https://github.com/openhwgroup/core-v-verif/pull/1

[2021-12-22 00:34] MikeOpenHWGroup commented on #1082
Update.  I believe the root of the problem reported in this issue is on [line 294 of mk/Common.mk](https://github.com/openhwgroup/core-v-verif/blob/master/mk/Common.mk#L294).  That line reads:

[code]
In order to override it with the RISCV_MARCH in the yaml configuration it should be:

[code]

I have tried this on my desktop machine (running Metrics dsim) and on a CMC VM (running Cadence Xcelium)

[2021-12-24 03:40] MikeOpenHWGroup opened #1084 "Duplicate code in uvmt_cv32e40p_debug_assert.sv"
Hi @silabs-oysteink, this is a somewhat unfair question about code you contributed back in September of 2020.

### Type
* Duplicated code

### Issue Description
The file in question is [uvmt_cv32e40p_debug_assert.sv](https://github.com/openhwgroup/core-v-verif/blob/65624082195461d1d631645c53673fef377acb2e/cv32e40p/tb/uvmt/uvmt_cv32e40p_debug_assert.sv).  The duplicated code is shared by property `

[2021-12-27 12:05] silabs-hfegran commented on #1082
Hi @MikeOpenHWGroup, line 279:
[code]
Like all the other configs, sets the march to rv32imc if it is not overridden in the configuration.
Line 294, which you mentioned, overrides this parameter with a TEST-specific one.

Thus, to fix this issue, what you want to do is to add the following to the yaml-files:
[code]

I this way, one also avoids having to look into the makefile to see which architect

[2021-12-27 15:48] silabs-robin commented on #1033
I like your proposal.

Typo in _"Interface Interfaces or Types"_?
Should be _"Interface Instances or Types"_ or for example _"Interface Types and Instances"_?

I like the idea of `_st` for structs.
But it seems like `_t` for tydefed structs is the most common suffix?
(It also doesn't seem like non-typedefed structs are used at all.)
Even the 1800-2017 LRM has some uses of `_t` for typedefed struct

[2021-12-27 15:55] silabs-robin commented on #1052
It looks good to me 👍

[2021-12-27 18:23] MikeOpenHWGroup commented on #1052
Thanks for the reviews and feedback Robin.  I'll keep this issue open until the uodates to the Quick Start chapter are merged onto core-v-verif's main branch.

[2021-12-27 18:39] MikeOpenHWGroup commented on #1033
Should be "Interface Instances or Types" or for example "Interface Types and Instances"?

Yes, thanks for the catch,

But it seems like _t for tydefed structs is the most common suffix?

I too like _st for structs, so I'll add it as a recommendation.  You are right that _t is already widely used for typedefs (as you'd expect) and typedefed structs.  I'm not perpared to police such finegrained suff

[2021-12-28 16:52] MikeOpenHWGroup commented on #1082
You are right @silabs-hfegran, this can be fixed without modifying the `mk/Common.mk` Makefile.  Thanks for the clarification.  The question now is, where should the configuration be?  There are (at least) two options:
1. `cv32e40x/tests/cfg/default.yaml`.  This will set cv_sw_march for all test-programs that use the default test-program configuration.
2. `cv32e40x/tests/programs/corev-dv/corev_ra

[2022-01-03 05:58] silabs-hfegran commented on #1082
Good question @MikeOpenHWGroup

The path I have followed with my update to the configurations & makefiles is that the largest supported set of extensions is the default (configuration-wide) setting, while certain extensions can be disabled on a per-test basis (or if deemed necessary, its own configuration). Thus, my proposition is that the cfg/*.yaml-files dictate the standard compiler architectur

[2022-01-03 06:03] silabs-hfegran commented on #1082
Alternatively, one could hard-code the default inside the makefiles (The makefile as you noticed, uses rv32imc by default), though I prefer the increased visibility with the default setting directly inside the configuration yaml, as this will make it apparent at first glance which compiler setting is used.

In my experience, the more "standard" settings that are already in the configuration files

[2022-01-03 12:25] silabs-oysteink commented on #1084
Forwarding this to silabs-robin since he worked on the debug assertions more recently than me and has greater knowledge of SVA.

[2022-01-04 04:28] MikeOpenHWGroup commented on #1082
PR #1092 is a proposed refactoring of the common makefile to both simplify and resolve this issue.

[2022-01-04 13:10] silabs-hfegran commented on #923
Changes upstreamed to google, core-v-verif hash updated for 40x

[2022-01-04 13:10] #923 closed

[2022-01-04 13:11] silabs-hfegran commented on #965
Updated

[2022-01-04 13:16] #494 closed

[2022-01-04 13:21] silabs-hfegran commented on #1045
@MikeOpenHWGroup is this issue resolved?

[2022-01-04 14:11] silabs-robin commented on #705
Fixed by the PR that fixed https://github.com/openhwgroup/cv32e40x/issues/231

Conclusion:
The signals were kept in the RTL. But they were made internal-only and renamed to not have the "_o" suffix, and a comment explains that the signals are for verification purposes.

[2022-01-04 14:11] silabs-robin commented on #705
This issue can be closed. I don't have the permissions.

[2022-01-04 15:14] MikeOpenHWGroup commented on #1045
Yes, indeed.

[2022-01-04 15:14] #1045 closed

[2022-01-04 16:05] MikeOpenHWGroup commented on #705
Thanks @silabs-robin

[2022-01-04 16:05] #705 closed

[2022-01-04 16:53] MikeOpenHWGroup opened #1095 "Determine threshold for duplicate code checks"
In response to a query to AMIQ about a duplicate code check, Andrei Tudor Florescu reports:

I would suggest first trying with a value of around 50 and after that if necessary try other smaller values.

As luck would have it, there is a significant duplication of code in [uvma_obi_memory_drv.sv](https://github.com/openhwgroup/core-v-verif/blob/55deb696e671451f4057d6be3b49c1f4f29c13d1/lib/uvm_agent

[2022-01-05 12:36] MikeOpenHWGroup commented on #1095
The treshhold is user-configurable via the 'minNofTokens' parameter in the [ruleset](https://github.com/openhwgroup/core-v-verif/blob/master/vendor_lib/verissimo/ruleset.xml) file.
Example of usage:
[code]

[2022-01-06 08:18] silabs-hfegran opened #1099 "Upstream C_LUI fixes to riscv-dv and remove from corev-dv codebase"
### Task Outcome
Compilers do not support C_LUI with negative integer address offsets, there is a local fix to allow generating negative (in other words 0xffff_ff**) values instead in our repository. This fix should be upstreamed to google and removed from our codebase to reduce maintenance workload on corev-dv.

### Background information
Previously bugfixes to riscv-dv were not upstreamed to goo

[2022-01-10 10:06] #1075 closed

[2022-01-10 10:07] #1073 closed

[2022-01-10 10:08] #964 closed

[2022-01-12 16:15] MikeOpenHWGroup opened #1106 "Cv32E40X simulation failures with Questa"
This issue is motivated by a discussion in pull-request #1092 in which @silabs-robin reported problems compiling and simulating the CV32E40X in the core-v-verif UVM environment with Questa.  The error reported is:
[code]
I strongly suspect the primary issue here is related to bit-rot of the Questa makefile for the UVM environment, [mk/uvmt/vsim.mk](https://github.com/openhwgroup/core-v-verif/blob/

[2022-01-12 16:17] MikeOpenHWGroup commented on #1106
Hi @silabs-robin, can you add a comment here to provide the command-line necessary to reproduce the above issue?   Thanks!

[2022-01-12 16:40] MikeOpenHWGroup opened #1107 "Refactoring for the CV32E40X test-program definitions"
### Task Outcome
Removal of all deprecated toolchain selection parameters in the test-program definitions for the CV32E40X.

### Background information
As documented in the toolchain selection sub-section of the [TOOLCHAIN](https://github.com/openhwgroup/core-v-verif/blob/cv32e40x/dev/mk/TOOLCHAIN.md#toolchain-selection) markdown, there exists a set of YAML files that are used as individual and gr

[2022-01-13 12:57] silabs-robin commented on #1106
I ran ci_check for 40x using questa.
So I think that should be this command: `./bin/ci_check -s vsim --core=cv32e40x`.

The result I got was:
[code]

Contrasted to the latest cv32e40x/dev before the makefile refactor, the "corev_rand" tests seem to be missing:
[code]

[2022-01-14 02:37] MikeOpenHWGroup commented on #1106
Ah, sorry, I was not clear.  What I'm most interested in is the command-line for individual tests that fail.   You can get `ci_check` to give you that with the `-p` command-line arg:
[code]
This will dump the generated make commands (but not run them). I'd like to know which test fails and what the failure signature is.

[2022-01-14 03:21] MikeOpenHWGroup opened #1110 "RVVI and RVFI agent incompatibility across CV32E40X/E40S"
### Type
Compile error of the CV32E40S in the cv32e40x/dev branch.

As we were discussing this morning, I wanted to look into whether all cores would run in a specific core's "dev" branch.   In this case, the cv32e40x/dev branch.  If you try compiling the sanity test of the CV32E40X on the `cv32e40x/dev` branch of `git@github.com:openhwgroup/core-v-verif.git`, it will compile and run correctly, bu

[2022-01-14 08:54] silabs-robin commented on #1106
The complete output is this:

[code]

Note: the first commands, "make corev-dv" and "make comp", do not specify SIMULATOR.

Note: "hello-world" and a few other pass for me, using questa.

Note: The first failure is in "interrupt_test".  (This is one of the tests that can give the _"# ** Fatal: (SIGSEGV) Bad handle or reference."_ above.)

Note: After I manually add SIMULATOR=vsim to "make corev-dv

[2022-01-14 13:31] silabs-robin commented on #1106
I looked a bit into it and I think I might have found where it goes wrong. (Though I don't yet have any concrete suggestions for how to fix it.)

In the file [bin/ci_check.py](https://github.com/openhwgroup/core-v-verif/blob/master/bin/ci_check#L289) we have _"# Get the build command"_ and _"# Get the simulation command(s)"_.
The build commands seem to be fetched from [.metrics.json](https://githu

[2022-01-14 13:38] MikeOpenHWGroup commented on #1106
You are correct @silabs-robin, this is latent but in `ci_check`.  The script sets the simulator correctly for individual test runs, but not for building corev-dv.   I'll fix it.

[2022-01-17 22:03] MikeOpenHWGroup opened #1122 "Unexpected DSIM error: "No clocking event is specified or can be inferred""
A recent update to `uvmt_cv32e40x_interrupt_assert.sv`, see [line 205](https://github.com/openhwgroup/core-v-verif/blob/a0b44fd155dad5bd03a1039e88a0b611e21fa2be/cv32e40x/tb/uvmt/uvmt_cv32e40x_interrupt_assert.sv#L205) and [line 432](https://github.com/openhwgroup/core-v-verif/blob/a0b44fd155dad5bd03a1039e88a0b611e21fa2be/cv32e40x/tb/uvmt/uvmt_cv32e40x_interrupt_assert.sv#L430), causes compile erro

[2022-01-17 23:02] MikeOpenHWGroup commented on #1122
This has been reported to Metrics and can be referenced as `request #1163`.

[2022-01-18 08:04] silabs-robin commented on #1122
Hi @MikeOpenHWGroup. That error message seems a bit strange.
Looking at the git blame of that file, isn't that line 10 months old?
And this file has a "default clocking", so how could there be no clocking event?
I don't really understand that, but maybe the people at Metrics are able to spot the problem.

[2022-01-18 12:00] silabs-robin opened #1123 "Merge conflicts: "40p_release" -> "master""
As part of the merge procedure I merged "40p_release" into "master" (on my own fork), but there was merge conflicts.
@MikeOpenHWGroup could you have a look to see if I did my manual conflict resolution correctly?
Here is my branch https://github.com/openhwgroup/core-v-verif/compare/master...silabs-robin:silabs-robin/pr/master_merge_220118_40p
And the latest commit (the merge commit) is the one of

[2022-01-18 12:40] silabs-robin commented on #1123
I am continuing the `silabs-robin/pr/master_merge_220118_40p` merging in `silabs-robin/pr/master_merge_220118_40p_40x`, where I shall pull in from `cv32e40x/release`.
So if you do see something you want to change, I don't think it matters whether you PR to my `..._40p` or `..._40p_40x` branch because I can plan to continue on `..._40p_40x_40s` and I can just pull in changes from whichever of the p

[2022-01-18 13:29] silabs-robin opened #1124 "Merge conflicts: "40x_release" -> "master"+"40p_release""
First I merged "40p_release" into "master" (see https://github.com/openhwgroup/core-v-verif/issues/1123) and now I merged "40x_release" into that previous merge of "master"+"40p_release".
There was conflicts.

Here is the diff https://github.com/openhwgroup/core-v-verif/commit/65706bc94788b9efcb41bf20b97abe28d7e7d069 (sadly includes more lines than the ones who conflicted).
@MikeOpenHWGroup  could

[2022-01-18 18:54] MikeOpenHWGroup commented on #1123
Hello @silabs-robin, good work on this.

Yes, that is correct.

I would call your "best guess" an "educated guess" as you chose the proper ones.

Again, you chose correctly.

Again, you chose correctly.

Oh, _so_ close!   Everthing is bang on except for these lines:
![image](https://user-images.githubusercontent.com/55248931/150000474-10b81090-f21e-49e2-b4ea-33456ece1360.png)

[2022-01-18 19:42] MikeOpenHWGroup commented on #1124
This time, you are 4 for 4.

Yes, having the `SIMULATOR=dsim` argument for each command has been made redundant by the (new) [variables](https://github.com/openhwgroup/core-v-verif/blob/ee67da1f0fda04cbb59e784f0d944a1071f7058b/.metrics.json#L2) entry.

Thank you.  That is my preference, but of course either will work in a README.

Not sure what "nicest one" means, but you selected the line which r

[2022-01-19 13:09] silabs-robin commented on #1124
Thanks for reviewing the manual edits.
I'll close this issue since there were no problems.

[2022-01-19 13:09] #1124 closed

[2022-01-19 13:14] silabs-robin commented on #1123
Darn :) Almost got it right.

In `cv32e40p/sim/core/Makefile`, should it be those red lines with `SIM_TEST_RESULTS` and `VERI_CUSTOM` that should have been used?
(If yes then I think I might have removed VERI_CUSTOM if it was used nowere else, so that has to be fixed.)

I'll leave this issue open until I find the best time to fix it.
Maybe when I have a "master" branch ready to PR, I can add a com

[2022-01-20 08:49] silabs-hfegran opened #1129 "mhpmcounter29_csr_access tests pass with wrong configuration"
## mhpmcounter29_csr_access tests pass with wrong configuration

mhpmcounter29_csr_access_test_* has consistently been running under the wrong configuration since the build environment enabled multiple configs for each test in regressions. Additionally, the test explicitly states that these test must be run with NUM_HPMCOUNTERS=29, and while this is the case, test_1 appears to consistently pass re

[2022-01-20 12:51] silabs-hfegran commented on #1129
PR #1128 should solve the cfg issue, however the ISS needs an update to set the mcountinhibit CSR correctly on reset, thus I have disbled scoreboard checking for that particular CSR.

[2022-01-21 14:28] silabs-mateilga opened #1138 "Cover the cross of NMI and Debug with assertions"
The cases where an entry to debug crosses with an NMI event are not covered by assertions. There are several corner cases here, which should be covered.

Note that the corner case where an illegal instruction, debug entry and NMI has been excluded from the assert "a_illegal_insn_debug_req". Make sure this case is covered by the assertions added in this task.

Task is completed when assertions cove

[2022-01-21 22:33] MikeOpenHWGroup commented on #1138
Are the cases where an entry to debug crosses with an NMI event mentioned in the [DVplan(s)](https://github.com/openhwgroup/core-v-verif/tree/master/cv32e40x/docs/VerifPlans/Simulation)?  If not, then please create an issue against the DVplan.  If these cases _are_ covered in the DVplan, then I recommend we close this issue as it is part of our process to have either a directed testcase or (prefer

[2022-01-26 10:15] silabs-robin commented on #1110
One question about this.
Does the branch make any changes to those `uvma_rvvi` files mentioned above?
When I look at the latest commit and on the commit tree, I only see commits from the 40x dev branch itself, and no new temporary-changes commits.

[2022-01-26 14:19] gabrielrad opened #1149 "Toolchain makefile variables break Verissimo integration"
When invoking `make create_dvt_build_file` from `core-v-verif/cv32e40p/sim/uvmt` directory, to create the build file needed by Verissimo in order to compile the project we get:

[2022-01-27 14:51] MikeOpenHWGroup opened #1150 "Specification for a CORE-V eXtension Interface Reference Model"
### Background information
Both the CVA6 and CV32E40X cores support an instance of the CORE-V eXtension Interface (XIF) to a co-processor that could be used to implement a RISC-V compliant ISA extension (e.g. RISC-V Vector ISA) or a custom (and potentially closed-source) ISA.   Until very recently, the core-v-verif environment had no means of supporting verification of the XIF-specific features of

[2022-01-28 17:36] michelleclancy opened #1154 "test marketing #101"
trying this again..

[2022-02-01 09:36] Nicolas-Gaudin commented on #1123
I had an issue when using the veri-test command. Indeed, this is related to what you are talking about.

https://github.com/openhwgroup/core-v-verif/blob/f741f3721eddee862b8de78836fc6d80d3404f0a/cv32e40p/sim/core/Makefile#L505
	mv $(VERI_OBJ_DIR)/Vtb_top_verilator **$(SIM_TEST_RESULTS)/verilator_executable**

https://github.com/openhwgroup/core-v-verif/blob/f741f3721eddee862b8de78836fc6d80d3404f0a

[2022-02-02 13:38] MikeOpenHWGroup commented on #1123
Merges to/from `master` and `cv32e40p/release` branches resolved and all associated PRs are "in".

Need a a couple of hotfixes: #1157 for `cv32e40p/release` and #1158 for `master`.

@silabs-robin, I believe this issue can be closed now, but you opened it, so that is your call.

@Nicolas-Gaudin, thanks for flagging the issue with the CV32E40P Core testbench.  Sadly, this testbench receive little at

[2022-02-02 15:46] silabs-robin commented on #1123
Thanks @MikeOpenHWGroup. I will close the issue, but I want to look at a few tests first.

[2022-02-03 02:26] MikeOpenHWGroup commented on #1122
This issue can be closed as soon as #1161 is merged in.

[2022-02-03 08:42] #1123 closed

[2022-02-03 10:19] #1122 closed

[2022-02-03 10:22] #1082 closed

[2022-02-03 10:22] #1068 closed

[2022-02-03 10:23] #963 closed

[2022-02-04 13:49] silabs-robin commented on #1031
Hi. Are there any updates on this?
As I am un-commenting back in some 40x "rel_check" tests now, I noticed that "debug_test" is still commented out of 40x "ci_check".
Did someone from Metrics have a look at it?

[2022-02-04 15:13] MikeOpenHWGroup commented on #1031
Sorry @silabs-robin, I have not had a look at this in a while.  I am working with Metrics on a simulation-runtime performance issue that I suspect may be related to this.  Once a new docker image for dsim is installed to resolve the performance issue I will look into this specific issue again.

[2022-02-05 14:27] MikeOpenHWGroup commented on #1149
HI @gabrielrad, I have pushed in a fix on the `master`, `cv32e40p/dev` and `cv32e40p/release` branches.  The Verissimo build and run on `dev` works as expected, but `master` and `release` fail to build.  The changes to the Makefile are identical.   Can you have a look?

[2022-02-07 10:18] gabrielrad commented on #1149
The `Common.mk` file is different between master and dev. On master it fails with:

/home/gabriel.raducan/core-v-verif/mk/Common.mk:253: *** CV_SW_TOOLCHAIN not defined in either the shell environment, test.yaml or cfg.yaml.  Stop.

[2022-02-07 14:37] gabrielrad commented on #1149
That is `dvt.mk`, not `Common.mk`. It passes on dev because that version of `Common.mk` is lacking those error macros.

In `Common.mk` the `dvt.mk` is included after the check for `CV_SW_TOOLCHAIN`.

[2022-02-07 22:55] MikeOpenHWGroup commented on #1154
Hi @michelleclancy, closing this issue as the experiment is now complete.

[2022-02-07 22:55] #1154 closed

[2022-02-07 22:58] MikeOpenHWGroup commented on #1149
Ah, _now_ I see.

This has exposed a flaw in our branch management flow.   That is a different problem, but I think I see a simple fix for this issue (that also won't get in the way of the branch management problem).

I'd like to be able to test this myself - what is the command-line you use to run Verissimo?  I do not need to actually run Verissimo locally, all I want to so is ensure that the Mak

[2022-02-08 12:59] gabrielrad commented on #1149
You need to go to `cv32e40p/sim/uvmt` and run `make create_dvt_build_file` and this should create a `core-v-verif/.dvt/default.build` file.

Could we make this check available on all Pull Request in the future, similar to licensing?

[2022-02-08 13:22] MikeOpenHWGroup commented on #1149
I have manually run this on the head of the `master`, `cv32e40p/dev` and `cv32e40p_release` branches.  The results were the same each time.  First the Makefile issues the following to stdout:
[code]
The above is what I would expect.  Next, the following `.dvt/default.build` is generated:
[code]

Is this _not_ what is expected?  What does a successful run of `make create_dvt_build_file` look like?

[2022-02-10 08:28] silabs-mateilga opened #1176 "Error in environment documentation, deferint signal"
the description of the _deferint_ signal on line 850 specifies that the signal is active low, which does not match the documentation of the model provided by Imperas, that specifies the signal is active high.

Local ref:
core-v-verif/docs/VerifStrat/source/cv32_env.rst

Imperas ref(when checked out):
core-v-verif/vendor_lib/imperas/imperas_DV_COREV/doc/OVP_Model_Specific_Information_openhwgroup_ri

[2022-02-10 13:28] MikeOpenHWGroup commented on #1176
Thanks for reporting this @silabs-mateilga.   I assume that this is non-blocking, please advice if it _is_ blocking you (or anyone else).

Blocking or not, its important to clear this up.  I will look into it.  Do you have a testcase on either the E40S or E40X that asserts _deferint_?

[2022-02-10 13:34] silabs-mateilga commented on #1176
@MikeOpenHWGroup  This problem is in documentation only, and is therefore only confusing, not blocking. I'm not sure if it is necessary to see a testcase, but the signal is driven by the methods in uvma_rvvi_ovpsim_drv.sv to control the reference model, so any test that runs interrupts would show activity on the signal. I'm currently working on corev_rand_instr_obi_err, as an example, but any inte

[2022-02-14 22:06] MikeOpenHWGroup opened #1185 "new-agent fatals out"
Running the new-agent Makefile target generates _most_ of the shell for an Agent, but fatals out over something called `agent_simplex_no_layers`.

### Steps to Reproduce
[code]

### Additonal Context
Example run of `new-agent` follows:
[code]

[2022-02-17 12:22] silabs-robin opened #1188 "Problem: vPlans are binary and ..."
Symptoms:
Working in parallel on vplans is very impractical.
Reviewing the diff of vplan changes is difficult.

Cause:
The excel vPlans are binary.

Background:
The XIF vplan, and other vplan reviews before it.
We want to change parts of the XIF vplan, but Thales might also be about to make changes to it, so how can we work simultaneously on it?
We want to review vplan changes, but the file is bin

[2022-02-17 15:40] MikeOpenHWGroup commented on #1188
This is a perennial topic.   At the start of the CV32E40P we considered all these options.  Markdown tables were rejected due to poor support for tables.  ODF is an option, but people missed some of the features available with XLSX formats.

In the end, we opted to "waste" space on GitHub by having individual reviewers submit feedback as comments in the spreadsheet and submit them to GitHub with a

[2022-02-17 18:08] silabs-robin opened #1192 "XIF vPlan Review"
### Task Outcome
XIF vPlan is reviewed, the review feedback is discussed, and agreed-upon changes are made to the vPlan.

### Background information
I have reviewed the XIF vPlan and I wish to start a round of discussion and revision.
@JeanRochCoulon , could you ask someone from Thales (maybe yourself) to engage with this review?
@MikeOpenHWGroup , could you (only if you have time) mediate these v

[2022-02-18 08:03] silabs-robin commented on #1192
Should we stick to the [vplan review procedure](https://github.com/openhwgroup/core-v-verif/blob/master/docs/VerifPlans/VerificationPlanning101.md#verification-plan-reviews)?
I.e. doing pre-reviews (like my annotated vplan above), and then hold a meeting to discuss all the feedback?
I think some more people would like to do a pre-review too.

[2022-02-18 10:10] silabs-mateilga opened #1193 "OVPSIM mret does not set MIE = MPIE in MSTATUS CSR"
For a few select seeds when running the "corev_rand_interrupt_wfi_mem_stress" test, what seems to be a bug in the reference model can be observed. The scenario is that when a core is woken from a wfi instruction by a disabled interrupt, and the next instruction is an mret instruction, the MIE bit is not set to MPIE in the MSTATUS CSR, which is in breach with the 1.12 privileged spec.

Steps to Rep

[2022-02-18 12:25] eroom1966 commented on #1193
@silabs-mateilga
Having trouble reproducing your steps, this is what I did after setting my environment to run xcelium

$ git clone https://github.com/openhwgroup/core-v-verif
$ cd core-v-verif
$ git checkout cv32e40x/dev
$ git reset fe9bdef --hard
$ make comp_corev-dv gen_corev-dv TEST=corev_rand_interrupt_wfi_mem_stress CFG=default SIMULATOR=xrun USE_ISS=YES COV=YES RUN_INDEX=27 GEN_START_INDEX=

[2022-02-18 14:21] silabs-mateilga commented on #1193
Ah, apologies, I sometimes forget how much of the environment is "just there".

export CV_SW_TOOLCHAIN=/tool/gcc/riscv32-embecosm-gcc-centos7-20211031
export CV_SW_PREFIX=riscv32-unknown-elf-
export CV_SW_VENDOR=unknown
export CV_SIMULATOR=xrun
export CV_CORE=cv32e40x

[2022-02-18 14:30] eroom1966 commented on #1193
next issue ....

[2022-02-18 14:35] eroom1966 commented on #1193
Next issue
I am sure I have reported this before, I think the problem is the type of shell

There is a 'for loop' construct used here which has a pre-requisite on the type of shell being used to invoke make
I think this is assuming csh or maybe ksh ?
I am using /bin/bash

If there are constructs requiring specific shell features, then the Makefiles must define the SHELL variable in order to use th

[2022-02-18 14:48] silabs-hfegran commented on #1193
I believe that is plain sh-syntax

[2022-02-18 14:48] silabs-mateilga commented on #1193
I'm unsure of what the specific problem is, but here is the latest documentation of the environment variables required.

https://github.com/openhwgroup/core-v-verif/tree/master/mk#required-corev-environment-variables

[2022-02-18 14:55] silabs-hfegran commented on #1193
This should run fine invoked from a bash shell on most linux-distributions.

What kind of OS are you attempting to run this on @eroom1966?

[2022-02-18 14:58] eroom1966 commented on #1193
I see the problem, I have constructed a small testcase
This syntax does NOT work in a bourne (/bin/sh) shell, but does work in a bourne-again shell (/bin/bash)

what you may have on your Linux system is a symbolic link from
/bin/sh -> /bin/bash
could you check ?

make by default will use /bin/sh - this syntax will not work in /bin/sh
in the makefile I can force it to use /bin/bash by defining
SHEL

[2022-02-18 14:59] silabs-hfegran commented on #1193
Thanks for that @eroom1966, you are correct - it is linked to bash

[2022-02-18 15:00] eroom1966 commented on #1193
OK, the makefiles need to define the SHELL variable for the interpreter intended to be used, which it appears is /bin/bash

[2022-02-18 15:22] silabs-hfegran commented on #1193
Apologies for these issues - Ubuntu to my knowledge has not been extensively tested as it is not an officially supported cadence platform. That said, this should not be related to the shell issues you are seeing. ExternalRepos.mk (which is included in  core-v-verif/cv32e40x/sim/uvmt/Makefile that should be called when executing ) exports the SHELL-variable to /bin/bash when invoked.

Just to doubl

[2022-02-18 15:50] eroom1966 commented on #1193
slow progress - now I get the following message when trying to compile

[2022-02-18 15:51] eroom1966 commented on #1193
slow progress, getting a compilation error
[code]

I am guessing my toolchain is too old ?
Can you please provide a link to the toolchain necessary to compile this example ?

Thx
Lee

[2022-02-18 16:04] MikeOpenHWGroup commented on #1192
Yes.  100%

[2022-02-18 17:26] eroom1966 commented on #1193
I can now build with this toolchain - thanks

[2022-02-18 17:27] eroom1966 commented on #1193
@silabs-mateilga
Approximately how many instructions before there is a difference ?

[2022-02-18 17:36] eroom1966 commented on #1193
Hmm, I ran this and it passed ?
My logfile attached, any indications of what I am doing wrong in not reproducing a FAILED run ?
[logfile.txt](https://github.com/openhwgroup/core-v-verif/files/8099254/logfile.txt)

[2022-02-18 18:09] silabs-mateilga commented on #1193
The difference happens at the retirement of instruction 38861. I unfortunately don't have the opportunity to dig further in to this now, I'll have a look first thing Monday morning. What I can say is that this failure showed up on 2 of 100 runs of this test, so any difference that changes randomness of the build and/or instruction stream will likely result in a passed test.

[2022-02-18 18:32] eroom1966 commented on #1193
OK, lets look Monday
When you say difference, do you mean that the testbench reports a difference, and thus a FAILED test ?
or are you eyeballing a difference from the screenshot provided ?

I did not see a log at the beginning of this thread highlighting the reported difference
Thx
Lee

[2022-02-19 12:33] silabs-robin opened #1195 "CVXIF Agent Extended Architecture"
I tried to work through the details of my previous diagrams, and either 1) I have over-engineered this, or 2) an XIF agent is really complex.
New detailed block diagrams are appended at the end of this issue.
@JeanRochCoulon , please let me know what you think of this proposed architecture of the CVXIF agent (and the proposed new per-isa-extension XIF reference model agent).
@MikeOpenHWGroup , you

[2022-02-20 01:12] MikeOpenHWGroup commented on #1195
Also, @ZElkacimi should have a look at this.

[2022-02-20 16:12] MikeOpenHWGroup commented on #1195
Thanks for continuing this discussion @silabs-robin.  I like where you are going with this as it follows "the UVM way" which will make it easier for individual projects to use the XIF Agent to suit their DUT's requirements.  A few points:
- Although "agent du refmodel" is an affront to both the English and French languages (and will get me in serious trouble with [l'office](https://www.oqlf.gouv.q

[2022-02-21 05:25] silabs-hfegran commented on #1193
@silabs-mateilga I suggest you send Lee your generated & compiled .elf file together with instructions on how to execute the test on that elf file to rule out any possible toolchain-related differences here.

[2022-02-21 08:59] silabs-mateilga commented on #1193
@eroom1966
The following is the output from the test:
`UVM_ERROR @ 2599926.300 ns : uvme_cv32e40x_core_sb.sv(381) uvm_test_top.env.core_sb [CORESB] CSR Mismatch, order: 38861, pc: 0x00020c8e, csr: mstatus, rvfi = 0x00001888, rvvi = 0x00001880, mask = 0xffffffff
UVM_ERROR @ 2599956.300 ns : uvme_cv32e40x_core_sb.sv(305) uvm_test_top.env.core_sb [CORESB] PC Mismatch, rvfi_order: 38862, rvvi_order: 3

[2022-02-21 10:31] silabs-mateilga commented on #1193
[test_program.zip](https://github.com/openhwgroup/core-v-verif/files/8108359/test_program.zip)

@eroom1966 Extract these files to [your_results_path]/results/xrun_results/default/corev_rand_interrupt_wfi_mem_stress/27/test_program/
Run the second command in the top post here. (make test ...)

This will allow you to at least run the same instruction stream, it does however still not guarantee that

[2022-02-21 10:50] silabs-robin opened #1197 "CVXIF Assertions Updates"
Hi. About XIF assertions.
Here are 3 recommendations for what it should include (ref. our [previous meeting](https://github.com/openhwgroup/core-v-docs/blob/master/verif/MeetingPresentations/CORE-V-eXtension-Interface)).

Use "assert-assume" macro to have asserts toggle-able to work as assumes.
Three parameters must be supported for the assertion module: 1) cpu-perspective, 2) coproc-perspective,

[2022-02-21 10:54] silabs-robin commented on #1197
Relates to https://github.com/openhwgroup/core-v-verif/issues/1195 and https://github.com/openhwgroup/core-v-verif/issues/1192

[2022-02-21 11:39] eroom1966 commented on #1193
@silabs-mateilga

[2022-02-21 11:46] eroom1966 commented on #1193
@silabs-mateilga
I have unpacked your example to update the following files

I then ran the following command, as instructed

The test reported PASSED, and I had no errors, logfile attached
[logfile.txt](https://github.com/openhwgroup/core-v-verif/files/8108905/logfile.txt)

I think we need to ask a third party to verify your findings, lets also compare simulator versions.
looks like I am running

[2022-02-21 11:54] eroom1966 commented on #1193
I also have 2.09 installed - trying to see if I can reproduce with that version

[2022-02-21 11:57] silabs-mateilga commented on #1193
I highly doubt we will see a failure with a seed that fails on one xcelium version on another xcelium version. As I mentioned, the easiest would be if you are able to run a regression and find a seed that fails in your system. If not I have access to 20.09.009, I can try to find a failing seed with that simulator version.

[2022-02-21 11:59] eroom1966 commented on #1193
I just tried on 20.09 and the test you provided passed

[2022-02-21 12:00] eroom1966 commented on #1193
The only checks I generally run are individual tests or the ci_check prior to committing changes - I am happy to try your suggestion, but I would need detailed instructions in order to try this

[2022-02-21 13:27] gabrielrad commented on #1149
#1198

[2022-02-21 15:19] silabs-mateilga commented on #1193
@eroom1966 Using this tool, you should be able to generate a regression list, assuming you can run one of the supported options: https://github.com/openhwgroup/core-v-verif/tree/master/bin#cv_regress

Hopefully the documentation here is sufficient to get you going. What I've done in addition to this is to edit the /core-v-verif/cv32e40x/regress/cv32e40x_interrupt.yaml file so that it only runs the

[2022-02-21 15:31] eroom1966 commented on #1193
@silabs-mateilga
I am unable to run this tool without some explicit guidance.

I do have cv_regress in my search path, so it is available, but I am completely unfamiliar with its usage.
In order that there is no possibility of misunderstanding, if you can provide the exact set of commands to run so that I can reproduce the issue I am happy to investigate.

I am afraid I do not really have the reso

[2022-02-22 12:55] eroom1966 commented on #1193
I have no idea what vManager is, or where that comes from
I was able to run the command with the following output (hopefully correct)

I cannot find anything under core-v-verif called vManager
so it looks like this is a dead end

[2022-02-22 13:00] silabs-mateilga commented on #1193
Try running the command with --sh in stead of --vsif. That should create a regression list that can be run in a shell.

[2022-02-22 13:06] eroom1966 commented on #1193
OK, that works - thx

[2022-02-22 14:07] eroom1966 commented on #1193
@silabs-mateilga

can you please check the cv_regress command, I am seeing lots of runs but not all of them are the
 TEST=corev_rand_interrupt_wfi_mem_stress
I am seeing many different tests executing

I thought the issue was a specific test ?

[2022-02-22 14:09] silabs-mateilga commented on #1193
As I mentioned above, you need to edit the regression yaml file locally to run only the relevant test.

` What I've done in addition to this is to edit the /core-v-verif/cv32e40x/regress/cv32e40x_interrupt.yaml file so that it only runs the failing test, and up the number of runs to 100. That should give you at least one failing example.`

[2022-02-22 14:15] eroom1966 commented on #1193
thanks, now I have a list of 50 tests for
TEST=corev_rand_interrupt_wfi_mem_stress

[2022-02-22 14:17] silabs-mateilga commented on #1193
Hopefully you'll find one failure among them. I've seen on average 1/50 failing, so you might have to run it twice.

[2022-02-22 15:00] JeanRochCoulon commented on #1195
Yes, I like this kind of discussion: defining the strategy before running !
I would be pleased to represent the agent as it is Today, may I ask you to share the source code of your "Full Agent" drawing ?

[2022-02-22 16:51] JeanRochCoulon commented on #1195
Hello

From your architecture drawings, I have drawn the current XIF agent, as it is Today. Only the active slave is supported. Check is done by the CPU reference model. And only 3 interfaces are supported. Zineb is fine-tuning the sequences to be more generic, a PR will be submitted soon. To my mind, we should confirm the current agent implementation is compatible with the evolutions you/we are t

[2022-02-22 17:56] eroom1966 commented on #1193
I have managed to produce a reported failure, I am seeing if replaying it using the seed also fails

[2022-02-22 18:07] eroom1966 commented on #1193
Hmm, when I rerun with the seed applied manually - it does not fail, please check my logic

run number 3 fails
I grep for SEED in the logfile and I get

I now run the following command line to try to reproduce

but this does not fail, did I do something wrong ?

[2022-02-22 22:45] MikeOpenHWGroup commented on #1149
Hi @gabrielrad, I believe this issue is resolved for now.  Please confirm and close this issue if you agree.

[2022-02-23 07:45] silabs-mateilga commented on #1193
We've had some issues like this, but it's not really clear what does and does not cause the problem. What I'd suggest you try is the following:
Find the exact commands used in the regression generated script, both for generation (make comp_corev-dv..) and simulation (make test...)
run _make clean_all_ from cv32e40x/sim/uvmt
run the two commands from the regression, add "GUI=1 WAVES=1" to the secon

[2022-02-23 08:19] eroom1966 commented on #1193
@silabs-mateilga
I had 1 fail in 100 tests, I have attached the log
based upon this log, can you tell me the exact command line I should execute to re-run so I can debug ?

I also include the script from cv_regress FYI

Thx
Lee

[xrun-corev_rand_interrupt_wfi_mem_stress.log](https://github.com/openhwgroup/core-v-verif/files/8122744/xrun-corev_rand_interrupt_wfi_mem_stress.log)
[cv32e40x_interrupt.

[2022-02-23 08:20] ZElkacimi commented on #1197
hello @silabs-robin I got your idea, the first version of the agent did not include many assertions but coming versions will. Moreover, I would be interested on your PR about "assert-assume" macro, since for now I use only "assert", please tag me on it. Thanks

[2022-02-23 08:28] eroom1966 commented on #1193
@silabs-mateilga

I don't understand, I looked at the part of the script which FAILED, this was iteration 18
I extracted the seed reported, and changed it from 'random', to the number used '926224011'
This is what I created below

pushd /home/moore/git/bugs/core-v-verif/cv32e40x/sim/uvmt > /dev/null
    make gen_corev-dv test TEST=corev_rand_interrupt_wfi_mem_stress CV_CORE=cv32e40x CFG=default CO

[2022-02-23 08:29] silabs-mateilga commented on #1193
So, from what I can tell from the log, your seed and index from your above does not match the log. Try the following:

`make clean_all`
`make comp_corev-dv gen_corev-dv TEST=corev_rand_interrupt_wfi_mem_stress CFG=default SIMULATOR=xrun USE_ISS=YES COV=YES RUN_INDEX=18 GEN_START_INDEX=18 RNDSEED=926224011`

`make test TEST=corev_rand_interrupt_wfi_mem_stress CFG=default SIMULATOR=xrun USE_ISS=YES

[2022-02-23 08:51] eroom1966 commented on #1193
that did not fail, the fail was supposed to be at instruction 105901, running the commands above completed with a PASSED status
This is starting to sound like a race, or uninitialized variable.

I am going to try running the suite of random tests, with full instruction tracing turned on to see if I get a failure - I can then re-run and compare the full tracing

[2022-02-23 09:00] gabrielrad commented on #1149
@MikeOpenHWGroup the issue has been fixed! Thanks!

[2022-02-23 09:00] #1149 closed

[2022-02-23 14:23] #818 closed

[2022-02-23 17:07] datum-dpoulin commented on #1185
Fixed committed to mio repo and tested.

[2022-02-23 19:01] MikeOpenHWGroup commented on #1185
Confirmed.   Thanks!

[2022-02-23 22:10] datum-dpoulin opened #1207 "Commit xilinx ticket changes to vivado repo"
# Task Outcome
Migrate changes made to the core-v-verif codebase to get the test bench to work with vivado to the 'vivado' branch.

# Background information
This is part of the broader effort to get the vivado simulator to work with core-v-verif

# Location Information
'vivado' branch

# Completion Criteria
Must be able to get the codebase to compile+elaborate

# Additional context
None

[2022-02-24 09:30] eroom1966 commented on #1193
@silabs-mateilga
I captured the stdout from running a test, and it appears in the test 2 seeds are generated!
there is clearly a seed for program generation, and one for program execution

Is this our problem ?
I am applying the same seed for 2 different processes in standalone mode, but in the loop execution 2 different seeds are used for generation and execution

[2022-02-24 10:49] silabs-mateilga commented on #1193
@eroom1966 Yes, this is likely the problem.
We had a discussion with @MikeOpenHWGroup yesterday, and he highlighted that the cv_regress diverges between the -sh and -vsif options in the use of seeds. The -sh version uses two seeds as you observed, while the -vsif version uses the same seed for both generation and simulation. He gave the impression this will change in the future, but maybe @MikeOpe

[2022-02-24 12:48] eroom1966 commented on #1193
Taking that approach I now have something I can now reproduce

[2022-02-24 13:25] eroom1966 commented on #1193
How do I increase the UVM_ERROR count - I want to proceed more than 5 errors

[2022-02-24 19:41] #965 closed

[2022-02-25 08:35] silabs-robin commented on #1188
Hi @JeanRochCoulon. I wanted to continue the Mattermost discussion about excel vplan reviews. Is it ok to continue it here on github, so we have a later reference to the discussion?

Why not editing the DVplan in Yaml file and transform it into a html table? Some python library provides this feature. This would be better! Cheers  -  Jean-Roch Coulon

The idea of Yaml files is good!
This bypasses t

[2022-02-25 12:17] silabs-robin commented on #1197
Hi @ZElkacimi. I have made an example "testbench" for using this assert-assume macro.

(First, I tried to "git cherry-pick" to get access to the cvxif assertions, but that got messy so I just made a "toy" example that I can post here on this issue.)

The following example has been tested in formal.
If you have access to a formal tool to test this in, then that works better than simulation.
You can

[2022-02-25 12:23] silabs-robin commented on #1197
The macro should preferably be somewhere in the `core-v-verif/lib/` directory.

We should also try to merge the cva6 dev branch with master soon! It would benefit us all if we can start working on the same XIF files. Getting access to these assertions would be very nice, but cherry-picking didn't work so well, so plain merging and syncing with master should do the trick. (We can talk with Mike abo

[2022-02-25 13:50] eroom1966 commented on #1193
@silabs-mateilga @MikeOpenHWGroup
I have been investigating for the last few days, and I think I can see what is happening.
The problem we are looking at, is related to when a wfi instruction executes and the cpu goes into a halted state

I think we may have something missing in the detection of this state in the RVFI/RVFI and associated agents.
The specific scenario I see is when a wfi instructio

[2022-02-25 14:32] silabs-robin commented on #1188
@JeanRochCoulon, @MikeOpenHWGroup, I tried to think about how this would work in yaml.

Below is a fraction of the xif vplan written in yaml, just as an experiment to see how this goes.
The following scheme should be scalable to arbitrary choices of multi-column cells etc with a lot of creative freedom while still maintaining a rigid structure.
It is not super readable(?), but by using some sort o

[2022-02-25 15:40] MikeOpenHWGroup commented on #1197
Yes, I completely agree.   @JeanRochCoulon

[2022-02-25 16:04] silabs-robin commented on #1195
Thanks for your diagram of the current implementation.
It gave more insight into the situation.

I think we have slightly different intentions for the use of the agent (apart from just passive/active)?
You are checking two verification components against each other; the cpu-refmodel (written/modified by verification), and the extension-refmodel/sequences (also written by verification).
Comparing t

[2022-02-27 15:33] MikeOpenHWGroup commented on #1188
Thanks for this @JeanRochCoulon.  This is a good illustration.  My views on this:
1. The effort required to write a DVplan in a Spreadsheet or YAML is about the same.
2. Reading a DVplan is much easier as a Spreadsheet.
3. Providing review feedback is about the same.
4. Revision control of the YAML format is much better.

So if each of those items is worth one point in a foorball game, the "Spread

[2022-02-27 21:58] MikeOpenHWGroup commented on #1193
I took at look at this and can reproduce the error roughly one time in 30 sims on both the hash the issue was reported on (`fe9bdef`) and the current head of cv32e40x/dev (`f8316ae`).  The failing signature is the same summarized by Lee above.

@eroom1966, that is almost certainly the case, and that would be consistent with a constrained-random verification strategy.  However, it might be worthwhi

[2022-02-28 08:02] eroom1966 commented on #1193
@MikeOpenHWGroup @silabs-mateilga
The Imperas REF model in this repo/release was not exposing when it was in a halted state indication
I modified my local copy to indicate we are halted - this happens when we get a WFI and there are no pending interrupts, at this point the system locks-up, as the testbench does not assert any interrupts

I think we are missing a combination of indicating halted, a

[2022-02-28 08:53] silabs-mateilga commented on #1193
@MikeOpenHWGroup The rvvi signals can be found in the "iss_wrap" module;
`uvmt_cv32e40x_tb.iss_wrap.cpu.state.insn`

[2022-02-28 12:22] eroom1966 commented on #1193
I think the problem we are seeing is related to 2 things.
1. I had missed the driving of the halt signal in the wrapper for the ISS/REF
2. the testbench is removing the deferint=0 value, which causes the wfi to lockup in a halted state

I probably need to have a shared desktop with you Mike, and whoever is now looking after the testbench

[2022-02-28 12:53] MikeOpenHWGroup commented on #1193
I am available all morning today.  Suggest we bring in one or more of @silabs-mateilga, @silabs-hfegran or @silabs-robin as well.  I'll try to set something up on MM.

[2022-02-28 13:24] eroom1966 commented on #1193
@MikeOpenHWGroup - sent email, if you send a meeting invite I will get online straight away and show you what I know

[2022-02-28 17:29] eroom1966 commented on #1193
@MikeOpenHWGroup @silabs-oysteink @silabs-mateilga
I have an interesting datapoint from our call earlier.
At the point where we enter the offending WFI instruction, I looked at the values in the MIP and MIE registers, and this is what I see

mie=0xA35B0800
mip=0x5CA40088

If I perform a bitwise AND of these 2 values the result is 0x00000000
this appears to be the reason why the REF model does not

[2022-03-01 11:07] silabs-mateilga commented on #1193
@eroom1966 @MikeOpenHWGroup
We have noticed a few interesting points on our sides as well, and will be attending the meeting.

[2022-03-01 11:19] eroom1966 commented on #1193
where is the meeting link ?

[2022-03-01 11:39] eroom1966 commented on #1193
Just checked - I have the email from Mike

[2022-03-01 13:10] silabs-mateilga opened #1213 "Change the way irq_i is set in RVVI"
### Task Outcome
The irq_i input to the ISS will need to take in to account the new signal outlined in [cv32e40x 466](https://github.com/openhwgroup/cv32e40x/issues/466). When an interrupt isn't taken but the core is woken up from a wfi, irq_i should be set to the new signal in stead of the mip value.

### Background information
When a wfi is interrupted by a locally enabled interrupt that isn't g

[2022-03-01 13:16] silabs-mateilga opened #1214 "Functional coverage needs to cover issue highlighted in 1193"
### Task Outcome
Check if the functional coverage covers the following special case, expand it if it doesn't.

The case where the core is woken up from a locally enabled, but globally disabled interrupt, where the given interrupt is a 1 cycle high value, needs to be covered. The case is currently know to show up rarely in random generated instruction streams, and we need to make sure we have check

[2022-03-01 13:20] silabs-mateilga commented on #1193
@eroom1966 @MikeOpenHWGroup @Silabs-ArjanB
I have created the task discussed in the meeting, links below:

[cv32e40x 466](https://github.com/openhwgroup/cv32e40x/issues/466)
[core-v-verif 1213(RVVI)](https://github.com/openhwgroup/core-v-verif/issues/1213)
[core-v-verif 1214(coverage)](https://github.com/openhwgroup/core-v-verif/issues/1214)

Please take a look and let me know if I've missed some

[2022-03-01 13:22] Silabs-ArjanB commented on #1193
Hi @silabs-mateilga Can you also add a task to perform step-compare on the (to be added) rvfi_sleep signal?

[2022-03-01 14:20] JeanRochCoulon commented on #1188
Hello,  by implementing a yaml2html converter, we obtain the following html :

![image](https://user-images.githubusercontent.com/56552370/156185713-39c1ed2c-af37-4042-bbcc-5f60d330e25c.png)

I can provide the converter script if needed.

In the coming days, we will compare the spreadsheet to the yaml methodology, I keep you in touch !

Cheers

[2022-03-01 16:56] MikeOpenHWGroup commented on #1214
Hi, I made the following modifications to this task.
First, the sentence
[code]
was amended to:
[code]

Second, the Completion Criteria was expanded.  This is a very interesting case and we can thank the Gods of Constrained-Random Stimulus that we hit it.  Issue #1193 is a hint that we should be looking for other special cases related to this one.

I am looking for an opinion about which DVplan sh

[2022-03-02 08:14] silabs-mateilga opened #1217 "Add comparison of RVVI/RVFI sleep signals in step and compare"
### Task Outcome
Two new comparable "sleep" signals are being implemented in RVFI and from the RVVI. These need to be compared in the step-and-compare scoreboard

### Completion Criteria
A update to the scoreboard that verifies sleep mode through comparison with the reference model is PRed.

[2022-03-02 08:15] silabs-mateilga commented on #1193
@Silabs-ArjanB sleep comparison is added at [1217](https://github.com/openhwgroup/core-v-verif/issues/1217)

[2022-03-03 13:07] Silabs-ArjanB opened #1222 "Integrity attribute for CV32E40S and width of mimpid_patch for CV32E40X/S"
I issued the following pull requests:

https://github.com/openhwgroup/core-v-verif/pull/1220
https://github.com/openhwgroup/core-v-verif/pull/1221

They are to make core-v-verif compile after changing mimpid_i[31:0] to mimpid_patch_i[3:0] in both CV32E40X and CV32E40S and after adding the integrity attribute (only) in the CV32E40S.

I only made the code compile. One of the things that is for sure

[2022-03-03 14:28] silabs-hfegran commented on #1222
Adding signals to the pma-configuration bits will in general not cause issues - removing bits on the other hand breaks the riscv-dv based tests.

- **lib/uvm_agents/uvma_rvvi_ovpsim/uvma_rvvi_ovpsim_agent.sv**
This is where our ovpsim-configuration (ovpsim.ic) is created based on the common configuration object, this is used by all the cv32e40*-cores. Should not contain any core-specific code, as

[2022-03-03 14:39] silabs-hfegran commented on #1027
Resolved

[2022-03-03 14:40] #1027 closed

[2022-03-03 14:40] silabs-hfegran commented on #1052
@MikeOpenHWGroup I presume this can be closed now?

[2022-03-04 08:21] JeanRochCoulon commented on #1188
Hello @mike, @silabs-robin, @silabs-hfegran,
Excel and Yaml have been tried in Thales/INVIA, the two methods present some limitations. That's why we are investigating another methodology based on an internal custom tool called Verification Plan Tools (VPTOOL). This tool is very appreciated by Thales verificators. But we have to confirm that this tool meets the CVA6 requirement. in this case, we co

[2022-03-04 12:56] MikeOpenHWGroup commented on #1052
Ah, yes it can be.

[2022-03-04 12:56] #1052 closed

[2022-03-04 13:14] Silabs-ArjanB commented on #1192
Hi,

I only read the 'issue' interface part of the vplan and here is my feedback.

Following checks need to be added:

- id needs to be unique (rules with respect to instruction completion are described in the compressed interface section)
- ecs_valid  signal transition order (similar to rs_valid signal transition order requirement)
- rs[i] needs to remain stable while rs_valid[i] = 1 during an is

[2022-03-04 16:11] ZElkacimi commented on #1192
Hello,
Thank you all for your remarks.

You find below an update of the DVplan taking into consideration the comments of @silabs-robin (Note: all your comments still in the file)

for your comment @Silabs-ArjanB:
- what concern esc signal is not taken into consideration because our DVplan and RTL is for this spec: https://github.com/openhwgroup/core-v-xif/blob/43dc03563e0c79cc55922f653406a9f122f61

[2022-03-06 21:30] JeanRochCoulon commented on #1188
Hello @mike, @silabs-robin, @silabs-hfegran,
Excel and Yaml have been tried in Thales/INVIA, the two methods present some limitations. That's why we are investigating another methodology based on an internal custom tool called Verification Plan Tools (VPTOOL). This tool is very appreciated by Thales verificators. But we have to confirm that this tool meets the CVA6 requirement. In this case and if

[2022-03-07 07:07] Silabs-ArjanB commented on #1192
Hi @ZElkacimi ,

Thank you for your response.

You can ignore that line (was a typo).

I think we need both coverage on this as well as 'asserts/assumes' on what a proper transaction shall look like (for each transaction (not just 'issue') and for relationships between transaction of different interfaces).

[2022-03-07 10:10] hasver opened #1225 "make questa-test doesn't work"
I tried to run make questa-test as in the README file in the core directory
The output is:
make: *** No rule to make target `questa-test'.  Stop.

I explored the makefile and ran questa-custom instead of questa-test
The output is:
/opt/corev-gcc/bin/../lib/gcc/riscv32-corev-elf/12.0.0/../../../../riscv32-corev-elf/bin/ld: cannot open output file /requested_csr_por/requested_csr_por.elf: No such fi

[2022-03-07 13:46] MikeOpenHWGroup commented on #1225
Hi @hasver, thanks for your issue.  I will need some additional information.  From your report my guess is that you are attempting to run simulations using the "core" testbench of the CV32E40P using Questa.  So your command line is probably something like this:
[code]
Please confirm that the above is correct.

Unfortunately, and to my surprise, there have not been any active members of the OpenHW

[2022-03-15 08:25] ZElkacimi commented on #1197
Hello all,

Note: a new PR for the agent is available here: [https://github.com/openhwgroup/core-v-verif/pull/1229]

I tried your macro but currently I don't have access to a formal tool so I couldn't see how it really works. However, it's nice to have it somewhere in lib, I will update the assertion module whenever the macro is available in lib/
For the name of the macro, I suggest **CV_ASSERT_AS

[2022-03-15 23:58] MikeOpenHWGroup commented on #707
Hi @jstraus59

The PULP tests currently in the repo were donated by `em-microelectronic` who use a version of CV32E40P that was not fully verified.  Specifically, em-micro used the non-standard PULP encodings.  The tests have not been looked at since late 2020.  So I would be very careful using these tests in their current form.

[2022-03-20 17:09] MikeOpenHWGroup opened #1230 "Verissimo Linter: UVM.2.1.4.2.8 - Create call arguments"
### Details
Verissimo is reporting several violations of `UVM.2.1.4.2.8 - Create call arguments`.  The defintion of this rule is:
[code]
Here is a typical example of the violating code: https://github.com/openhwgroup/core-v-verif/blob/cdf7ee911e6f2268cf98f2bc6e0f7e484a7f396d/cv32e40p/tests/uvmt/compliance-tests/uvmt_cv32e40p_firmware_test.sv#L136  The second argument to `create()` is a virtual seq

[2022-03-20 17:27] MikeOpenHWGroup opened #1231 "uvml_hrtbt_mon_c is created using new()"
In `uvml_hrtbt_pkg.sv` the monitor is created with new(), instead of create().

### Steps to Reproduce
This is a lint issue, not a functional issue, so no instructions to run a sim are required to reproduce the issue.  The violation is here: https://github.com/openhwgroup/core-v-verif/blob/cdf7ee911e6f2268cf98f2bc6e0f7e484a7f396d/lib/uvm_libs/uvml_hrtbt/uvml_hrtbt_pkg.sv#L37

### Additional contex

[2022-03-20 17:28] MikeOpenHWGroup commented on #1231
@gabrielrad, just giving you an "@ mention" so you'll get an email about this issue.  No action required on your part.

[2022-03-20 17:29] MikeOpenHWGroup commented on #1231
Removing the `cv32e40p` label as this is a library component.  Eventually the fix/waiver will propagate to the main branch of this repo and impact all environments which use this heartbeat.

[2022-03-21 15:12] gabrielrad commented on #1230
Hi Mike, thank you for the details, we're looking into this and we'll get back to you.

[2022-03-21 18:50] zeeshandildar opened #1233 "core-v-verif fails to run on latest cva6 commit"
## Bug Title
Core-v-verif fails to run on latest cva6 commit https://github.com/openhwgroup/cva6/commit/8d893fb647d758bed5876307c64caa6adbc89f97 due to recent changes in cva6.

### Type
* Functionally incorrect behavior

### Steps to Reproduce
1. clone the master branch using `git clone https://github.com/openhwgroup/core-v-verif` command
2. Set your RISCV_GCC path to the directory where your RISC

[2022-03-21 19:18] zeeshandildar opened #1238 "AMO tests are failing on cva6"
# Bug
Following riscv compliance tests are failing when run using core-v-verif. All of these tests are atomic operation tests:
1. rv32ua-amoxor_w
2. rv32ua-amoadd_w
3. rv32ua-amoor_w
4. rv32ua-amomin_w
5. rv32ua-amoand_w
6. rv32ua-amomaxu_w
7. rv32ua-amoswap_w
8. rv32ua-amominu_w
9. rv32ua-amomax_w

# Steps to Reproduce
1. clone the master branch using `git clone https://github.com/openhwgroup/cor

[2022-03-21 22:08] MikeOpenHWGroup commented on #1233
Hi @zeeshandildar, thanks for your issue.  We will look at this, but you should be aware that there is no requirement for the verification environment to run on the latest version of the RTL.  As you are probably aware, the CVA6 is in active development and it is natural for it to change in ways that affect the testbench.  This is why core-v-verif clones a specific version of the RTL - it gives th

[2022-03-21 22:14] JeanRochCoulon commented on #1233
Thanks for your feedback.

I add @ASintzoff in the loop

[2022-03-21 22:16] MikeOpenHWGroup commented on #1233
Pull-request #1234 may (or may not) resolve this issue.

[2022-03-23 16:49] zeeshandildar commented on #1233
Hi @MikeOpenHWGroup, thanks for your feedback. Actually we were working on the development of cva6 so, I thought it would be better to run tests on latest commit but it failed. However, I have created a pull request which solves this issue. Moreover, "AMO" tests are failing on both latest and old hash of cva6. I have also created [issue](https://github.com/openhwgroup/cva6/issues/840) for that too

[2022-03-23 18:36] datum-dpoulin commented on #1231
There is no UVM factory available to use at that point in simulation time. Attempting to use it to create the default heartbeat monitor will result in a fatal error.

[2022-03-23 19:40] MikeOpenHWGroup commented on #1233
That is a reasonable, but invalid assumption.  It is normal for the RTL to be one (or more) steps ahead of the testbench, and it is important to give the RTL the freedom to make these changes without needing to worry about breaking the testbench.  This is why core-v-verif clones a specific hash of the RTL.

If you think that the testbench can or should be updated to use the latest RTL, please crea

[2022-03-24 08:46] zeeshandildar commented on #1233
As you have mentioned pull-request #1234 resolved this issue.

[2022-03-24 08:46] #1233 closed

[2022-03-25 12:47] zeeshandildar commented on #1233
Closing this issue as it has been resolved by pull-request #1234

[2022-03-31 16:45] MikeOpenHWGroup commented on #1238
Thanks for looking into this @ASintzoff.  However, the explanation, _depending on the [test bench] used, atomic handling is working well or not_, does not resolve the issue.

If there is something specific that @zeeshandildar needd to do (or not do) to resolve the error we should probably update a README and/or a launch script to avoid the issue.

[2022-03-31 18:52] zeeshandildar commented on #1238
Thanks @ASintzoff for the update. As you said it depends upon the test bench whether atomic handling will work or not, so it is to mention that I have used `veri-core` test bench. So I will run it again using `veri-testharnes` as a test bench. Hopefully it will resolve this issue.

[2022-04-01 15:18] jstraus59 commented on #707
FYI, found additional minor errors in the cv32e40p pulp_vectorial_bit_manip test while completing the Imperas modelling of the PULP_XPULP extensions:

1) Incorrect register used for comparisons
2) One expected value was incorrect

I will create a pull request with the changes for the 2 tests found to have errors.

[2022-04-02 22:24] mattvlsi opened #1244 "Syntax Error"
Reproduce
_$ cd $CORE_V_VERIF/bin
$ pip install -r requirements.txt_

**I'm getting some errors during installation requirements before starting to verification.
The error is:**
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-kqdo817d/constraint/setup.py'"'"'; __file__='"'"'/tmp/pip-install-

[2022-04-02 22:30] #1244 closed

[2022-04-08 07:23] zeeshandildar commented on #1238
After running using `veri-testharness` as a testbench all `AMO` tests got passed successfully.

[2022-04-12 11:26] leemango1998 commented on #1225
Hi @MikeOpenHWGroup, I found the reason why `make questa-custom` failed, that is because the `$(CUSTOM) ` is not defined in the `core-v-verif/cv32e40p/sim/core/Makefile` by default. So the riscv-gcc try to write the elf file into  `/hello_world/hellod_world.elf`, and the linker can't find it. So adding
[code]
into line[ 75](https://github.com/openhwgroup/core-v-verif/blob/1c8aa7c940229bf0528ae770b

[2022-04-12 16:33] MikeOpenHWGroup commented on #1225
Thanks for this @leemango1998!   Would you be willing to generate a PR with the bug fix?  Our process for accepting PRs is documented in [CONTRIBUTING](https://github.com/openhwgroup/core-v-verif/blob/master/CONTRIBUTING.md).

[2022-04-13 03:39] leemango1998 commented on #1225
glad to contribute. But I am quite new to the PK flow. I will try it.

[2022-04-13 16:45] MikeOpenHWGroup commented on #1225
Hi @hasver.  @leemango1998 has provided a fix (#1251) for this issue.  It is now merged onto the `cv32e40p/dev` branch.  Does that PR resolve this issue for you?

[2022-04-18 09:25] M-Ijaz-10x opened #1252 "Update core-v-verif to support latest riscv-arch-tests infrastructure"
Hi,

core-v-verif verification environment needs up-gradation in order to support the latest [riscv-arch-tests](https://github.com/riscv-non-isa/riscv-arch-test) infrastructure as core-v-verif is working at an older hash of riscv-arch-tests

**Why do we need to update**
The framework of the latest [riscv-arch-tests](https://github.com/riscv-non-isa/riscv-arch-test) is completely changed that is up

[2022-04-18 09:32] M-Ijaz-10x commented on #1252
I have made the following changes in order to use the latest riscv-arch-tests(master branch) in core-v-verif CVA6 environment

- Updated the hash of the riscv-arch-tests in the core-v-verif CVA6 environment
- Updated the testlist.yaml file with the current directory structure of the riscv-arch-tests
- While running tests on the core-v-verif environment the spike ISS simulation is malfunctioning, o

[2022-04-18 13:21] MikeOpenHWGroup commented on #1252
Hi @M-Ijaz-10x, thanks for creating this issue.

I am a little confused.  We met with @neelgala and @allenjbaum on March 1, 2022 to discuss using the updated RISCOF with core-v-verif.  We are aware that this will require an update on our end, but we were assured that using the compliance tests would not require significant changes to our verification environments.

Where are the changes you have m

[2022-04-18 15:22] allenjbaum commented on #1252
What I said was that *if* the open HW environment could run the existing framework, it should be able to run under the new one. This appears to be changes to make it work properly with the existing currently existing framework (as opposed to a much older one).
Some of the changes above I can't explain, e.g. why spike is using DATA_BEGIN instead of CODE_BEGIN as a starting PC; that is particularly

[2022-04-18 16:14] MikeOpenHWGroup commented on #1252
Thanks @allenjbaum.  Where can I see these changes @M-Ijaz-10x?

[2022-04-19 00:18] M-Ijaz-10x commented on #1252
I have made these changes locally, but I am updating the branch on the forked version of core-v-verif, I will share the link shortly

[2022-04-19 20:51] M-Ijaz-10x commented on #1252
@MikeOpenHWGroup Please find all the above-mentioned changes [here](https://github.com/10x-Engineers/core-v-verif/tree/riscv-arch-tests-infrasturcture-upgradation), where I am running the latest riscv-arch-tests on CVA6.
My next step is to make it compatible with the [riscof-dev](https://github.com/riscv-non-isa/riscv-arch-test/tree/riscof-dev) infrastructure.

[2022-04-19 21:12] MikeOpenHWGroup commented on #1252
Got it.  Just FYI, it might be better to start your work from the `cva6/dev` branch as this will be the most up-to-date.

@JeanRochCoulon, @ASintzoff do you have any comments?

[2022-04-20 05:53] allenjbaum commented on #1252
Thanks for all this work. Please do complain if (realyl: When, I'm
guessing) you find something that is ambiguous, badly written, confusing,
or just broken.
We are trying to ensure this works as easily as possible for everyone.

On Tue, Apr 19, 2022 at 2:13 PM Mike Thompson ***@***.***>
wrote:

[2022-04-20 06:47] ASintzoff commented on #1252
Thanks @M-Ijaz-10x to work on this topic.

I would prefer you create a pull request to be able to provide detailed comments your commits.

Nevertheless, after a first reading, I have some general comments. Could you:
- create a new testlist yaml file and a new install script for riscv-arch-test instead of reusing the riscv-compliance ones
- avoid to use forked riscv-arch-test repository in install

[2022-04-20 07:05] Silabs-ArjanB commented on #1252
Hi @M-Ijaz-10x Without having looked at the actual changes you did, please also note that the core-v-verif parts for cv32e40x and cv32e40s were ported to the (then) current riscv-arch-test about 2 months ago (so that doesn't include RISCOF yet, but it should be close). It would be nice if the CVA6 and CVE4 verification parts don't diverge too much if not needed.

[2022-04-20 07:05] neelgala commented on #1252
@M-Ijaz-10x how are you handling setting for compile-time macros like XLEN, TEST_CASE_1, etc ? These are macros that will need to be set based on the tests you run. If your testlist-format is like the one [here](https://github.com/openhwgroup/core-v-verif/blob/1ef5bda00d4b1271b74fc350aea5499fb90dfbae/cva6/tests/testlist_riscv-compliance-rv32ima.yaml) then you might want to handle setting those mac

[2022-04-20 12:10] MikeOpenHWGroup commented on #1252
Hi @neelgala, the core-v-verif environments support signature dumping and this was used as part of our compliance signoff for v1.0.0 of CV32E40P.  While the signature writer is not otherwise used for the CV32E4 testbenches, it should still work.

Is there a document available detailing the operation of a RISCOF compliant signature writer and how a test-program running on the core is expected to us

[2022-04-20 13:12] pawks commented on #1252
The TestFormatSpec in riscv-arch-test describes the signature file [here](https://github.com/riscv-non-isa/riscv-arch-test/blob/master/spec/TestFormatSpec.adoc#36-the-test-signature). RISCOF adheres to the same. The reference files checked in the riscv-arch-test repo can be used as an example([link](https://github.com/riscv-non-isa/riscv-arch-test/blob/master/riscv-test-suite/rv64i_m/I/references/

[2022-04-25 09:08] M-Ijaz-10x commented on #1252
Thank you @MikeOpenHWGroup, @ASintzoff, and @neelgala for your suggestions. I think @fatimasaleem has covered all the aspects in her [PR#1254](https://github.com/openhwgroup/core-v-verif/pull/1254), with the changes made in the PR I am able to run all the latest riscv-arch-test on the current CVA6.

[2022-04-26 20:03] allenjbaum commented on #1252
To be completely clear: is this with the existing framework,
or with the riscof-dev branch, which is what we're particularly interested
in

On Mon, Apr 25, 2022 at 2:08 AM M-Ijaz-10x ***@***.***> wrote:

[2022-04-26 20:33] fatimasaleem commented on #1252
@allenjbaum It's with the riscof-dev branch.

[2022-04-26 20:48] allenjbaum commented on #1252
Fantastic. We had no doubt you could do it; we were particularly interested
in any pain points you found so we can fix them

On Tue, Apr 26, 2022 at 1:33 PM Fatima Saleem ***@***.***>
wrote:

[2022-04-26 21:47] fatimasaleem commented on #1252
Yes, for now, everything went smoothly. I will create an issue on `riscof-dev` if I found any pain points.

[2022-04-27 12:03] silabs-robin opened #1256 "User-mode vplan review, cv32e40s"
### Task Outcome
The attached 40s vplan for user-mode is reviewed, revised, accepted, and pushed to the repo.

### Location Information
The spreadsheet is uploaded in this PR: https://github.com/openhwgroup/core-v-verif/pull/1287.
~~The [pre-review] vplan is downloadable from here: [CV32E40S_UserMode.xlsx](https://github.com/openhwgroup/core-v-verif/files/8571732/CV32E40S_UserMode.xlsx).~~
~~A PR

[2022-05-02 06:32] silabs-robin commented on #1256
_"Arrange for a review call for the verification plan"_
This can wait a bit, as we have more vplans coming up (PMP, CLIC, Zc), and it could be(?) more efficient to do them all at once or in close proximity.

[2022-05-03 12:27] gabrielrad commented on #1230
@MikeOpenHWGroup the reason why Verissimo reports a hit is because it considers the ***debug_vseq*** a virtual sequence and the exception is only applied for **_non-virtual_** sequences.

The rule definition for a virtual sequence is a class that extends from **_uvm_sequence_** and has **_uvm_sequence_item_** as type parameter.

Should we consider **_debug_vseq_** a non-virtual sequence? If not, w

[2022-05-04 05:32] leemango1998 opened #1259 "Core simulation failures using Questa with CV32E40P/E40X"
Hello, I noticed that the `Makefile` in `CV_CORE/sim/core` haven't been updated for three months. Actually the core simulation environments have broken for CV32E40P/E40X.` make questa-custom CUSTOM_PROG=hello-world` will not work now.
### Type
* Probably  Makefile bugs
### Steps to Reproduce
[code]

It shows `make: *** No rule to make target`. This makefile is originally a copy of `cv32e40p/sim/co

[2022-05-04 07:53] leemango1998 commented on #1259
After some modifications, I can compile the core rtl soure codes and generate the hello-world.hex file.

But when simulate the hex file, the questasim shows the uvm_fatal:
`UVM_FATAL /home/mango/work/test/core-v-verif/cv32e40x/tb/core/mm_ram.sv(507) @ 1590ns: reporter [MM_RAM] out of bounds read from xxxxxxxx `.
And here is the [simulate-log.txt](https://github.com/openhwgroup/core-v-verif/files/8

[2022-05-04 08:43] leemango1998 commented on #1259
Unfortunately, even after connecting the data bus with data memory(see my [fork](https://github.com/leemango1998/core-v-verif/commit/4674a3c9d78044f1c1e82919293d4760ef5406c6)), there are still write overflow issues:

`UVM_FATAL /home/mango/work/test/core-v-verif/cv32e40x/tb/core/mm_ram.sv(482) @ 19030ns: reporter [MM_RAM] out of bounds write to 00013c32 with 05b00000
`

Here is the [logfile.txt](h

[2022-05-04 19:37] MikeOpenHWGroup commented on #1259
Hi @leemango1998, thanks for the bug report.  As we have discussed before, we have no current members of our projects using Questa on the CV32E40X or E40S cores, so the current status of their makefiles is unknown.  I am willing to work with you to get things working, but I do not have access to Questa.

Also, please keep in mind that the "core" testbenches are demonstration vehicles only and ther

[2022-05-06 13:59] MikeOpenHWGroup commented on #1259
Cool!  It would be a big help if you could create a pull-request to core-v-verif for this.

[2022-05-06 14:39] leemango1998 commented on #1259
I am not able to do so at present.  In [cv32e40x-sim](https://github.com/leemango1998/cv32e40x-sim), it's definitely not going to work with cv32e40x/bsp. So I used cv32e40p/bsp files. But in core-v-verif, even if I changed everything that may be wrong, like replacing ths BSP files into CV32E40P's,  the testbench will not work. There are still write overflow issues. I haven't figured out the real r

[2022-05-08 19:32] silabs-robin opened #1260 "PMP vplan review, cv32e40s"
### Task Outcome
The attached 40s vplan for PMP is reviewed, revised, accepted, and pushed to the repo.

### Location Information
The spreadsheet is uploaded in this PR: https://github.com/openhwgroup/core-v-verif/pull/1288.
~~The [pre-review] vplan is downloadable from here: [CV32E40S_PMP.xlsx](https://github.com/openhwgroup/core-v-verif/files/8647656/CV32E40S_PMP.xlsx)~~
~~A PR will later place

[2022-05-09 11:38] athurwo opened #1262 "How to"
# Template for CORE-V-VERIF Task Issues
Tasks are defined, assigned and tracked as GitHub Issues.  For obvious reasons,
the template for a task is very different from the template for a bug.

Please use this file as a template for creating Tasks to create or update any of
the documentation in this repository.
<br>**Hint**: click on the edit symbol (looks like a pencil) and then
edit the markdown s

[2022-05-09 12:00] MikeOpenHWGroup commented on #1262
Currently, the Imperas OVPsim is the only reference model supported by core-v-verif.  While we have investigated the use of Spike as a reference model using the [handcar](https://github.com/openhwgroup/core-v-docs/blob/master/verif/MeetingPresentations/CVA6/UsingHandcarCosimAPIs.pptx) API developed for Spike by the FORCE-RISCV project, for a variety of reasons, these efforts have not generated suf

[2022-05-11 13:35] ZElkacimi opened #1267 "(phase.is(uvm_final_phase::get())) is never true in uvmt_cva6_base_test"
Hello, I'm facing an issue with the following function:
`function void uvmt_cva6_base_test_c::phase_ended(uvm_phase phase);
    super.phase_ended(phase);
   if (phase.is(uvm_final_phase::get())) begin
        uvm_config_db#(bit)::set(null, "", "sim_finished", 1);
        print_banner("test finished");
   end
endfunction : phase_ended`

defined in: [https://github.com/openhwgroup/core-v-verif/blob/

[2022-05-11 16:38] MikeOpenHWGroup commented on #1267
Thanks for creating the issue @ZElkacimi.  Can you provide the command-line(s) required to reproduce this issue?   This will allow others to help debug the problem.  In the meantime, I have a theory...

I assume that the UVM test that is being run is [uvmt_cva6_firmware_test.sv](https://github.com/openhwgroup/core-v-verif/blob/1c8aa7c940229bf0528ae770bdc741a06645dcb1/cva6/tests/uvmt/compliance-tes

[2022-05-13 14:57] ZElkacimi opened #1268 "uvma_rfvi: non compliant LRM SystemVerilog code"
With VCS (which is picky regarding LRM SystemVerilog), I get the following compilation error
 “ Following verilog source has syntax error :
Select on function call uvma_rvfi_instr_mon.sv
 token is ']'
mon_trn.csrs["dcsr"].get_csr_retirement_data()[3]);

file with the syntaxe error is at: https://github.com/openhwgroup/core-v-verif/blob/master/lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_mon.sv.

To re

[2022-05-13 18:21] MikeOpenHWGroup commented on #1268
Hi @ZElkacimi.  VCS is doing the right thing - this code construct is not compliant with the LRM.  Did it compile/run with another simulator?  In any case, it must be fixed.  Please create a pull request.

[2022-05-17 11:08] ZElkacimi commented on #1268
Hello @MikeOpenHWGroup

I don't have the opportunity to  compile/run with another simulator, but since it's in lib/ directory then I suppose that it works with another simulator. I have created a PR for a simple fix, please check it to see if it's the best one to do.

Thanks

[2022-05-31 13:09] spidugu444 opened #1283 "CVA6 arch tests are failing with latest riscof environment"
### Issue Description

HI

In latest  RISCOF CVA6 riscv-arch-tests tests are failing due to mismatch in between spike and verilator csv.
I used  [cva6_spike_log_to_trace_csv.py](https://github.com/10x-Engineers/core-v-verif/blob/8fc3143c3c14973e123bdb52a6c92f1ce9b1f115/cva6/sim/cva6_spike_log_to_trace_csv.py) script for spike log to csv conversion.
As shown below some lines are missing in spike cs

[2022-06-01 07:42] Silabs-ArjanB commented on #1260
[CV32E40S_PMP-Arjan.xlsx](https://github.com/openhwgroup/core-v-verif/files/8812053/CV32E40S_PMP-Arjan.xlsx)

[2022-06-01 07:43] Silabs-ArjanB commented on #1256
[CV32E40S_UserMode-Arjan.xlsx](https://github.com/openhwgroup/core-v-verif/files/8812069/CV32E40S_UserMode-Arjan.xlsx)

[2022-06-01 09:06] Silabs-ArjanB opened #1285 "Overview of open issues related to CV32E40X/CV32E40S Imperas ISS"
This issue will be used to provide an overview of open issues related to CV32E40X/CV32E40S Imperas ISS. The list will be continuously updated. Issues that exist on both CV32E40X and CV32E40S will not necessarily be mentioned twice.

- CV32E40X

1. No schedule supplied for ISS 0.3.0.
2. mret in debug mode increments minstret (https://github.com/openhwgroup/cv32e40x/issues/558).
3. ISS mismatch if d

[2022-06-06 05:20] spidugu444 commented on #1283
@ASintzoff Please find the [setup](https://github.com/openhwgroup/core-v-verif/pull/1254) that I used to set RISCOF  dv-arch-test suite.

[2022-06-06 08:04] umerimran-10xe commented on #1283
@spidugu444 Please use the version 1.1.0 release of [Spike](https://github.com/riscv-software-src/riscv-isa-sim/releases/tag/v1.1.0 ). I think its because some stuff is updated in the master branch of riscv-isa-sim and we have not currently incorporated these changes in **cva6_spike_log_to_trace_csv.py** file.
The Spike 1.1.0 version will resolve the problems related to RISCV-Arch tests mismatch a

[2022-06-07 11:46] silabs-robin commented on #1260
We have had internal reviews and the vplan is being uploaded in a PR.
If no additional OpenHW-orchestrated review meeting is desired, then this issue can be closed.

[2022-06-09 18:46] MikeOpenHWGroup commented on #1256
Is that #1287?

[2022-06-09 18:47] MikeOpenHWGroup commented on #1260
Is that #1288?

[2022-06-10 12:44] spidugu444 opened #1294 "[TASK] Add riscv-arch-test suite to existing CVA6 core-v-verif CI (32-bit and 64-bit)"
### Is there an existing core-v-verif task for this?

- [X] I have searched the existing task issues

### Task Description

Adding riscv-arch-test suite for riscv cva6 environment.

Steps:
1.Please find the [setup](https://github.com/openhwgroup/core-v-verif/pull/1254) used to bring up cva6   riscv-arch-tests with the riscof-dev infrastructure
2.Need to update [spike](https://github.com/riscv-soft

[2022-06-10 12:55] yanicasa opened #1296 "[TASK] Dashboard for CVA6 regression based on core-v-verif"
### Is there an existing core-v-verif task for this?

- [X] I have searched the existing task issues

### Task Description

Provide a way to have regression status when contributors submit a contribution via direct push or PR.
The regression description is public (core-v-verif repo) but runs on private infrastructure due to licensing restrictions.

### Description of Done

From a public perspectiv

[2022-06-10 13:09] ASintzoff opened #1297 "[TASK] CV-X-IF UVM agent for CVA6"
### Is there an existing core-v-verif task for this?

- [X] I have searched the existing task issues

### Task Description

UVM agent behaving as a coprocessor with dedicated custom instructions

### Description of Done

Pass successfully CV-X-IF manual tests on CVA6

[2022-06-10 13:10] JeanRochCoulon opened #1298 "[TASK] Provide VPTOOL to write Verification plan"
### Is there an existing core-v-verif task for this?

- [X] I have searched the existing task issues

### Task Description

Provide VPTOOL to edit the verification plan
VPTOOL windows organization is aligned on OpenHW Group verification framework.
Restore/save database is in Yaml.

### Description of Done

Edit CV-X-IF verification plan with VPTOOL
Commit the yaml generated CV-X-IF database in git

[2022-06-10 13:13] ASintzoff opened #1299 "[TASK] CV-X-IF CVA6 verification"
### Is there an existing core-v-verif task for this?

- [X] I have searched the existing task issues

### Task Description

Run randomly generated tests by core-dv (riscv-dv) using custom CV-X-IF instructions

### Description of Done

Pass successfully CV-X-IF random generated tests on CVA6

[2022-06-13 01:01] MikeOpenHWGroup commented on #1299
Hi @ASintzoff, when you say "Run random generated tests", do you mean test-programs randomly generated by corev-dv (riscv-dv)?

[2022-06-13 07:08] silabs-robin commented on #1260
Yes.

[2022-06-16 13:19] eroom1966 commented on #1285
Having now cleared the backlog of work with Marton (non specified behavior for NMI) in the legacy testbench/model - I am now starting to look at these other issues.

As we agreed in a previous meeting, we now have 2 model Variants which are called (in the case of CV32E40X)
- CV32E40X
- CV32E40X_DEV

Our assumption is that the CV32E40X is the 0.2.0, and the CV32E40X_DEV will be 0.4.0 as this is now

[2022-06-16 13:43] eroom1966 opened #1303 "Reference Model: CV32E40X, mret in debug mode increments minstret"
@silabs-hfegran
Reference
https://github.com/openhwgroup/core-v-verif/issues/1285
https://github.com/openhwgroup/cv32e40x/issues/558

Could you please provide instructions on how to reproduce this difference between the RTL and RM

[2022-06-16 13:44] eroom1966 opened #1304 "Reference Model: CV32E40X, Default ecode_mask=255 incorrect (should be 2047)"
@silabs-hfegran
Reference
https://github.com/openhwgroup/core-v-verif/issues/1285

Could you please provide instructions on how to reproduce this difference between the RTL and RM

[2022-06-16 13:45] eroom1966 opened #1305 "Reference Model: CV32E40X, Default mtvec_mask=0xffff_ff01 incorrect (should be 0xffff_ff81)"
@silabs-hfegran
Reference
https://github.com/openhwgroup/core-v-verif/issues/1285

Could you please provide instructions on how to reproduce this difference between the RTL and RM

[2022-06-16 13:47] eroom1966 opened #1306 "Reference Model: CV32E40X, tcontrol_undefined incorrect"
Reference
https://github.com/openhwgroup/core-v-verif/issues/1285
Default tcontrol_undefined incorrect (Default NUM_TRIGGERS parameter = 1, tcontrol should be present by default, and should be conditionally enabled/disabled based on number of triggers implemented)

Could you please provide instructions on how to reproduce this difference between the RTL and RM

[2022-06-17 07:06] eroom1966 commented on #1306
@silabs-hfegran @silabs-mateilga
If I recall correctly, a long time ago I wrote a test which iterated over reading all potential 4K CSR Registers, to ensure we had compatibility between the RTL and the RM.
I cannot seem to find this in core-v-verif, do you know if this test still exists ?

[2022-06-17 08:09] eroom1966 commented on #1306
searching for the tests shouldn't the following tests cover this ?
https://github.com/openhwgroup/core-v-verif/tree/master/cv32e40x/tests/programs/custom/modeled_csr_por
https://github.com/openhwgroup/core-v-verif/tree/master/cv32e40x/tests/programs/custom/cv32e40x_csr_access_test
https://github.com/openhwgroup/core-v-verif/tree/master/cv32e40x/tests/programs/custom/requested_csr_por

[2022-06-17 08:39] eroom1966 commented on #1306
I extended the test requested_csr_por to include reading of the tcontrol register, and I do not see a difference, I think I need a bit more explanation regarding the issue
In the specification https://docs.openhwgroup.org/projects/cv32e40x-user-manual/en/0.2.0/control_status_registers.html?highlight=tcontrol#trigger-control-tcontrol I see the following

in the RM this is configured to return 0 so

[2022-06-17 09:52] Silabs-ArjanB commented on #1285
Hi @eroom1966

do you agree ?

It is okay that you skip 0.3.0 and move to 0.4.0 directly. However, please provide us with a schedule for when we can expect the 0.4.0 ISS.

[2022-06-17 09:53] eroom1966 commented on #1285
@Silabs-ArjanB

for the issue mentioned here

Which cores does this apply to
E40P, E40X, E40S

and also which version - is this a clarification to the Current release (0.2.0) or a change to the DEV release (0.4.0 ?) of the RM ?

[2022-06-17 10:06] eroom1966 commented on #1285
(0.2.0) Bitmanip enable-overrides appears to not function correctly (e.g. ctz triggers illegal instruction when enabled)

can you please tell me how to reproduce this issue

[2022-06-17 12:22] Imperas commented on #1283
I am a little confused by the above statement.

RISCOF is a python framework from RISC-V International Arch Test SIG that uses signature compare from the reference models to your DUT.  there is no CSV in RISCOF - are you confusing this with Google RISCV-DV which does a CSV and has scripts like log_to_trace_csv.py?
Simon

[2022-06-17 13:19] silabs-hfegran commented on #1285
Thanks for looking into this @eroom1966,
I just did a quick test now to reproduce this issue on cv32e40s/dev latest
change the default.yaml in core-v-verif/cv32e40s/tests/cfg/default.yaml to match the following (Basically enable Zb* extensions in RTL and in ISS):

description: Default configuration for CV32E40S simulations
compile_flags:
  +define+ZBA_ZBB_ZBC_ZBS
ovpsim: >
  --showoverrides
cflags

[2022-06-17 13:56] eroom1966 commented on #1285
Hi @silabs-hfegran
I now see this test passing with a minor adjustment to the configuration, we were simply missing the inclusion of
        .bitmanip_version    = RVBV_1_0_0,    // Bit Manipulation version 1.0.0
having added this the test now passes

as soon as Marton gets the core-v-verif changes implemented, I can put in a PR to address these issues raised above