[2022-06-17 13:57] eroom1966 commented on #1306
Fixed awaiting updates for core-v-verif to issue a PR of the model

[2022-06-17 13:57] eroom1966 commented on #1304
Fixed awaiting updates for core-v-verif to issue a PR of the model

[2022-06-17 13:58] eroom1966 commented on #1303
Fixed awaiting updates for core-v-verif to issue a PR of the model

[2022-06-17 14:03] silabs-hfegran commented on #1285
Great, thanks!

[2022-06-17 14:35] Silabs-ArjanB commented on #1285
Both cores.

I believe we only discovered this after 0.2.0 and documented it in 0.4.0. It is however fine if you already fix this in 0.2.0 of the ISS (I saw your message that there is already an option in the ISS to get the desired behavior and that is of course fine with us as well).

[2022-06-17 17:07] eroom1966 commented on #1285
@Silabs-ArjanB

do you mean all three cores ?
I listed three, not two

[2022-06-19 12:27] fatimasaleem commented on #1283
Hi @Imperas
Actually, We have not incorporated the RISCOF python framework in the core-v-verif infrastructure rather we have made some necessary changes to run the RISCOF compatible arch tests in the already existing verification environment of core-v-verif. We are running the latest arch-tests on spike and DUT, and comparing using the CSV. We are not using the sail as a reference model while runn

[2022-06-20 06:58] Silabs-ArjanB commented on #1285
@eroom1966 I meant the CV32E40X and the CV32E40S only, not the CV32E40P.

[2022-06-20 07:05] Silabs-ArjanB commented on #1305
@eroom1966,

We need that change anyway, even if a test starts failing.

@silabs-hfegran  The related code looks okay to me in the RTL and in RVFI. Is there some glue in core-v-verif perhaps interfering with this?

[2022-06-20 08:51] silabs-mateilga opened #1309 "Cover cv32e40x issue #325 in a regression test"
https://github.com/openhwgroup/cv32e40x/issues/325

This bug does not pop up in regression, this needs to be covered.

[2022-06-20 09:34] Silabs-ArjanB commented on #1305
Hi @eroom1966 Is it possible to have a screen sharing session where you show this issue today?

[2022-06-20 10:15] eroom1966 commented on #1305
@Silabs-ArjanB today is difficult - we could schedule for early tomorrow, or I could provide exact details how to reproduce ?

[2022-06-20 11:17] Silabs-ArjanB commented on #1305
Hi @eroom1966 Let's try early tomorrow then. I will send a meeting invite; just propose a different time if it is too early.

[2022-06-20 12:22] silabs-mateilga commented on #1305
@eroom1966 We don't have problems writing this csr on our simulations. If you can provide details on how to reproduce, maybe I can have a look and figure out the difference before the meeting.

[2022-06-20 15:29] eroom1966 commented on #1305
aaah, apologies - attempting to re-create all my steps now. ....

[2022-06-21 07:07] Silabs-ArjanB commented on #1305
@eroom1966 As far as we can see the issue you describe above does not exist. The PR with ISS and RVVI fixes was merged yesterday (see https://github.com/openhwgroup/core-v-verif/pull/1307). Could you please check if the issue you mention here still exists on (out of the box) core-v-verif after ÅR 1307?

[2022-06-21 07:34] silabs-mateilga commented on #1213
Issue solved

[2022-06-21 07:35] silabs-mateilga commented on #1217
related issue solved

[2022-06-21 07:38] silabs-mateilga commented on #1285
Item 3 is solved with PR #1307

[2022-06-21 07:48] Silabs-ArjanB commented on #1285
@silabs-mateilga Which item 3? Can you indicate which of the CV32E40X and which of the CV32E40S items are still open?

[2022-06-21 09:02] silabs-mateilga commented on #1285
That is item 3 for 40x. I'll try to get an overview of the other issues today.

[2022-06-21 10:26] #1305 closed

[2022-06-21 10:28] eroom1966 commented on #1306
fixed in https://github.com/openhwgroup/core-v-verif/pull/1310

[2022-06-21 10:28] #1306 closed

[2022-06-21 10:28] eroom1966 commented on #1304
fixed in https://github.com/openhwgroup/core-v-verif/pull/1310

[2022-06-21 10:28] #1304 closed

[2022-06-21 10:28] eroom1966 commented on #1303
fixed in https://github.com/openhwgroup/core-v-verif/pull/1310

[2022-06-21 10:28] #1303 closed

[2022-06-21 10:38] silabs-mateilga commented on #1285
@eroom1966 thanks, the PR is merged now. Does this cover all the issues listed under 40x?

We are going to merge (cvverif) 40x to 40s as soon as possible, to migrate these fixes, in addition to the other items that are lagging on the 40s. I'll let you know when it is done.

[2022-06-21 10:57] eroom1966 commented on #1285
yes, as far as my tests show - you will also notice I re-enabled the debug_test as part of the ci_check, as this was fixed by changing the selection regarding the debug_eret_mode

So now for
E40P debug_eret_mode is RVDRM_JUMP
E40X, E40S debug_eret_mode is RVDRM_TRAP

[2022-06-22 09:23] silabs-mateilga commented on #1285
@eroom1966 I've been running a few tests on your latest commits, and have found two issues.
1. misa bit 1, "B", mismatch for some configurations
   reproduceable by running "make test TEST=hello_world CFG=no_bitmanip"
   This bit is defined as "reserved" in the latest privileged spec, and should always read 0. For some configurations, the ISS reports this bit as high.

2. Debug cause dcsr[8:6] mis

[2022-06-22 11:50] eroom1966 commented on #1285
@silabs-mateilga
investigating issue 1, I think this is something we discovered yesterday with the behavior of the add_Extensions parameter.

unfortunately something in git seems broken, I am getting this error due to bitbucket.org ?

[2022-06-22 12:04] eroom1966 commented on #1285
@silabs-mateilga github definitely having issues, when trying to run the command

failing with

[2022-06-23 10:26] eroom1966 commented on #1285
https://github.com/openhwgroup/cv32e40x/issues/340

Here was our previous discussion on this - why did this test not fail after the April/4th change, and has only been seen now ?
copying in Mike @MikeOpenHWGroup

[2022-06-24 08:58] eroom1966 commented on #1285
@silabs-mateilga @MikeOpenHWGroup
Hi Marton, Mike,
do you have a schedule for the update of the core-v-verif infrastructure to include the necessary changes for the NMI updates.

I am currently blocked on working on the CV32E40S until I have a testbench which supports the model interfaces (as per the E40X)

[2022-06-24 11:55] silabs-mateilga commented on #1285
Hi Lee, sorry for the delayed response.

When PR 1314 is approved, you should be able to continue work on 40s.
This is by no means a finished or steady state of the 40s/dev branch, but it has the nmi updates and should allow you to pursue the other issues.

-Marton

From: Lee Moore ***@***.***>
Sent: fredag 24. juni 2022 10:59
To: openhwgroup/core-v-verif ***@***.***>
Cc: Marton Teilgard ***@***.*

[2022-06-24 16:53] eroom1966 commented on #1285
great looks like this has been merged now - some quick comments, looks like an override has been applied multiple times I am seeing this warning when running the hello-world smoke test
Info (CF_PMM_R)     Accepted:   3 --override root/cpu/mtvec_mask=0xffffff81
Info (CF_PMM_R)     **Ignored :  13** --override root/cpu/mtvec_mask=0xffffff81

[2022-06-30 00:13] MikeOpenHWGroup opened #1325 "Test: working with issues"
Hi Joe  and Maarten, this issue is a test of the following:

1. A check to see if I can assign an issue to you (I can).
2. A check to see if you receive an email from GitHub now that you've been assigned an issue.

Please reply to this issue if you do receive the email.

[2022-06-30 14:02] silabs-mateilga opened #1326 "Imperas ISS: Setting cycle_undefined=T removes mcycle csr"
When setting the ISS override cycle_undefined=T, the mcycle csr is removed. This is not correct behaviour, as it is only the cycle csr(user mode mcycle alias) that is removed. Also, the default setting for the parameter should be "cycle_undefined=T" for the cv32e40s.

### Steps to Reproduce
1. [branch cv32e40s/dev](https://github.com/openhwgroup/core-v-verif/tree/cv32e40s/dev)
2. Command line: mak

[2022-06-30 14:04] silabs-mateilga commented on #1285
@Silabs-ArjanB please add this issue to the 40s list:

https://github.com/openhwgroup/core-v-verif/issues/1326

[2022-06-30 15:27] joecircello commented on #1325
Mike,

Yes, I got a notification email indicating issue #1325<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fopenhwgroup%2Fcore-v-verif%2Fissues%2F1325&data=05%7C01%7Cjoe.circello%40nxp.com%7C6f8d727f4fc646987f4f08da5a2d6fde%7C686ea1d3bc2b4c6fa92cd99c5c301635%7C0%7C1%7C637921448447688029%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJ

[2022-07-01 07:43] yanicasa commented on #1296
https://github.com/openhwgroup/core-v-verif/pull/1324

[2022-07-01 07:48] yanicasa commented on #1296
https://github.com/openhwgroup/core-v-verif/pull/1321

[2022-07-01 10:56] silabs-oysteink opened #1327 "Imperas ISS: PUSH and POP type instructions marked as illegal instructions"
## PUSH and POP type instructions marked as illegal instructions

### Type
* Functionally incorrect behavior

### Steps to Reproduce
1. Use my fork of core-v-verif: git@github.com:silabs-oysteink/core-v-verif.git
2. Checkout my branch "silabs-oysteink_zc-decode"
3. Check out CV32E40X hash 47d4a57b9e27363ff152c364324bdbbf91a06367
4. Modify cv32e40x/rtl/cv32e40x_core.sv to set localparam ZC_EXT= 1
5

[2022-07-01 10:58] silabs-oysteink commented on #1285
@Silabs-ArjanB I added issue #1327 to core-v-verif, related to ISS marking push/pop instructions as illegal. Should be added to this list.

[2022-07-01 13:20] MaartenArts commented on #1325
Hi Mike

Github issue assignment email received in good order, thx

Best regards
Maarten

From: Mike Thompson ***@***.***>
Sent: Thursday, June 30, 2022 2:14 AM
To: openhwgroup/core-v-verif ***@***.***>
Cc: Maarten Arts (OSS) ***@***.***>; Assign ***@***.***>
Subject: [openhwgroup/core-v-verif] Test: working with issues (Issue #1325)

Hi Joe and Maarten, this issue is a test of the following:

  1

[2022-07-05 09:48] spidugu444 opened #1329 "Cebreak and cjal tests are failing in latest CVA6 riscv-arch-test suite"
![image](https://user-images.githubusercontent.com/103561542/177300809-f5d568f8-5e7a-4044-bf66-6a7224883856.png)
Please find the below [setup](https://github.com/openhwgroup/core-v-verif/pull/1254) used to bringup riscv-arch-test suite.
[64_bit_veri_cebreak-01.log.log](https://github.com/openhwgroup/core-v-verif/files/9045158/64_bit_veri_cebreak-01.log.log)
[64_bit_veri_cebreak-01.csv.csv](https:/

[2022-07-06 14:52] umerimran-10xe commented on #1329
@spidugu444 Are the above mentioned tests working fine now ?

[2022-07-07 06:03] spidugu444 commented on #1329
@umerimran-10xe Tests are not working, I think screenshots are not visible fine so i closed the ticket to create a new issue with better visibility, if possible kindly check the issue.

[2022-07-07 06:53] silabs-hfegran opened #1330 "Update CSR-access test"
cv32e40s_csr_template.yaml was updated in #1328, this issue serves as a remainder to generate a new test-section for the csr_access_test. (Test is automatically generated with some minor hand-modified sections)

[2022-07-08 09:39] eroom1966 commented on #1326
@silabs-mateilga
Back from vacation and in the process of catching up.

my understanding is that the CV32E40S supports user mode
are you saying there are no user mode accessible CSR registers ?

[2022-07-08 09:50] eroom1966 commented on #1326
Ignore previous comment
I now understand what you are saying - access to the cycle register in USER mode, is dependant upon the setting of mcounteren[CY]
if mcounteren[CY] is 0, then this should trap, going to take a look at your testcase in more detail

[2022-07-08 09:52] silabs-mateilga commented on #1326
Was just about to reply, but it seems you caught up before I finished.. FYI I will be on vacation the first two days of next week.

[2022-07-08 12:04] eroom1966 commented on #1326
@silabs-mateilga
in your infrastructure, which file do you use to set/clear the override ?
cycle_undefined=T

[2022-07-08 12:12] silabs-mateilga commented on #1326
In /lib/uvm_agents/uvma_rvvi_ovpsim/uvma_rvvi_ovpsim_agent.sv, approx line 137.

` if (cfg.core_cfg.core_name == "CV32E40S") begin
     $fwrite(fh, $sformatf("--override root/cpu/Smstateen=T\n"));
     $fwrite(fh, $sformatf("--override root/cpu/cycle_undefined=T\n"));
   end`

You should be aware that there may or may not be an issue with the way this system generates these, there was, and I'm not

[2022-07-08 12:24] eroom1966 commented on #1326
If you are setting cycle_undefined=T, I think this is a mistake, because mcycle is not undefined, and cycle (in user mode) should only generate an exception when mcounteren[CY]=0

I still think there is something missing in your instructions as I cannot reproduce a register miscompare, unless what you are saying is that when setting cycle_undefined=T causes the miscompare, that makes total sense a

[2022-07-08 12:27] silabs-mateilga commented on #1326
I made the mistake of not noting the hash where I found the issue, and things have changed. I'm trying to get a clear reproduction again now. I'll get back to you when I've sorted this out.

[2022-07-08 12:53] silabs-mateilga commented on #1326
@eroom1966  to make it clear, the issue is that when trying to access mcycle in machine mode, the ISS decodes the instruction as illegal, when the setting is set. In other words, legal accesses to "mcycle" are deemed illegal by the ISS when the alias "cycle" is set as undefined.

Reproduce, attempt two:
Still, go to the latest hash of cv32e40s/dev in core-v-verif.
In /lib/uvm_agents/uvma_rvvi_ovps

[2022-07-08 13:28] eroom1966 commented on #1326
@silabs-mateilga
the reason you are getting an illegal instruction is because you have used the setting
cycle_undefined=T

Overriding the default value of False seems wrong to me.
This is how I interpret your design, please correct me

Firstly, there is only **one** register which holds the cycle count, it is accessed as follows in the different modes.

mcycle register at address 0xB00, only acces

[2022-07-08 13:35] eroom1966 commented on #1326
If you do not override the cycle_undefined from the default setting of False, can you tell me where the difference occurs between the RTL and the ISS - because I see no difference when I execute

[2022-07-08 14:04] silabs-mateilga commented on #1326
Resolved as documentation issues.

[2022-07-08 14:05] silabs-mateilga commented on #1285
@Silabs-ArjanB 40s item 9 is resolved

[2022-07-11 12:19] silabs-hfegran commented on #1330
csr_access_test script (from riscv-dv) does not support our interpretation of WARL - all bits in WARL-defined register fields are assumed fully RW by the test generator.

One example:
write: 0x5a5a_5a5a to mstatus,
reads back:  0x0020_0080, while test generator expects 0x0020_1880 to be read back due to the WARL definition.

[2022-07-11 19:52] fatimasaleem commented on #1252
[PR-1254](https://github.com/openhwgroup/core-v-verif/pull/1254) has been merged into `cva6/dev`, which addresses this issue and adds the support to run the latest riscv-arch-tests, now I think we can close this issue. Thanks.

[2022-07-11 23:42] allenjbaum commented on #1252
Fantastic - Thanks much!

[2022-07-12 10:05] zchamski commented on #1298
PRs to be linked to this task:

* #1331 (VPTOOL initial release)
* #1332 (VPTOOL documentation fixes)

Yet to come:

* Persistent storage in Yaml format
* CV-X-IF verification plan in Yaml

[2022-07-13 12:06] silabs-hfegran opened #1337 "Enabling CLIC in imperas' ISS"
Is the necessary steps required to use CLIC interrupts with the ISS documented anywhere?
I presume there will be some new nets that needs to be interfaced with the test environment.

[2022-07-14 08:05] Silabs-ArjanB commented on #1326
@silabs-mateilga Leaving this open until it has been shown that in machine mode mcycle can be accessed and cycle cannot be accessed.

[2022-07-14 08:48] spidugu444 commented on #1329
please find the [link](https://github.com/openhwgroup/core-v-verif/pull/1254) to bring up riscv-arch-test environment.

[2022-07-14 09:21] eroom1966 commented on #1326
Hi @Silabs-ArjanB
I think this is effectively resolved, but wanted to clarify when you said 'not a documentation issue'

I was specifically referring to version 0.2.0 here
https://docs.openhwgroup.org/projects/cv32e40s-user-manual/en/0.2.0/control_status_registers.html?highlight=mcounteren#machine-counter-enable-mcounteren

bit 0 of this register
RW | CY: **cycle enable for user mode**.

This was

[2022-07-14 09:26] Silabs-ArjanB commented on #1326
Hi @eroom1966 , understood now. The mcounteren documentation issue has been solved in a later (0.4.0) release indeed. cycle and instret are treated in similar manners indeed. @silabs-mateilga just confirmed that mcycle/cycle behave as documented in both ISS and RTL on the 40S.

[2022-07-14 09:26] #1326 closed

[2022-07-14 09:37] eroom1966 commented on #1337
@silabs-hfegran
This is documented here for all of the possible bespoke configurations
Imperas/doc/ovp/OVP_RISCV_Model_Custom_Extension_Guide.pdf

Can you take a look at the section on CLIC, and let me know what your configuration should look like.

The issue we have here is that the signal interface is generated dynamically by whatever CLIC parameter value settings are selected. For the Imperas m

[2022-07-14 11:34] silabs-hfegran commented on #1337
Thank you @eroom1966,
That document seems to answer my questions.

As for the systemverilog side of things, as the CLIC-parameters are statically defined at elaboration time, we should be able to use a generate construct to create a suitable interface for any given configuration.

[2022-07-14 15:20] MikeOpenHWGroup commented on #1337
Unless I misunderstand something, this should _not_ be a problem.  SV Interfaces are static but unless we need to change the interface configuration at run time, the solution proposed by @silabs-hfegran will work.  If run-time configuration is needed, we can use virtual interfaces to connect to statically defined interfaces.  SV supports this and the concept is well supported by UVM.

[2022-07-14 17:07] Imperas commented on #1337
@MikeOpenHWGroup this testbench that you are suggesting enhancing is the old one that by now should be deprecated and the old ISS (fixed platform) also has been deprecated as we move from 40x 0.2.0 to 0.4.0 - it was for these reasons that ages ago we all talked about who was going to maintain this previous SteveR testbench - and we all agreed that we would move to a new one using RVVI/ImperasDV as

[2022-07-15 09:15] silabs-hfegran commented on #1337
@Imperas
Our stance, as previously communicated by @Silabs-ArjanB, is that the new interface is to be implemented and triaged within our testbench to the same quality standard, including regression status, as our current ISS model interface, and from our understanding, you were to work with @MikeOpenHWGroup to get this in place. Any extra work incurred for us due to the change of interface, includ

[2022-07-18 16:19] eroom1966 opened #1341 "vptool installation dependancies and execution"
@JeanRochCoulon
I saw a new tool has been created called vptool.
I followed the instructions in VPTOOL-readme.txt for installation of packages, then whent to the vptool-example directory
trying to run 'runme.sh' results in

Is this unexpected ?
rather than debug this myself, I thought it would be useful to pass back the issue to update the readme

just in case there are OS issues, my OS is
NAME="U

[2022-07-18 16:24] Imperas commented on #1337
@silabs-hfegran Henrik - agree with what you stated though the testbench is with @MikeOpenHWGroup  - yep got it. - lets discuss in this weds 40X verif meeting. Simon

[2022-07-18 17:24] JeanRochCoulon commented on #1341
Hello @eroom1966, Happy to have users to improve the tool and the related documentation. @zchamski is the owner of the tool, I will come back from holidays on August 8th. I think he will be please to answer your questions. Cheers

[2022-07-19 14:40] Imperas commented on #1341
@JeanRochCoulon its not help with the documentation we need - we just cant get the technology you have checked in to run at all. Simon

[2022-07-19 21:12] JeanRochCoulon opened #1343 "[TASK] Verification configuration"
### Is there an existing core-v-verif task for this?

- [X] I have searched the existing task issues

### Task Description

 We have to implement a process to control the testbench memory model addressing, test-program compile flags and the core configuation at compile and run-time.

Please read https://github.com/openhwgroup/core-v-verif/pull/1342 for more information

### Description of Done

Su

[2022-07-20 06:23] spidugu444 opened #1344 "cebreak tests are failing in latest cva6 riscv-arch-test suite"
Hi All,

I have an issue with  cebreak tests while running in cva6 core for riscv-arch-test suite, it has some gpr mismatch between spike and verilator as shown below.
[cebreak.S](https://github.com/riscv-non-isa/riscv-arch-test/blob/main/riscv-test-suite/rv32i_m/C/src/cebreak-01.S)

Please find the log and csv files as attached.

1. 32-bit cebreak:
![Screenshot from 2022-07-19 13-04-39](https://u

[2022-07-20 06:29] spidugu444 commented on #1329
Hi All,

After updating of riscv-arch-test unrecognized opcode issue for cjal test has been resolved and test is passing now.
For the current status of the cebreak failure i have raised a new issue (#1344) for cebreak by closing this.

[2022-07-20 06:29] #1329 closed

[2022-07-22 15:24] MikeOpenHWGroup commented on #1327
@silabs-hfegran, this issue looks like it has gone stale.  What is its status?

[2022-07-25 05:45] silabs-hfegran commented on #1327
@MikeOpenHWGroup,
I am uncertain about the current status of this issue - perhaps @silabs-mateilga or @silabs-oysteink can give an update here next week?

[2022-07-27 07:44] silabs-kun opened #1354 "xmsim: *E,ASRTST, uvmt_cv32e40s_pmp_assert.sv"
# Error message

xmsim: *E,ASRTST (/work/kuzhu/core-v-verif/cv32e40s/tb/uvmt/uvmt_cv32e40s_pmp_assert.sv,728): (time 60379800 PS) Assertion uvmt_cv32e40s_tb.dut_wrap.cv32e40s_wrapper_i.core_i.load_store_unit_i.mpu_i.pmp_i.u_pmp_assert_lsu.gen_pmp_assert.a_accept_only_legal has failed
stop: uvmt_cv32e40s_tb.dut_wrap.cv32e40s_wrapper_i.core_i.load_store_unit_i.mpu_i.pmp_i.u_pmp_assert_lsu.gen_pmp_as

[2022-07-28 08:16] Silabs-ArjanB commented on #1354
Transferred to core-v-verif

[2022-07-28 11:20] MikeOpenHWGroup commented on #1354
This issue was moved and then closed.  It looks like the closure was not intended.  @silabs-kun is this issue now resolved?

[2022-07-28 11:21] silabs-robin commented on #1354
Hi Mike. The issue is not resolved. It can be assigned to me, as I plan to look into it.

[2022-08-01 08:10] eroom1966 opened #1356 "CV32E40X: Running Custom tests"
@silabs-hfegran @silabs-mateilga

I am currently looking at the transition to using ImperasDV, and I wanted to get a baseline set of results.
I checked out the CV32E40X/dev branch, and when running all of the custom tests the following fail when run against the ISS.

[code]

Is this expected behavior ?
command line is

make CV_CORE=cv32e40x USE_ISS=YES TEST=<name> test

[2022-08-01 10:37] silabs-hfegran commented on #1356
Hi Lee,
We are currently running all tests mentioned in core-v-verif/cv32e40x/regress/cv32e40x_full.yaml, any test not mentioned in that file or with a configuration that is not specified in that file are not in a state where they necessarily are expected to pass.

On the top of my head, I know that the mhpmcounter29_csr_access_tests (both 1 and 2) needs to run with a config that sets the number o

[2022-08-02 06:46] silabs-kun commented on #1354
Hi Mike, problem solved by changing ```always @*``` to ```always_comb``` in uvmt_cv32e40s_pmp_assert.sv.

[2022-08-02 12:26] MikeOpenHWGroup commented on #1354
Hi @silabs-kun, thanks for drilling into this and getting it resolved.  A couple of comments/questons:

1. Was this issue in code that was in the central (openhw) repo?  If the problem only existed in your fork, it is not necessary to create an issue.  If this issue _was_ related to code in the openhw repo, please refer to the pull-request that resolved this issue.
2. Do you understand why `always

[2022-08-02 12:51] silabs-kun commented on #1354
1. I assume this exist in the central (openhw)repo as well since my fork is directly cloned from there.
2. Thank you very much for the info, I'll look into it.

[2022-08-03 07:39] silabs-robin commented on #1354
1. The problem is in the central repo, yes. It manifested as an assertion error in simulation that couldn't be replicated in formal (so technically, the formal tool is possibly violating the LRM). There is no pull request that fixes the problem yet, so maybe we closed this ticket too early(!), but I also have the same fixes in a completely different branch that I am working on so that gives some a

[2022-08-03 14:18] MikeOpenHWGroup commented on #1354
Thanks for this @silabs-robin, very clear.  In response to your question:

Yes, I think we should re-open this issue.

[2022-08-05 11:22] eroom1966 commented on #1309
I can reproduce this issue running cv_regress with the ImperasDV flow, I am not sure why your (current) testbench does not flag this as an error

[2022-08-10 09:07] silabs-anvesten opened #1366 "ISS: dcsr.prv bit-field does not update in the rvvi"
### Comment
Writing to the dcsr.prv bit-field results in a mismatch between the rvfi and rvvi. The ISS seems to not update the value while the core does.

### Printed failure message
UVM_ERROR @ 4287.300 ns : uvme_cv32e40s_core_sb.sv(383) uvm_test_top.env.core_sb [CORESB] CSR Mismatch, order: 294, pc: 0x1a11085e, csr: dcsr, rvfi = 0x400000c0, rvvi = 0x400000c3, mask = 0xffffffff
UVM_ERROR @ 4293.3

[2022-08-10 09:09] silabs-anvesten commented on #1285
@Silabs-ArjanB I added issue #1366 to core-v-verif, ISS mismatch bug. I believe it should be added to the list

[2022-08-10 09:11] silabs-mateilga commented on #1366
@eroom1966

[2022-08-11 09:10] eroom1966 commented on #1366
I tried to reproduce this issue in the following way (first running the sanity test)

git clone https://github.com/silabs-anvesten/core-v-verif
cd core-v-verif
git checkout c8ed2ef
make clean_all
make sanity CV_CORE=cv32e40x

But I get an error

Please advise where I made an error in my steps to reproduce

[2022-08-11 09:12] eroom1966 commented on #1366
Looks like an error in this file
./cv32e40x/tb/uvmt/uvmt_cv32e40x_iss_wrap.sv:   CPU #(.ID(ID), .VARIANT("**CV32E40X_V0.0.0**")) cpu(bus, io);

[2022-08-11 09:16] eroom1966 commented on #1366
I also tried

git checkout DebugBug
make test TEST=debug_priv_test CFG=pmp

And I got a different error

[2022-08-11 09:17] silabs-anvesten commented on #1366
My bad, I should have included this is in the original info, this is for the cv32e40s core, not the -40x

[2022-08-11 11:11] spidugu444 opened #1368 "Generation of VCD for cva6 using verilator"
Hi All,

I am trying to enable vcd on verilator for cva6 core, could anyone suggest where to enable vcd in core-v-verif environment.

Thanks in advance.

[2022-08-11 11:40] spidugu444 opened #1369 "Floating point multipication issue in RISCV cva6"
Hi All,

In CVA6 riscv-arch-test suite fmul tests are failing due to incorrect calculation as shown in below attached screenshot.

![image](https://user-images.githubusercontent.com/103561542/184125369-a6c587f6-85cd-4b44-b358-f510ad399535.png)

As shown in above in line 157 and 182 expected result is 0,as it  is multiplied with zero but in verilator it is giving value as 80000000 where as in spike

[2022-08-11 16:14] eroom1966 commented on #1366
I can see the issue here, there is some common code in the model between the E40P, E40X and E40S
this field is defined in the online docs as follows

E40P - 0x3 RO
E40X - 0x3 WARL
E40S - 0x0, 0x3 WARL

Thx
Lee

[2022-08-12 15:40] MikeOpenHWGroup commented on #1369
Thanks for this issue @spidugu444.  I have assigned it to @JeanRochCoulon, the verification lead for the CVA6.  As far as I know, the CVA6 team is not planning to support floating point operations in the initial release of CVA6, so this bug may not be a priority.

FYI, the floating point IP that is used by the CVA6 (and CV32E40P), known as `fpnew`, has recently been transferred from the pulp-platf

[2022-08-12 17:39] MikeOpenHWGroup commented on #1368
@JeanRochCoulon, @Gchauvon, @ASintzoff, can either of you answer @spidugu444's question?

[2022-08-16 08:15] JeanRochCoulon commented on #1369
Thank for this feedback.
You are using Verilator, but do you have the bug when using VCS ?   If no, which Verilator version do you use?

[2022-08-17 04:55] spidugu444 commented on #1369
@JeanRochCoulon  fmul test is failed on VCS also, currently I am using verilator-4.110 version.

[2022-08-18 08:59] AyoubJalali opened #1374 "Mstatus bug in RISCV CVA6"
I have been using the RISCV-DV (I use VCS to compile and run the generator), to improve the Code coverage of the CVA6 Core processor, by generating tests from the RISCV-DV using a YAML description, and while trying to access the CVA6’ CSRs, After a failed test, comparing the output of CVA6 with the reference model (spike), I found a mismatch between CVA6 and ref model Spike, the mismatch was in th

[2022-08-18 11:46] spidugu444 commented on #1283
with updated  version of spike issue got resolved and I am closing this issue.

[2022-08-18 11:46] #1283 closed

[2022-08-18 12:18] JeanRochCoulon commented on #1283
Great !    @spidugu444 Could you indicate the Spike version which fails and the Spike version which passes ?  To avoid using the bad version !!

[2022-08-18 14:04] AyoubJalali opened #1375 "Dead code in CVA6"
Hello, @JeanRochCoulon @ASintzoff
While improving the CC of the CVA6 core processor, I notice there is a lot of lines related to the vector extension (V extension) in the id_stage.decoder module, as i know the CVA6 don’t support V extension, so there is any meaning of code that CVA6 can't execute at all ? or we can say it's a DEAD CODE.

![vv](https://user-images.githubusercontent.com/110232072/18

[2022-08-19 06:08] spidugu444 commented on #1283
@JeanRochCoulon I faced issue while I was using commit id: e93b9cbbbcd3ad0a02ae298e9f1a2d98d3ac0153,but  with latest version [spike 1.1.0](https://github.com/riscv-software-src/riscv-isa-sim/releases/tag/v1.1.0) issue got resolved.

[2022-08-19 07:47] eroom1966 opened #1376 "Documentation: rvfi_trap size declaration"
in the documentation the rvfi_trap is documented as having width 14 bits  ([13:0])
however the declaration is 12 bits
    input logic [TRAP_WL-1:0]        rvfi_trap,
TRAP_WL is defined
localparam TRAP_WL          = 12;

so the declaration is
input logic [11:0]        rvfi_trap,

[2022-08-19 11:25] Silabs-ArjanB commented on #1376
@eroom1966 I transferred it

[2022-08-19 11:26] Silabs-ArjanB commented on #1376
@silabs-mateilga Could you please have a look at this?

[2022-08-22 07:21] silabs-mateilga commented on #1376
I'll have a look at this today.

[2022-08-22 11:36] silabs-mateilga commented on #1376
Fixed in PR [1378](https://github.com/openhwgroup/core-v-verif/pull/1378)

[2022-08-23 12:44] MikeOpenHWGroup commented on #1375
Hi @AyoubJalali, thanks for this issue, it is very useful information.   However, this is not a core-v-verif issue, it is a cva6 issue.  Please close this issue and create a new one on the CVA6 repository.

Thanks!

[2022-08-23 13:17] #1375 closed

[2022-08-23 13:26] MikeOpenHWGroup commented on #1376
Can this issue be closed?

[2022-08-23 14:12] eroom1966 commented on #1341
@JeanRochCoulon @zchamski any update on this ?

[2022-08-23 14:39] eroom1966 commented on #1376
I took the PR and it looks like I have a width error generated - I posted on the PR

[2022-08-23 16:19] silabs-mateilga commented on #1376
Hmm, this is weird, it passed ci_check before merge. I'll have a look at it again tomorrow.

[2022-08-23 16:21] eroom1966 commented on #1376
I think that is because it is only a warning - not an error

[2022-08-23 18:22] zchamski commented on #1341
Hi @eroom1966, I got my hands on an Ubuntu 18.04 machine, update/fix coming soon

[2022-08-24 08:48] silabs-mateilga commented on #1376
Put in the effort and fixed the core of the issue this time, by changing to the struct used in the core.

https://github.com/openhwgroup/core-v-verif/pull/1380

[2022-08-24 11:54] MikeOpenHWGroup commented on #1376
Thanks @silabs-mateilga.  Back to you @eroom1966 - can this issue be closed?

[2022-08-24 12:26] eroom1966 commented on #1376
yes I tested this and no more warnings - thx

[2022-08-24 12:26] #1376 closed

[2022-08-24 15:53] AEzzejjari opened #1382 "Testbench adaptation"
Hello, @ASintzoff
I have been improving code converged for AXI modules . I have executed tests that fail. These tests execute atomic operations. I found that the testbench does not support these operations, for that it's necessary to adapt it to make sure that the CVA6 respects the AXI protocol during the communication with the memory.

[2022-08-24 16:23] MikeOpenHWGroup commented on #1382
Hi @AEzzejjari, thanks for your issue.  I agree with you and **strongly** recommend to the CVA6 team that this issue be resolved by either adopting (if we can find one) or developing an AXI UVM Agent similar to the UVM [OBI Agent](https://github.com/openhwgroup/core-v-verif/tree/master/lib/uvm_agents/uvma_obi_memory) used by the UVM testbenches for the CV32E4 cores.

This will be a big task, and i

[2022-08-25 06:15] silabs-robin opened #1384 "Remove duplicate manifests"
### Task Outcome
Remove ".flist" files (or .flist contents) which duplicates other .flists within a core.

### Background information
When adding formal scripts to 40x, a new manifest file was created to overcome sim/fv differences, but it is better to have a single source of truth instead of having to update two manifests whenever something changes.

### Location Information
core-v-verif/cv32e40x

[2022-08-25 06:31] silabs-robin commented on #1384
Ref this PR https://github.com/openhwgroup/core-v-verif/pull/1377

[2022-08-25 13:31] MikeOpenHWGroup opened #1389 "Need longer-term fix for DSIM workaround (see pull-request #1383)"
Pull Request #1383 implements a workaround for a known Metrics DSIM issue.  This core-v-verif issue exists to ensure the workaround is removed once Metrics resolves their issue.

### Type
This is a tool issue that (to the best of my knowledge) only affects Metrics DSIM.

### Steps to Reproduce
Running any simulation of the CV32E40S on the cv32e40s/dev branch, hash [35f8f26](https://github.com/open

[2022-08-29 03:40] zchamski commented on #1368
@MikeOpenHWGroup , @spidugu444 : this is currently work-in-progress at my side because the task is not exactly straightforward.  First shareable results could arrive as soon as the end of this week (Sep 2).

[2022-08-30 07:16] silabs-hfegran opened #1391 "ELF vs HEX mismatch"
## ELF vs HEX mismatch

### Type
* Discrepancy between how binutils and the ISS determines which regions that are to be loaded into memory
* Possibly a linker bug, causing incorrect program header in elf-file
* If linker behavior is correct (TBD), then parsing the program header table is not sufficient to determine what parts of the binary to be loaded into system memory for a bare metal system. (

[2022-08-30 15:34] zchamski commented on #1341
Hi @eroom1966 , did you have a chance/moment to test the fix that @MikeOpenHWGroup merged into master at c1b43bc?

[2022-08-30 16:39] jeremybennett commented on #1391
hi @silabs-hfegran Would you be able to create a smaller reproducer that doesn't depend on EDA tooling, and I will take a look.

[2022-08-30 17:21] Imperas commented on #1341
I should have some time this week - thx

[2022-08-31 06:52] silabs-hfegran commented on #1391
Thanks for looking into this, @jeremybennett, I will try to create a small, self-contained example

[2022-09-01 07:35] silabs-hfegran commented on #1391
https://github.com/silabs-hfegran/debug/tree/elf_issue_1391

[2022-09-02 15:49] AyoubJalali opened #1400 "Isacov agent: coverage model"
Hi @MikeOpenHWGroup ,I have been working on reusing the ISACOV agent for CVA6, and i notice in the cover group declaration related to C extension, specifically rv32c_jal_cg & rv32c_j_cg you assign rd_is_signed to imm_is_signed , i didn't get this because i think we should assign imm_is_signed the c_imm_is_signed, because the C_J & C_JAL instructions don't use a destination register, I talk about h

[2022-09-02 16:59] MikeOpenHWGroup commented on #1400
Thanks @AyoubJalali.  I think you are right.

The definition of [rd_is_signed](https://github.com/openhwgroup/core-v-verif/blob/05ba4eb0cf6296bf35f487fbe2ab01e532d0fe26/lib/uvm_agents/uvma_isacov/uvma_isacov_tdefs.sv#L522) does not include either `C_J` or `C_JAL`.  Rather, these are defined in [c_imm_is_signed](https://github.com/openhwgroup/core-v-verif/blob/05ba4eb0cf6296bf35f487fbe2ab01e532d0fe

[2022-09-05 09:56] silabs-robin commented on #1400
Hi @AyoubJalali. I think you are right indeed. This looks like a copy-paste bug, potentially.
C_J and C_JAL does not use "rd", and the "imm_is_signed" should be connected like you propose. (Seems like with the current setup it even gets a 0 where 1 should be correct?)

--------

Additional thoughts:

Maybe those "default:" values are dangerous?
I don't know the answer right now, but we could consi

[2022-09-05 10:13] AyoubJalali commented on #1400
Hello @silabs-robin , thanks for your feedback, I'm with the idea of removing default values, because could be assigning wrong value because of a copy-paste bug, and I would like to know more about these bugs in the ISACOV, because currently i'm reusing it for CVA6, and i found some, but the main one is that the ISACOV developed for ILEN=32 & XLEN=32, but the CVA6 has a different general purpose r

[2022-09-05 13:28] silabs-robin commented on #1400
Removing defaults would be nice if it could catch errors such as the one we just saw.

However, as I look at it more closely now, all of those arrays use `instr_name_t` as an index type, so if we drop defaults then 1) we would have to tediously specify a very long list of other instructions, and 2) such a long list would have (at least) equal likelyhood of producing a similar type of mistake.
If t

[2022-09-05 13:40] AyoubJalali commented on #1400
@silabs-robin I notice this problem with the toggle coverage with C extension because of the filed length in the compressed instruction.
Thank you that was helpful, and if i had some idea i'll share with you.

[2022-09-05 14:19] MikeOpenHWGroup opened #1404 "Unify Interrupt and Debug Assertion in E-core testbenches"
### Task Outcome
As shown in the Figure below, in core-v-verif there are two methods to assert interrupts and debug requests to the core.  `Synchronous interrupts and debug requests` are invoked by the test-program which writes to a virtual peripheral supported by the memory model.  `Asynchronous interrupts and debug requests` can be triggered by a UVM Agent (not shown in the Figure).

This works

[2022-09-05 16:11] AyoubJalali commented on #1400
@MikeOpenHWGroup on the master branch ?

[2022-09-05 16:52] MikeOpenHWGroup commented on #1400
Great question, I should have specified that.  Because you are doing this work for the CVA6, please submit the PR to the `cva6/dev` branch.  All dev branches are periodically merged up to the master branch and then down across to other dev branches as required.  This will allow the cv32e40 cores to decide for themselves when and whether they need this update.

[2022-09-06 08:13] AyoubJalali commented on #1400
@MikeOpenHWGroup here is the PR https://github.com/openhwgroup/core-v-verif/pull/1405

[2022-09-06 10:45] silabs-robin opened #1406 "e40x/s - Lump assert files together"
From discussion in https://github.com/openhwgroup/core-v-verif/pull/1399#discussion_r962960940

--------

We have many assertion files and they are all just dumped into the `tb/uvmt/` directory.
Let's create `tb/asserts/` or something similar and have the files more cleanly organized that way.

Additionally, remove the `core/` stuff from the uvmt ".flist" file.

Consider also, whether we might wan

[2022-09-06 10:46] silabs-robin commented on #1406
_(The inference is "lumped > dumped")_

[2022-09-06 10:53] silabs-robin commented on #1400
That might be the case.
But, if you are fixing these, please keep in mind to double check vs the riscv spec whether some of these could be intentional. I don't know for sure, but I suspect that (because of irregularities between the instruction formats) that some fields _might_ have been "cross connected" if their bit position is at the same place. (Thought I would consider it bad practice _if_ th

[2022-09-06 12:04] MikeOpenHWGroup commented on #1406
Thanks for creating this issue @silabs-robin.  I think it will be of interest to the E40P team as well (@pascalgouedo, @YoannPruvost).  I like the idea of moving all assertion files from `<core>/tb/uvmt/uvmt_<core>_*_assert.sv` to `<core>/tb/assert/<core>_*_assert.sv`.

Having a separate manifest (flist) is also a good idea.  Hopefully we can create a unified one that can be used for both simulati

[2022-09-06 12:53] MikeOpenHWGroup opened #1408 "Illegal DefParam in isacov"
### Type
This is a compile-time error that was flagged by Metrics DSIM.  It seems that Synopsys VCS accepts this code construct.

### Description
The issue is on [line 41 of uvma_rvfi_instr_mon.sv](https://github.com/openhwgroup/core-v-verif/blob/07b23ddad943efc9b19c7d8586d5f7b80e9bd8c5/lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_mon.sv#L41).  DSIM reports that:
[code]
Making the suggested change res

[2022-09-06 12:56] JeanRochCoulon commented on #1408
@ASintzoff, could you have a look at this issue ?

[2022-09-06 13:08] MikeOpenHWGroup opened #1409 "ISACOV: class member not added to UVM field utilities"
### Type
Not adding a class member to the UVM field utils will affect other UVM macros which may cause functionally incorrect behavior.

### Steps to Reproduce
This issue was found via visual inspection.  The file in question is `uvma_rvfi_instr_mon.sv`.  At [line 41](https://github.com/openhwgroup/core-v-verif/blob/07b23ddad943efc9b19c7d8586d5f7b80e9bd8c5/lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_

[2022-09-06 14:47] AyoubJalali commented on #1408
@MikeOpenHWGroup I just create a PR for that, https://github.com/openhwgroup/core-v-verif/pull/1410
check if it work for Metrics DSIM (it work for synopsys VCS).

[2022-09-06 14:54] JeanRochCoulon commented on #1408
Great @AyoubJalali, let's see if it works !

[2022-09-06 16:17] MikeOpenHWGroup commented on #1408
Works for me.  Thanks for the quick turn-around @AyoubJalali.

[2022-09-06 16:17] #1408 closed

[2022-09-08 14:53] AyoubJalali opened #1414 "ISACOV : incorrect passed arguments in get_instr_value_type() method"
Hello @JeanRochCoulon @ASintzoff ,
So I have notice some incorrect argument value in get_instr_value_type(bit[XLEN-1:0] value, int unsigned width, bit is_signed) for some C extension instruction,starting from https://github.com/openhwgroup/core-v-verif/blob/9962aebe36b339bf88ca7e1d8cb3143e10edbda4/lib/uvm_agents/uvma_isacov/uvma_isacov_mon.sv#L232 to https://github.com/openhwgroup/core-v-verif/blo

[2022-09-08 20:06] MikeOpenHWGroup commented on #1414
Hi @silabs-robin, can you have a look?  AFAICT, you are the author.

[2022-09-09 14:49] silabs-robin commented on #1414
Nice catch. It is a bug indeed. For example, `c.swsp` has a 6-bit immediate, but the quoted code is using `8` because there are 2 implicit zero-bits, and your are right about the `get_data/field_imm()` difference.

For how to fix it, I am not sure which alternative is better. Preferably, the one that is the most likely to reveal errors. But I don't know which of them that would be, so I'll trust w

[2022-09-09 15:01] AyoubJalali commented on #1414
@silabs-robin, think you for this, i think it will be very helpful for me.
Answering your question , I was investigating some missing coverage (bins related to value type), and I review the code manually.
I'm totally agree that if we replace the get_field_imm with get_data_imm, that not gonna help to reveal like these kind of error, but I have an idea to passed in the width argument the size of th

[2022-09-16 12:33] zchamski commented on #1368
The current state of work is available as PR #1417 and its companion PR in CVA6 https://github.com/openhwgroup/cva6/pull/954.

The waveform support is operational on VCS and Verilator setups and is controlled by the same variables in each evnrionment (see the description of the PR at the top of this page.)

Please note that the ***usage of the `DEBUG` variable is subject to change*** (it is likely

[2022-09-16 12:53] jquevremont commented on #1294
PR submitted in Thales internal CI.

[2022-09-16 13:05] jquevremont commented on #1296
Status at today's meeting.

[2022-09-16 13:05] #1296 closed

[2022-09-16 13:11] jquevremont commented on #1297
3 out of 6 CV-X-IF interfaces implemented.
New task to open for the outstanding 3 interfaces.

[2022-09-16 13:11] #1297 closed

[2022-09-16 13:13] jquevremont commented on #1298
2022-09-16: work in progress. 2 limitations detected.

[2022-09-16 13:15] jquevremont commented on #1299
Work in progress. Verification stated on 3 out of 6 interfaces. Need to reveiw.

[2022-09-16 13:17] jquevremont commented on #1343
Configurations defined. Not yet implemented.

[2022-09-22 15:08] JeanRochCoulon commented on #1298
Following the elaboration of the first dvplan (FRONTEND) with VPTOOL, VPTOOL need this improvements:
- Fill-up the DVPLAN intro chapter named "getting start verification", could be a copy from README
- In the md file, PASS/FAIL Criteria is a number, to be replaced by the corresponding ASCII field.
- Add the design document version, the DVPLAN author and the VPTOOL version. To be exported in md fil

[2022-09-26 08:18] AyoubJalali opened #1425 "ISACOV: Incorrect length for rs1 & rs2 & rd in some compressed instructions"
Hello, @silabs-robin
I notice in https://github.com/openhwgroup/core-v-verif/blob/master/lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv there is some incorrect coverpoint declaration for some **C_TYPE** like **(CIW, CL, CS, CB)**, https://github.com/openhwgroup/core-v-verif/blob/05ba4eb0cf6296bf35f487fbe2ab01e532d0fe26/lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv#L1293, so in t

[2022-09-28 09:44] silabs-robin commented on #1425
Hi.

I had to investigate a bit because I don't remember what all these things mean (and we weren't clever enough in the past to add descriptive names or comments).

Btw, we used "Spike" (aka "riscv-isa-sim") at the time because we had more faith in the decoding of a tried and true riscv implementation than in writing a new decoder for isacov. (We have actually had some discussion recently debatin

[2022-09-28 11:04] AyoubJalali commented on #1425
hello,
I prefer also to simply decode instructions, it difficult a little bit but it's simple to read instead of the **dpi_dasm**.
Yes also for CIW, i just give an example.
I would like to have a discuss later to see how we can re-implement C extension in ISACOV, for now i'll let this for now.
Thanks you for your respond.

[2022-09-28 16:28] MikeOpenHWGroup commented on #1425
When ISACOV was in early development we considered this, and in the long-term I would very much like to have a decoder built into ISACOV (or as a stand-alone component used by ISACOV).  I estimate that this would be at least two-engineering-months of effort, so at the time we (myself and Steve Richmond of SiLabs) decided to use dpi_dasm.

If you would be interesting in helping OpenHW develop a dec

[2022-09-28 16:31] AyoubJalali commented on #1425
Yes I would like

[2022-09-28 19:03] MikeOpenHWGroup commented on #1425
Fantastic!  That would be a great contribution. Let's discuss that outside of this GitHub issue.

[2022-10-03 10:00] zchamski commented on #1368
The support is now available in the mainline.  The revised PRs #1427 and https://github.com/openhwgroup/cva6/pull/965 have been merged into their respective base branches:
* `core-v-verif`: branch `cva6/dev`, commit https://github.com/openhwgroup/core-v-verif/commit/8f9e8e03b50ee846e80de837f3bca21432715e84
* `cva6`: branch `master`, commit https://github.com/openhwgroup/cva6/commit/871be7c7943820e

[2022-10-03 11:40] MikeOpenHWGroup commented on #1368
Hi @spidugu444, does #1427 satisfy your request?  If so, please close this issue.  Thanks.

[2022-10-07 13:35] AyoubJalali opened #1437 "ISACOV : No rs1 for c.mv & c.add instructions"
Hello, @MikeOpenHWGroup @silabs-robin
Always in isacov, I notice that there some cover group like, cp_rs1_toggle & cp_rs1_value in c.mv & c.add instructions, but these instructions don't use rs1, so it's better to remove these cover group, and also in c_has_rs1 typedef should be reviewed  https://github.com/openhwgroup/core-v-verif/blob/383dbc81f2292a785c05bea8125d157f42aa8db5/lib/uvm_agents/uvma_

[2022-10-07 14:03] MikeOpenHWGroup commented on #1437
I believe you are right @AyoubJalali.   The two lines in `uvma_isacov_tdefs.sv` that you point out can be removed.  Also, in [uvma_isacov_cov_model.sv](https://github.com/openhwgroup/core-v-verif/blob/05ba4eb0cf6296bf35f487fbe2ab01e532d0fe26/lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv#L911), the covergroup `cg_cr` should have the following removed:
[code]
...and...
[code]
@silabs-robin

[2022-10-10 09:01] silabs-robin commented on #1437
Hello folks.

Good catch Ayoub. That's sharp.

For `c.mv` you are right that it doesn't use `rs1`.
It merely has the `rd/rs1` field in its format, but it only uses the `rd` part of it.
Therefore, I agree that `C_MV` can be removed from the `c_has_rs1` list.
(Although, the name of that list could then be more accurately be reflected by a name like `c_uses_rs1`?)

For `c.add` I am not sure if I agre

[2022-10-11 08:09] AyoubJalali commented on #1437
@silabs-robin, I totally agree with you, so the solution is to use the c_has_rs1, because the c.mv & c.add share the same format, so we could remove c.mv from c_has_rs1 and keep c.add, and  we use it as a condition to create the covergroup for rs1.

[2022-10-11 09:24] silabs-mateilga commented on #1285
This could be as simple as the test not creating this scenario, or the tests failing on other issues before this.

-Marton

From: Lee Moore ***@***.***>
Sent: torsdag 23. juni 2022 12:27
To: openhwgroup/core-v-verif ***@***.***>
Cc: Marton Teilgard ***@***.***>; Mention ***@***.***>
Subject: Re: [openhwgroup/core-v-verif] Overview of open issues related to CV32E40X/CV32E40S Imperas ISS (Issue #128

[2022-10-11 12:22] MikeOpenHWGroup commented on #1437
Sounds like we are in alignment.  @AyoubJalali, can you create a pull-request with these fixes and improvements?  Thanks!

[2022-10-11 12:36] AyoubJalali commented on #1437
@MikeOpenHWGroup Sure !!

[2022-10-11 14:41] AyoubJalali commented on #1437
@MikeOpenHWGroup PR #1442 to fix the issue

[2022-10-14 10:04] AyoubJalali opened #1444 "ISACOV: No rd for c.jr & c.jalr"
Hello,
So I notice that there's some covergroup for c.jr & c.jalr has :
cp for rd (i don't think these instructions use rd) https://github.com/openhwgroup/core-v-verif/blob/05ba4eb0cf6296bf35f487fbe2ab01e532d0fe26/lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv#L985
also for rs1 cp, we used rdrs1_is_signed, is it better to use rs1_is_signed https://github.com/openhwgroup/core-v-verif/blob/

[2022-10-17 13:12] silabs-hfegran opened #1448 "CV32E40S: Imperas ISS in some circumstances flags cm.push as illegal instruction"
ISS flags cm.push instruction as illegal instruction

It appears that if certain (unclear) conditions are met, the ISS flags cm.push instructions as illegal instructions.
While it is not entirely clear to me why this happens, it appears to be related to some kind of memory/stack corruption of sorts.

What is the expected response from the ISS in case of a `cm.push` instruction that pushes/allocate

[2022-10-17 13:29] eroom1966 commented on #1448
@silabs-hfegran
Hi Henrik,
Can you please give me the exact set of commands/steps to reproduce locally ?

thx
Lee

[2022-10-17 13:59] eroom1966 commented on #1448
OK, let me take another look

Thx
Lee

[2022-10-17 14:06] eroom1966 commented on #1448
@silabs-hfegran
Can you double check - I do not see an elf file ?

[2022-10-17 14:24] eroom1966 commented on #1448
@silabs-hfegran
You have selected compress_version 0.70.1
Also take a look at the overrides, it seems you are applying conflicting overrides - search the log for
root/cpu/Compressed_Extension

[2022-10-17 14:36] eroom1966 commented on #1448
@silabs-hfegran
is this the E40X ?
There were a number of fixes to the 0.70.1 spec, one of them I am pretty sure is related to the change related to stack pointer alignment.
Are you able to run this with the new model under the E40X/ImperasDV

[2022-10-17 14:53] eroom1966 commented on #1448
I saw this in the changelog for the model for version 0.70.1

[2022-10-17 14:54] eroom1966 commented on #1448
lets get this testcase into the new cv32e40x/dev environment, pretty sure it will be correct.

[2022-10-18 06:05] silabs-hfegran commented on #1448
@eroom1966 Thanks for your answers! This was indeed on the 40S without the latest updates, thus I had no more recent option than 0.70.1 - I (falsly, I guess) assumed that since there were no changes to this instruction from that version till now that it should work as expected. I will run this test on the 40X as soon as I get the necessary functionality in on the 40S.

[2022-10-18 06:09] silabs-hfegran commented on #1448
Apologies for the missing binaries, .gitignore was playing tricks on me - they are in now, but I guess there is no point in spending time on this until testing with the latest version.

[2022-10-18 10:40] AyoubJalali commented on #1444
@silabs-robin for me we can keep rd cp, but only when rd = x1, in this way we are sure that we only cover x1 (talking about c.jalr), for c.jr it seems disable rd is the best thing.

In the CR format in general rs1 exist, but in the coverage model the CR format divide to cr & cr_j, in this way for cr_j we don't have rs1 in the format (correct me if i'm wrong)

[2022-10-18 14:50] AyoubJalali commented on #1444
@silabs-robin I'll make some changes and i let you know !! thanks

[2022-10-25 10:52] AyoubJalali opened #1453 "ISACOV : wrong arguments for the toggle macro"
Hi,
I think we have another problem related to difference between get_field_imm & get_data_imm, because while looking for some missing coverage, I notice that in some instructions we're trying to toggle a 6 bits imm using a macro to toggle a 8 bits imm, here lengths did not match and let us with some uncover bins, that's because in the macros we passed the get_filed_imm (return always 6 bits lengt

[2022-10-27 09:06] silabs-robin commented on #1453
I think this is one of the points on my list https://github.com/openhwgroup/core-v-verif/issues/1076, _"Fix indices of toggle macros (the "imm"s are now aligned downto 0)"_.

Using `get_data_imm` doesn't make sense, right? Because it will in many cases just append a zero to a number, so that zero cannot get toggled.
IIRC, I switched the coverpoints to using `get_field_imm` before, and I started fi

[2022-10-27 10:19] silabs-robin opened #1456 "ISACOV: Sequential sampling incorrect"
### Type

* Functionally incorrect behavior

### Steps to Reproduce

Run any test/regression and look at `rev32_seq_cg`.

### Additional context

It seems like the sampling of sequences of instructions is non-functional.

When I look at coverage metrics for a "full" regression, it seems only "A->A" transitions are covered (e.g. "ADDI->ADDI").
(See screenshot below.)
This indicates that something a

[2022-10-27 10:22] AyoubJalali commented on #1453
Yes , I think less we use  get_data_imm , better for coverage

[2022-10-27 11:03] AyoubJalali commented on #1456
Yes, exactly same result, i didn't notice that because for me it the last cg to look for now (for me).

Yes because no sample if instr = UNKNOWN

[2022-10-27 11:18] AyoubJalali commented on #1456
@silabs-robin look at this
https://github.com/openhwgroup/core-v-verif/blob/05ba4eb0cf6296bf35f487fbe2ab01e532d0fe26/lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv#L1399

isn't we should create cover group for instr_prev.name instead of instr.name ?? like this
  cp_instr_prev_x2: coverpoint(instr_prev.name)  {
    `ISACOV_IGN_BINS
    ignore_bins IGN_X2_OFF = {[0:$]} with (!seq_instr_x2_e

[2022-10-27 11:59] silabs-robin commented on #1456
That seems to be it, yeah :)

[2022-10-27 12:56] silabs-robin opened #1458 "Formal: Use correct prefix"
### Task Outcome
Use `DV_` for the `..._PATH` variables (instead of the current `CV_` prefix).

### Background information
More info at https://mattermost.openhwgroup.org/all-users/pl/1ore9q7jti8dmbhbonhdnojpoh

### Location Information
https://github.com/openhwgroup/core-v-verif/tree/cv32e40s/dev/cv32e40x/fv

### Completion Criteria
Use `DV_` for the `..._PATH` variables (instead of the current `

[2022-10-27 12:56] AyoubJalali commented on #1456
Yes it works for me

[2022-10-27 13:07] silabs-robin opened #1459 "Formal: Improvements"
### Task Outcome

Provide a brief description of what is expected.  For example, "Implement an
XYZ UVM Agent." If necessary point to a specification document.

### Background information

Initial formal scripts for 40s/x has been implemented for Jasper, but there is still more to clean up.

### Location Information

* Common files: `mk/fv/`
* 40s: `cv32e40s/fv/`
* 40x: `cv32e40x/fv`

### Completio

[2022-10-27 13:47] silabs-robin commented on #1456
Nice. Looking forward to re-measuring our coverage with all of the improvements you have made.

I will close this issue after a related PR gets merged.

[2022-10-27 13:51] AyoubJalali commented on #1456
Best luck to get 100% :)

[2022-10-27 15:22] MikeOpenHWGroup commented on #1456
@silabs-robin can you provide the actual PR number here?  Thanks.

[2022-10-27 15:27] silabs-robin commented on #1456
There is no PR number yet AFAIK.
But, @AyoubJalali, you have a fix for the problem, so you might soon have a PR up?
If you @ me in that PR I can link to it here, or if you reference this issue in the PR, then Mike's request will be fulfilled.

[2022-10-27 15:31] AyoubJalali commented on #1456
No problem for me, I'll reference this issue in the PR

[2022-10-28 14:04] jquevremont commented on #1298
André: The task has progressed since last month with users' feedback. First usable version targetted e/o 2022.

[2022-10-28 14:05] jquevremont commented on #1294
@ASintzoff provided feedback. Waiting for the fix.

[2022-11-03 08:49] silabs-hfegran opened #1468 "Imperas ISS tdata1 reset value incorrect"
## ISS tdata1 reset value incorrect

### Steps to Reproduce
Please provide:
1. cv32e40s/dev, hash 5db0790e98e5e022c7e51f14b9f40fdcc74564ca
2. `make test TEST=generic_exception_test CV_CORE=cv32e40s CFG=default USE_ISS=NO `

### Additional context
Reset value causes trigger match to be enabled out of reset for address 0, this causes any traps that occur to force the ISS into debug mode.
Spec v0.6.0

[2022-11-03 09:06] silabs-hfegran opened #1469 "ISS default mcountinhibit value incorrect"
## ISS mcountinhibit reset value incorrect

### Steps to Reproduce
cv32e40s/dev, hash https://github.com/openhwgroup/core-v-verif/commit/5db0790e98e5e022c7e51f14b9f40fdcc74564ca
make test TEST=hello-world CV_CORE=cv32e40s CFG=default USE_ISS=NO

Comment out lines 724, 725 in core-v-verif/cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv (This is a temporary workaround for this issue)

### Addition

[2022-11-03 09:16] silabs-hfegran opened #1470 "Imperas ISS: Disable "Invalid instruction-warnings" to stdout possible?"
Running invalid instruction tests, it could be very beneficial to suppress ISS' invalid instruction warnings, is there a way to do this?

A log file with 100k
`Illegal instruction (core 0) at PC xxxxxxx:`
`Warning (RISCV_UDEC) CPU 'refRoot/cpu' 0x0002633a d055c2eb undef: Undecoded instruction`
is not very useful, and the frequent writes to log files might incur a performance penalty

[2022-11-04 10:06] eroom1966 commented on #1470
I think this message is produced by the testbench, not the ISS
` Illegal instruction (core 0) at PC xxxxxxx:`

This message
` Warning (RISCV_UDEC) CPU 'refRoot/cpu' 0x0002633a d055c2eb undef: Undecoded instruction`
Can be filtered by using the -excludem command, this is documented in the Control File User Guide

you should be able to add
-excludem RISCV_UDEC

I also found a number of occasions whe

[2022-11-04 10:10] eroom1966 opened #1472 "remove references to core-v-verif/vendor_lib/imperas"
@MikeOpenHWGroup @silabs-hfegran @silabs-mateilga

I have a blocking issue due to the incorporation of libraries into the running simulator executable
This is due to the previous generation ISS integration loading an out of date library
in order to move forward I need any references removing, could somebody take the lead on this ?

[2022-11-04 10:11] eroom1966 commented on #1469
in order to make progress on this, I have a dependency on resolving #1472
Please re-assign once this is complete

[2022-11-04 10:12] eroom1966 commented on #1468
I have a fix for this in my local environment, but cannot move forward until #1472 is resolved
please re-assign me when this is complete

[2022-11-04 10:14] eroom1966 commented on #1448
I have a fix for this, I can commit after a fix to #1472

[2022-11-04 10:15] eroom1966 commented on #1337
is this issue still open - or can this be closed

[2022-11-04 10:17] silabs-hfegran commented on #1337
It is resolved - there are a couple of issues I am investigating, but those should be in separate issues

[2022-11-04 10:17] #1337 closed

[2022-11-04 10:17] eroom1966 commented on #1327
I am still assigned on this issue - is there something for me to look at ?
I think this is probably pending fixes to the RVFI interface to drive multiple destination registers in a single retirement ?

[2022-11-04 10:20] eroom1966 commented on #268
Is this still open
This should go away I hope once the move to ImperasDV is complete ?

[2022-11-04 11:38] silabs-mateilga commented on #1327
@eroom1966 I think this issue is deprecated now, I'll get Øystein to close it, and we'll open new issues if there is still something here. That said, the RVFI interface is expanded to drive multiple registers, and has been for weeks now. The signals are the set of rvfi_gpr_* found [here](https://github.com/openhwgroup/cv32e40s/blob/master/bhv/cv32e40s_rvfi.sv#L315).

[2022-11-04 11:39] silabs-oysteink commented on #1327
This issue is likely out-of-date. I'll close it, and if the issue comes back we can make a new or reopen this one.

[2022-11-04 11:39] #1327 closed

[2022-11-04 12:07] MikeOpenHWGroup commented on #1470
The "Illegal instruction" message comes from the "core_log" file in the CV32E40S ([link](https://github.com/openhwgroup/cv32e40s/blob/68a94befb5771e8b29ce445cfcf2de6de5877cb4/bhv/cv32e40s_core_log.sv#L58)).  This has been there since the RI5CY core days and I have been unsuccessful getting rid of it.

[2022-11-04 12:08] MikeOpenHWGroup commented on #1472
@eroom1966 can you provide more information?

[2022-11-04 12:22] MikeOpenHWGroup commented on #268
Agreed.

[2022-11-04 13:12] eroom1966 commented on #1469
Apologies RTFM - just seen your comment about removing lines

[2022-11-04 14:28] zchamski commented on #1298
* [DONE] In the md file, PASS/FAIL Criteria is a number, to be replaced by the corresponding ASCII field.
  * Fixed for all fields with enumerated or bitmap-based values: `Pass/Fail Criteria`, `Test Type`, `Coverage Method`, and `Applicable Cores`.
  * see PR core-v-verif#1445.

[2022-11-04 17:13] eroom1966 commented on #268
Unfortunately I cannot close the issue

[2022-11-04 17:15] eroom1966 commented on #1472
I think @silabs-hfegran is working on this but ...
There is a shared object in the vendor_lib/imperas which gets loaded
This conflicts with a newer version.

The requirement here, is to remove all references to the code in vendor_lib/imperas - this can then be deleted and the problem goes away

[2022-11-06 19:41] MikeOpenHWGroup opened #1476 "Cover "debug_request asserted while dret executing while in debug mode" scenario"
### Task Outcome
Ensure functional verification of the following scenario:
- core is in debug mode.
- a `dret` instruction is fetched, and begins working its way through the execution pipeline.
- before the dret instruction completes, a debug_request is asserted.

### Task Outcome
1. Update DVplan(s) for the above scenario.
2. Implement functional coverage (either `covergroup` or `cover property`)

[2022-11-07 11:52] silabs-hfegran commented on #1470
Thanks for clearing that up, I will create a PR to remove (or conditionalize) this

[2022-11-08 15:57] eroom1966 commented on #1472
Looks like this is now resolved thanks @silabs-hfegran

[2022-11-08 15:57] #1472 closed

[2022-11-08 15:59] eroom1966 commented on #1448
@silabs-hfegran are you able to re-test this with the latest commits ?

[2022-11-14 03:13] Zhengshuhang opened #1488 "Error when I run the core-v and compiliance test"
Hi, I am a beginner of core-v-verif. I have successfully run through the core testbench and UVM testbench examples with USE_ISS=NO, but I have problems with other code:

First, when I generate, compile, and run tests with core-v:
make corev-dv
make gen_corev-dv test TEST=corev_rand_jump_stress_test CV_SIMULATOR=vsim USE_ISS=NO

and the error is :
<img width="552" alt="image" src="https://user-imag

[2022-11-14 03:14] Zhengshuhang commented on #1488
the second error is this , sorry
<img width="554" alt="image" src="https://user-images.githubusercontent.com/77762994/201567503-852b507a-4b82-47a6-9e86-94b6f5de4e74.png">

[2022-11-14 13:54] MikeOpenHWGroup commented on #1488
Hi @Zhengshuhang, thanks for creating this issue.  Actually, this is two issues, so let's work on the first one.

Please attach the complete compile logfile to this issue - there may be some useful information that is not included in the snipit you have posted.

Your logfile indicates that `gcc` cannot parse the linker script, `link_ld`.  This will be at `/home/ubuntu20/workspace/core-v-verif/cv32

[2022-11-14 14:49] Zhengshuhang commented on #1488
Thx for your reply!
Firstly,I can find the first link.ld :
![image](https://user-images.githubusercontent.com/77762994/201683837-f23b12ad-c086-4565-b63c-bf2d6ba4e337.png)

and the second file exists too:
![image](https://user-images.githubusercontent.com/77762994/201684115-fd92fa84-5c79-459a-894d-f06be0cbd861.png)

both are only one line: link.ld

I download corev gcc cross-compile toolchain from

[2022-11-14 14:52] Zhengshuhang commented on #1488
By the way, I find that I do not have a commercial license, so I can only set USE_ISS=NO, is there any way for me to get a commercial license?

[2022-11-14 17:49] MikeOpenHWGroup commented on #1488
I do not see any issues in your logfile except for the `link.ld:0: syntax error` message, so I strongly suspect the issue is your gcc version.  I am running Ubuntu 22.04 and using `riscv32-embecosm-gcc-ubuntu2004-20211212` from the Embecosm website.

To answer your other questions:

We currently have no plans for this.  We are a member-driven, open-source organization and would gladly consider a c

[2022-11-14 17:53] pascalgouedo commented on #1488
Hi,

gcc 12.0 is used for CV32E40Pv2 version of the GNU Compiler toolchain.
I switched to that version last week without any trouble.
But I am working on rhel7, not ubuntu.

[2022-11-15 14:27] Zhengshuhang commented on #1488
Hi，thx for your help;
I finally run the corev-dv test successfully by
`make gen_corev-dv test TEST=corev_rand_jump_stress_test CV_SIMULATOR=vsim USE_ISS=NO`
I solve the previous question by copy the content in `/home/ubuntu20/workspace/core-v-verif/cv32e40p/bsp/link_corev-dv.ld` to `/home/ubuntu20/workspace/core-v-verif/cv32e40p/bsp/link.ld`
It seems that at some point link.ld was changed, so it n

[2022-11-16 15:02] AyoubJalali opened #1492 "ISACOV : getting always zero for the immediate in c.lw"
Hello,
I notice that i always get a zero for the immediate value for c.lw instruction, so i checked the isacov.log and it seems that for c.lw instruction immediate get always zero, whatever value I give the immediate in the test.
So i investigate in this issue, and i think the problem is in the get_field_imm in [uvma_isacov_instr.sv](https://github.com/openhwgroup/core-v-verif/blob/cva6/dev/lib/uv

[2022-11-17 14:52] zchamski commented on #1298
Status update after PR https://github.com/openhwgroup/core-v-verif/pull/1493 was merged:

**DONE**

**DONE**

***"Mostly done"*** (still to do: detailed cleanup, `pylint` metrics improvements)

Remaining short-term TODOs:
  * *Fill-up the DVPLAN intro chapter named "getting start verification", could be a copy from README*
    * affects static content in `cva6/docs/VerifPlans/source`, does not aff

[2022-11-17 14:58] JeanRochCoulon commented on #1298
From this morning meeting, these topics should be addressed:
- remove the comments and link to coverage information from markdown when empty
- Add the reference specification with url and version/hash
- Find a way to link to the right chapter of the reference spec
- Push PR into vptool/dev

[2022-11-17 15:07] silabs-robin opened #1498 "Formal: Add Assumes"
### Task Outcome
Assumes must be added to be used with the formal scripts.

### Background information
Without e.g. constraints on OBI, there will be "unexpected behavior".
We do have this implemented in a different setup locally, so I could share a list of what should be included (if requested) but I don't have any time to spend on fixing this in core-v-verif atm.

### Location Information
* `Com

[2022-11-17 15:25] silabs-hfegran commented on #1468
PR #1496 with its associated RTL hash should fix the tdata1 reset value

[2022-11-17 15:26] #1469 closed

[2022-11-17 16:32] MikeOpenHWGroup commented on #1298
I _like_ this idea!   Recommend that we first merge `cva6/dev` to master and then create a new branch called `vptool/dev` from master.

[2022-11-17 21:57] MikeOpenHWGroup opened #1499 "Disjoint control of Interrupt interface in CORE-V-VERIF"
An "interesting implementation" has crept into core-v-verif and it affects how interrupts to the DUT are asserted and de-asserted by the verification environment.  This affect all E40 cores and the E20 as well.

**Problem Statement**:
Interrupts can be asserted using the [interrupt virtual peripheral](https://docs.openhwgroup.org/projects/core-v-verif/en/latest/test_programs.html#virtual-periphera

[2022-11-18 08:26] silabs-robin commented on #1499
Here are my immediate thoughts:

This is confusing and bad.
I can imagine myself getting frustrated by this too if I were to get caught up in that situation.

This idea almost came to my mind as I was reading about the problem too.
Seems like an orderly way to do it.

If that is truly the case, then I would not personally mind that change.
But I feel a slight apprehensiveness.

[2022-11-18 08:29] silabs-robin commented on #1499
But I also feel like maybe I don't think it is a big problem. Things work. People have overcome the problems. Changing it requires work. Changing it might break stuff. Overall, I don't have a strong opinion either way.

[2022-11-18 08:39] silabs-robin commented on #1459
History:

* Setup initial testbench-scripts
* Port from 40x to 40s
* Create future-plans github-issues
* Add "formal" github-label
* ?

_(I might or might not maintain this list as we progress.)_

[2022-11-18 10:32] silabs-hfegran commented on #1499
While I am fully behind the reasoning for this proposition, I am a little worried about the possible implications and time that will inevitably have to be spent to get this in place. There is also another interrupt agent present, the clic_interrupt_agent that uses the same VP as the interrupt agent in case the core is configured to use clic interrupts instead of clint. Care needs to be taken to en

[2022-11-18 10:59] silabs-hfegran commented on #1448
This appears to have been resolved, thanks! :)

[2022-11-18 10:59] #1448 closed

[2022-11-18 11:01] #1470 closed

[2022-11-18 11:04] silabs-hfegran commented on #1309
@silabs-mateilga : What is the status on this? can this be closed?

[2022-11-18 11:48] silabs-mateilga commented on #1309
@silabs-hfegran I am not aware that any effort has been made to create an assertion and/or directed test to cover this.

[2022-11-18 12:05] silabs-robin commented on #1354
This issue is fixed. The PMP assertion files now use `always_comb`. Please close the issue.

[2022-11-18 12:32] #1354 closed

[2022-11-18 14:21] silabs-mateilga commented on #1499
As one of the unfortunates who had to dig through this to figure out how it actually fits together, I absolutely agree that this needs fixing. As it is looking at the VP(40s perspective), you can see that the irq lines are driven directly, and no mention or hint at how it is to be deasserted. It takes a lot of time to wrap your head around, and limits the ability of the VP to a large degree.

The

[2022-11-18 14:55] MikeOpenHWGroup commented on #1488
I'm confused.  These work-around should not be necessary.  Are the [required environment variables](https://github.com/openhwgroup/core-v-verif/blob/master/mk/README.md#required-corev-environment-variables) set properly?

[2022-11-18 15:39] pascalgouedo commented on #1488
This is master branch.
As we were told to use cv32e40p/dev branch (and not master) since the beginning, we always used following setup :
setenv COREV YES
setenv COREV_SW_TOOLCHAIN ...
because CV_SW_TOOLCHAIN setting never worked (don't remember why).
Lee experienced the same lately when trying to help debug interrupt stuff ...

Anyway apart from that slight different setup, we don't have to make s

[2022-11-21 18:27] MikeOpenHWGroup commented on #1488
Hi @Zhengshuhang, what is the status of this issue?  If you are using the master branch of CORE-V-VERIF, you should not have any any trouble.  If your TOOLCHAIN parameters are set like this:
[code]
And your toolchain is installed in `$CV_SW_TOOLCHAIN/bin/$CV_SW_PREFIX` then the following should work for you:
[code]
The "hex" target will compile the test-program (hello-world in this case), but will

[2022-11-22 14:29] MikeOpenHWGroup commented on #1488
Happy to see you making progess @Zhengshuhang.

1. You should not set `RISCV_DEVICE` in your `make compliance` command line.  Are there instructions in the READMEs to do that?  If there are, please let me know and I will fix it.
2. You will need to contact Imperas Software if you want a functional ISS to use.

[2022-11-22 15:26] silabs-robin opened #1502 "Fencei VP Misbehavior"
### Type
* Functionally incorrect behavior

### Steps to Reproduce
Branch: `cv32e40s/dev`.
Hash: Latest or `47a423f0`
[code]

### Additional context
The line at https://github.com/openhwgroup/core-v-verif/blob/cv32e40s/dev/cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_fencei_tamper_seq.sv#L150 calls an ISS DPI function, but it doesn't first check that the ISS is enabled.
The ISS subsequently complaints

[2022-11-22 15:39] MikeOpenHWGroup commented on #1502
I'm confused.  Shouldn't the ENV guarantee that the Reference Model is initialised before any virtual sequences are launched?

[2022-11-22 15:44] silabs-robin commented on #1502
Good point. I changed the description above to ask for more investigation on what the best solution actually is.

The problem here is that if you run with USE_ISS=0, then there is deliberately no initialization of the ISS. In that case, the VP should not boldly make a DPI call to the ISS.

(Note, this is not a big issue. It is almost a non-issue. The tests using the fencei VP should preferably be

[2022-11-22 15:47] silabs-robin commented on #1502
Actually... there is also a slightly bigger issue.

This is not strictly true.
There will be printed an "error", but the test will say "passed".
This can be dangerous, if the ISS is printing some error messages and regressions just pass.

[2022-11-22 15:51] MikeOpenHWGroup commented on #1502
This is a separate and very dangerous situation.  Please open another issue for this.  Upon detection of an error the Reference Model _must_ either invoke `uvm_error()` or provide a signal to the ENV that will result in an unambiguous invocation of `uvm_error()`.

[2022-11-22 16:00] silabs-robin opened #1503 "ISS Error Not Counted"
### Type
* Functionally incorrect behavior

### Steps to Reproduce
Branch: `cv32e40s/dev`.
Hash: Latest or `47a423f0`
[code]

The ISS will print `Error (IDV) validateRefMemoryWrite: Reference model not initialized` but the test will still pass.
`Quit count :     0 of     5` and `UVM_ERROR :    0`.

### Additional context
Errors should lead to test fail. Otherwise, regressions can mask problems.
Th

[2022-11-23 07:13] guojiazhuxi commented on #1244
Excuse me, how is this solved?

[2022-11-23 15:11] MikeOpenHWGroup commented on #1244
@ghost can you comment?

[2022-11-23 16:14] guojiazhuxi commented on #1244
The Constraint package in the Requirements.txt file is a Python2 package, not the Python3 package，Did you write wrong?

[2022-11-23 21:02] MikeOpenHWGroup commented on #1244
@guojiazhuxi and @ghost can you have a look at pull-request #1505?  Thanks.

[2022-11-24 01:36] Zhengshuhang commented on #1488
Hi @MikeOpenHWGroup ，Thank you for your kind and timely reply!
1.I should not set `RISCV_DEVICE` ,I just copied this part by mistake and I've corrected it now.
but when I run `make compliance RISCV_ISA=rv32i COMPLIANCE_PROG=I-ADD-01 CV_SIMULATOR=vsim USE_ISS=NO`
the same error still exists, I would like to know whether I can run the compliance test sample code of this project without LICENSE? Sinc

[2022-11-24 02:59] guojiazhuxi opened #1506 "Script variable problem"
## Bug Title
When verifying the Core-V-Verif Quick Start Guide article，Discover Error: UnrecoGnized OPCode `CSRW MTVEC, A0 ', Extension` ZICSR' Required error，Discovery after review，the $CFLAGS variable in ~/core-v-verif/mk/Makefile is not passed to ~/core-v-verif/cv32e40p/bsp/Makefile

是a中的p变量没有传递到c

### Type
Indicate whether the type of problem you found:
* Compile error (hopefully nobody has co

[2022-11-25 14:02] aledolme opened #1508 "CV32E40X simulation"
Hello!

I'm having some troubles in compiling CV32E40X uvm simulation (starting from /sim/uvmt folder) that I've not encountered with CV32E40P.
In particular, using the same simulation enviroment and the same simulator, with CV32E40X I got this error, at Running vlog step:

*******************************************************************************************
* Running vlog in $HOME/core-v-ve

[2022-11-28 16:28] MikeOpenHWGroup commented on #1508
Hi @aledolme, thanks for your issue.  Up to last week I did not have access to Questa tools and AFAIK, none of the teams involved in the E40X are using Questa, so it is possible that the Makefiles for running the E40X on Questa have suffered bit-rot.

The good news is that I now have access to Questa and I will look into your issue as soon as possible (probably not today).

[2022-11-28 17:03] MikeOpenHWGroup commented on #1506
Hi @guojiazhuxi, thanks for your issue.  I do not see this problem.  Could you provide me with your _exact_ commands starting from `git clone` and ending with `make...`?  It would also be helpful if you could attach anything written to stdout.

Thanks!

[2022-11-28 18:30] pascalgouedo commented on #1506
Hi @MikeOpenHWGroup,

This is all related to the last Embecosm toolchain (20221031) which now requires _zicsr in all march definitions.

Hi @guojiazhuxi
CFLAGS value transmission between Common.mk and bsp Makefile seems to be incorrect.
The update you need right now is just to replace rv32imc by rv32imc_zicsr in bsp makefile.
We will manage to update the repo once another bunch of updates will be

[2022-11-28 22:30] MikeOpenHWGroup commented on #1508
Pull-request #1511 _should_ restore Questa for E40X.

[2022-11-29 04:45] Zhengshuhang commented on #1488
Hi，Thanks for your kindly help!
I think this may be caused by my previous mistakes. I am going to try to solve this problem by myself. If I cannot solve it, I will come back to you for help. Now I'm going to close this comment. I am deeply touched by your kindness and patience. Wish you every success in your work!

[2022-11-29 04:45] #1488 closed

[2022-11-29 08:32] aledolme commented on #1508
Thanks you! However, despite the changes in the vsim.mk, there are still some problems which I not encounter with CV32E40P version, in the compiling phase of BSP in Common.mk file.

***************************************************************************************
* Compiling the BSP
***************************************************************************************
mkdir -p  $HOME/core-v

[2022-11-29 16:17] MikeOpenHWGroup commented on #1508
This is very odd indeed.  It is not at all clear where is command-line is being issued:

That is not a command that is issued by any of the CORE-V-VERIF Makefiles and/or scripts.  It looks to me like `$HOME/core-v-verif/cv32e40x/sim/uvmt/vsim_results/default/hello-world/0/test_program/bsp/Makefile` was somehow corrupted.

Try `make clean_all` and try compiling/running again.

[2022-11-30 11:35] silabs-oysteink opened #1516 "ISS mismatch on exception trigger debug entry"
## ISS mismatch on exception trigger debug entry

### Type
Indicate whether the type of problem you found:
* Likely ISS error

### Steps to Reproduce
1. Use core-v-verif from my fork/branch: https://github.com/silabs-oysteink/core-v-verif/tree/etrigger_test
2. Use cv32e40x hash e65267768e371ce9bdbd3e6e40b24254c96e0689
3. ISS version v20221107.0
4. from cv32e40x/sim/uvmt run the following:
5. make

[2022-11-30 13:06] silabs-oysteink opened #1517 "ISS mismatch on writing 0 to tdata1"
## ISS mismatch on writing 0 to tdata1
Writing 0 to tdata1 shall cause tdata1 to contain a disabled trigger (type 15)
![image](https://user-images.githubusercontent.com/66771756/204803187-43c6c57e-66a8-4b24-b176-5fd19cb574ab.png)

When writing 0 to tdata1 I get the following ISS mismatch:
![image](https://user-images.githubusercontent.com/66771756/204803303-21de8d5a-bbec-400d-8036-1cec02b33fd9.png

[2022-11-30 13:14] eroom1966 commented on #1517
Hi @silabs-oysteink
(mention @Silabs-ArjanB)
I have not yet tried to reproduce, but looking at the error, isn't this an illegal write violating the WARL behavior ?
https://docs.openhwgroup.org/projects/cv32e40x-user-manual/en/0.6.0/control_status_registers.html#trigger-data-1-tdata1

The specification as my understanding goes, if an illegal value is written to a CSR, the value remains unchanged.
0

[2022-11-30 13:29] eroom1966 commented on #1516
@silabs-oysteink
I am trying to enable the instruction tracing to obtain additional information from the reference model
previously I had uncommented code in
./mk/uvmt/xrun.mk : line 351
to enable trace etc

It looks like this is no longer being used, so please let me know how to pass options to the reference model in the imperas control (.ic) file

[2022-11-30 13:39] silabs-oysteink commented on #1517
Hi @eroom1966 ,
I agree that the current user manual describes the WARL behavior as you say. However, the debug spec is explicit in the case of writing 0 to tdata1, so we will add to the note for tdata1 in the user manual that "writing 0x0 disables the trigger (and therefore changes the value of tdata1 to 0xf800_0000, which is the only supported value for a disabled trigger)"

[2022-11-30 13:39] pascalgouedo commented on #1506
Looks good as long as you stay in master branch ...

[2022-11-30 13:40] eroom1966 commented on #1516
I tried running the basic debug_test, and this fails on a csr read of TINFO
[code]
This would imply that the TINFO is powering up in an illegal state, as this should be readonly
Reset Value: 0x0000_8060
The RTL is returning value 0x0000_0004

https://docs.openhwgroup.org/projects/cv32e40x-user-manual/en/0.6.0/control_status_registers.html#trigger-info-tinfo

[2022-11-30 13:41] silabs-oysteink commented on #1516
@silabs-mateilga do you know how to pass these options to the ISS?

[2022-11-30 13:45] eroom1966 commented on #1516
Also, I note that the following registers are still ignored
[code]
When I enable these, I get immediate errors
[code]
https://docs.openhwgroup.org/projects/cv32e40x-user-manual/en/0.6.0/control_status_registers.html#debug-control-and-status-dcsr
Reset Value: 0x4000_0413

https://docs.openhwgroup.org/projects/cv32e40x-user-manual/en/0.6.0/control_status_registers.html#trigger-info-tinfo
Reset Value

[2022-11-30 13:54] eroom1966 commented on #1516
I missed that, I had presumed it was in the ExternalRepos.mk

trying again

[2022-11-30 13:58] silabs-oysteink commented on #1516
Yes, there are some features from UM 0.6.0 that are not yet implemented in RTL. Therefore, the DCSR checks should be disabled until we get the mprven properly tied to 1. Tdata1 and tinfo should be ok to include though.

[2022-11-30 15:18] eroom1966 commented on #1517
@silabs-oysteink
investigating this a little further - It appears from the debug spec there is an implementation design choice which says when writing the value 0, which non-zero value is assigned. I think this also needs adding to your specification document, that a write of type=0, results in a read value of type=0xf

This will need a revision of the model, which I can investigate now, I have yo